# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

db.sqlite3
staticfiles/

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
htmlcov/

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Django stuff:
*.log
*.pot

.vscode/
angular_api
logs/
amadeus/uploads/*
data/
links/static/images/

h5p/sheets/xls/*
!h5p/sheets/xls/.keep

material_delivery/sheets/xls/*
!material_delivery/sheets/xls/.keep

questionary/sheets/xls/*
!questionary/sheets/xls/.keep

dashboards/sheets/xls/*
!dashboards/sheets/xls/.keep
static/
!amadeus/static/
!h5p/static/

backup.json

# Keep only pictures to default news
!amadeus/uploads/news
amadeus/uploads/news/*
!amadeus/uploads/news/intro.jpg
!amadeus/uploads/news/caracteristicas.jpg
!amadeus/uploads/news/tecnologias.jpg
!amadeus/uploads/news/codigo.jpg
!amadeus/uploads/news/equipe.jpg

certbot
backup
cron.log
