asgi-redis==1.0.0
asgiref==1.0.0
channels==1.0.3
coverage==4.2
daphne==1.0.2
decorator==4.0.10
dj-database-url==0.4.1
Django==1.10.4
django-autoslug==1.9.3
django-bootstrap-breadcrumbs==0.8
django-braces==1.10.0
django-common-helpers==0.9.0
django-cron==0.5.0
django-crontab==0.7.1
django-discover-runner==1.0
django-filter==1.0.4
django-floppyforms==1.7.0
django-modalview==0.1.5
django-oauth-toolkit==1.0.0
django-oauth2-provider==0.2.6.1
django-rest-swagger==2.1.2
django-role-permissions==1.2.1
django-s3direct==0.4.2
django-session-security==2.4.0
django-summernote==0.8.6
django-tracking2==0.3.3
django-unixdatetimefield==0.1.6
django-widget-tweaks==1.4.1
django-wysiwyg==0.8.0
djangoajax==2.3.6
djangorestframework==3.6.4
entrypoints==0.2.2
fcm-django==0.2.11
file-resubmit==0.1.0
gunicorn==19.6.0
Jinja2==2.8
lxml==3.7.3
MarkupSafe==0.23
msgpack-python==0.4.8
oauth2==1.9.0.post1
oauth2-provider==0.0
oauthlib==2.0.1
openapi-codec==1.3.2
openpyxl==2.4.5
packaging==16.8
Pillow==3.3.1
psycopg2==2.7.3.1
dj-database-url==0.4.1
pandas==0.19.2
pycpfcnpj==1.0.2
pyfcm==1.3.1
python-dateutil==2.6.0
python-slugify==1.2.0
redis==2.10.5
requests==2.13.0
requests-toolbelt==0.8.0
shortuuid==0.4.3
simplejson==3.11.1
six==1.11.0
slugify==0.0.1
Unidecode==0.4.19
validators==0.11.0
virtualenv==15.0.3
Werkzeug==0.11.11
whitenoise==3.2.2
xlrd==1.0.0
xlwt==1.2.0
