asgi-redis==1.0.0
asgiref==1.0.0
autobahn==0.17.1
beautifulsoup4==4.5.1
channels==1.0.3
click==6.6
constantly==15.1.0
coverage==4.2
daphne==1.0.2
decorator==4.0.10
deps==0.1.0
dj-database-url==0.4.1
Django==1.10.4
django-autoslug==1.9.3
django-bootstrap-breadcrumbs==0.8
django-braces==1.10.0
django-common-helpers==0.9.0
django-cron==0.5.0
django-crontab==0.7.1
django-discover-runner==1.0
django-floppyforms==1.7.0
django-modalview==0.1.5
django-oauth-toolkit==0.10.0
django-role-permissions==1.2.1
django-s3direct==0.4.2
django-session-security==2.4.0
django-summernote==0.8.6
django-widget-tweaks==1.4.1
django-wysiwyg==0.8.0
djangorestframework==3.4.6
file-resubmit==0.1.0
gunicorn==19.6.0
incremental==16.10.1
Jinja2==2.8
lxml==3.6.4
MarkupSafe==0.23
msgpack-python==0.4.8
numpy==1.12.1
oauthlib==1.0.3
pandas==0.19.2
Pillow==3.3.1
psycopg2==2.6.2
pycpfcnpj==1.0.2
python-dateutil==2.6.0
pytz==2016.10
redis==2.10.5
requests==2.11.1
six==1.10.0
slugify==0.0.1
Twisted==16.6.0
txaio==2.6.0
validators==0.11.0
webencodings==0.5
Werkzeug==0.11.11
whitenoise==3.2.2
zope.interface==4.3.3
