{% load static i18n chat_tags %}

{% if participants.count > 0 %}
	<div class="panel category-panel-content panel-body">
        <h2 class="my-subjects-title"><b>{% trans 'Participants' %}</b></h2>

        <div id="content-list" class="participants-group">
            {% for participant in participants %}
                {% include 'chat/_view_participant.html' with space=space space_type=space_type %}
            {% endfor %}
        </div>
        <div class="col-md-12">
            <div class="text-center">
                <div class="holder"></div>
            </div>
        </div>
    </div>
{% else %}
	<div class="text-center no-subjects">
        <i class="fa fa-envelope-o"></i>
        <h4>{% trans 'There is no other participants in this space yet.' %}</h4>
    </div>
{% endif %}