<!-- 
Copyright 2016, 2017 UFPE - Universidade Federal de Pernambuco
 
Este arquivo é parte do programa Amadeus Sistema de Gestão de Aprendizagem, ou simplesmente Amadeus LMS
 
O Amadeus LMS é um software livre; você pode redistribui-lo e/ou modifica-lo dentro dos termos da Licença Pública Geral GNU como publicada pela Fundação do Software Livre (FSF); na versão 2 da Licença.
 
Este programa é distribuído na esperança que possa ser útil, mas SEM NENHUMA GARANTIA; sem uma garantia implícita de ADEQUAÇÃO a qualquer MERCADO ou APLICAÇÃO EM PARTICULAR. Veja a Licença Pública Geral GNU para maiores detalhes.
 
Você deve ter recebido uma cópia da Licença Pública Geral GNU, sob o título "LICENSE", junto com este programa, se não, escreva para a Fundação do Software Livre (FSF) Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA.
-->

{% load i18n chat_tags %}

{% chat_user request.user chat as talking_to %}

{% is_online talking_to as status %}

<div id="talk-chat-{{ talking_to.id }}" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 participant panel">
    <div class="col-md-1 col-sm-1 col-xs-2 user-img">
        <img src="{{ talking_to.image_url }}" class="img-responsive" />
    </div>
    <div class="col-md-6 col-sm-6 col-xs-10 user-info">
        <h4 class='talking-header'><a class="user_{{ talking_to.id }}_status status {{ status }}" data-toggle="tooltip" title="{{ status|status_text }}"></a> {{ talking_to }} (<span class="chat_notify_list">{{ chat|notifies:request.user }}</span>)</h4>
        <p class="talk-last_msg">{% trans 'Last message in' %} {{ chat|last_message }}</p>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12 buttons pull-right text-center">
        <a href="#" onclick="getModalInfo($(this), '{{ space }}', '{{ space_type }}'); return false;" data-url='{% url "chat:talk" talking_to.email %}' class="btn btn-raised btn-success pull-right">{% trans 'Access Talk' %}</a>
    </div>
</div>
