{% load i18n chat_tags %}

{% is_online participant as status %}

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 participant panel">
    <div class="col-md-1 col-sm-1 col-xs-2 user-img">
        <img src="{{ participant.image_url }}" class="img-responsive" />
    </div>
    <div class="col-md-4 col-sm-4 col-xs-10 user-info">
        <h4><a class="user_{{ participant.id }}_status status {{ status }}" data-toggle="tooltip" title="{{ status|status_text }}"></a> {{ participant }}</h4>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12 buttons pull-right text-center">
        <a href="#" onclick="getProfile($(this), '{{ space }}', '{{ space_type }}'); return false;" data-url='{% url "chat:profile" participant.email %}' class="btn btn-raised btn-default">{% trans 'See Profile' %}</a>
        <a href="#" onclick="getModalInfo($(this), '{{ space }}', '{{ space_type }}'); return false;" data-url='{% url "chat:talk" participant.email %}' class="btn btn-raised btn-success">{% trans 'Send Message' %}</a>
    </div>
</div>
