<!-- 
Copyright 2016, 2017 UFPE - Universidade Federal de Pernambuco
 
Este arquivo é parte do programa Amadeus Sistema de Gestão de Aprendizagem, ou simplesmente Amadeus LMS
 
O Amadeus LMS é um software livre; você pode redistribui-lo e/ou modifica-lo dentro dos termos da Licença Pública Geral GNU como publicada pela Fundação do Software Livre (FSF); na versão 2 da Licença.
 
Este programa é distribuído na esperança que possa ser útil, mas SEM NENHUMA GARANTIA; sem uma garantia implícita de ADEQUAÇÃO a qualquer MERCADO ou APLICAÇÃO EM PARTICULAR. Veja a Licença Pública Geral GNU para maiores detalhes.
 
Você deve ter recebido uma cópia da Licença Pública Geral GNU, sob o título "LICENSE", junto com este programa, se não, escreva para a Fundação do Software Livre (FSF) Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA.
-->

{% load static i18n chat_tags %}
{% load widget_tweaks %}

{% is_online participant as status %}

<div id="chat-{{ participant.id }}" class="modal-dialog" role="document">
	<div class="modal-content">
		<div class="modal-header talk_header">
			<div class="modal_profile_sidebar pull-left">
				<span class="pull-left">
					<img src="{{ participant.image_url }}" />
				</span>
				<h4 class="pull-left" data-breadcrumb="{% trans 'Talk with ' %}{{ participant }}">
					<a class="user_{{ participant.id }}_status status {{ status }}" title="{{ status|status_text }}"></a> 
					<b>{{ participant }}</b>
				</h4>
			</div>
	        <button type="button" class="close" data-dismiss="modal" aria-label="{% trans 'Close' %}"><span aria-hidden="true">&times;</span></button>
      	</div>
		<div class="modal-body talk_body">
			<div class="row-fluid">
				<div class="talk-filter">
	                <h4>{% trans 'Filter' %}</h4>

	                <form id="chat-filters" class="form-inline" action="" method="GET">
	                    <div class="checkbox">
	                        <label>
	                            <input name="favorite" type="checkbox"> {% trans 'Favorite messages' %} <i class="fa fa-thumb-tack"></i>
	                        </label>
	                    </div>
	                    <div class="checkbox">
	                        <label>
	                            <input name="mine" type="checkbox"> {% trans 'My messages' %}
	                        </label>
	                    </div>
	                </form>
	            </div>
	        </div>
	        <div class="row-fluid">
	        	<div class="messages-container" data-talk="{{ talk_id }}" data-url="{% url 'chat:load_messages' talk_id %}" data-page="{{ page_obj.number }}" data-pages="{{ paginator.num_pages }}" data-viewed="{{ messages_viewed }}" data-space="{{ subject }}">
	        		<button type="button" class="btn btn-block btn-success btn-raised more-msgs" style="{% if paginator.num_pages == page_obj.number %}display:none;{% endif %}margin:0px">
	                    {% trans 'See old messages' %}
	                </button>

	                <div class="alert alert-success loading-msgs" role="alert" style="display:none">
	                    <center>
	                        <span class="fa fa-spin fa-circle-o-notch"></span>
	                    </center>
	                </div>
	        		<div class="messages_new">
	        			{% trans 'You have new messages...' %}
	        		</div>
	        		<div class="messages-list">
	        			{% include 'chat/_list_messages.html' %}
	        		</div>
	        	</div>
	        </div>
		</div>
		<div class="modal-footer message-sender">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 message-sender-container">
				<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 user-img">
					<div>
						<img src="{{ request.user.image_url }}" class="img-responsive" />
					</div>
				</div>
				<div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 message-field">
					<div class="message-container">
						<form id="short-chat" class="col-md-11" method="post" action="{{ form_url }}" enctype="multipart/form-data">
							{% csrf_token %}

							<div class="msg_placeholder">{% trans 'Type a new message' %}</div>
							<div id="msg_editable" contenteditable="true"></div>
							{% render_field form.text style="display:none" %}
						</form>
						<button id="send-img" onclick="getForm($(this));" data-url="{% url 'chat:create' participant.email talk_id space space_type %}" class="action-button" type="button">
							<i class="fa fa-camera"></i>
						</button>
						<button id="send-msg" class="action-button" type="submit" form="short-chat" style="display:none">
							<i class="fa fa-send"></i>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>