* {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}

body {
  background: var(--page-background);
}

.htmx-request .htmx-hide {
  display: none !important;
}

.htmx-visible {
  display: none !important;
}

.htmx-request .htmx-visible {
  display: inline-block !important;
}

.elements-bg-body-primary {
  background-color: var(--primary-color-variant-2);
  color: var(--text-color-bright) !important;
}

.elements-bg-body-primary .navbar-brand {
  color: var(--text-color-bright);
}

.breadcrumb {
  background-color: var(--breadcrumb-background);
  font-style: italic;
}

.breadcrumb-item a {
  cursor: pointer;
  color: var(--primary-color-variant-2);
}