{% extends 'subject/index.html' %}

{% load i18n widget_tweaks static django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb 'Create exam' 'course:create_exam' %}
{% endblock breadcrumbs %}

{% block content %}
<div class="panel panel-primary">
  <div class="panel-heading">
    <h4 class="panel-title" id="exam-title">{% trans "Create a Exam" %}</h4>
  </div>
  <div class="panel-body">
    <div class="row form-group">
      <label for="exam_name" class="col-md-2 control-label">{% trans "Exam Name" %}</label>
      <div class="col-md-10">
        <input type="text" name="exam_name" class="form-control" id="exam_name" placeholder="{% trans 'Exam Name' %}">
      </div>
    </div>
    <div class="row form-group">
      <label for="begin_date" class="col-md-2 control-label">{% trans "Exam's begin date" %}</label>
      <div class="col-md-4">
        <input type="date" name="begin_date" class="form-control" id="begin_date" placeholder='{% trans "Begin Date" %}'>
      </div>
      <label for="end_date" class="col-md-2 control-label">{% trans "Exam's end date" %}</label>
      <div class="col-md-4">
        <input type="date" name="end_date" class="form-control" id="end_date" placeholder='{% trans "End Date" %}'>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-md-10">
        <div class="checkbox">
          <label>
            <input type="checkbox" name="checkbox"><span class="checkbox-material"></span> {% trans "Allow submissions after deadline?" %}
          </label>
        </div>
      </div>
    </div>
    <div class="row form-group" id="buttonAddQuestion">
      <div class="col-md-10">
        <button id="addQuestion" type="button" class="btn btn-raised btn-default">Add new question buton</button>
      </div>
    </div>
  </div>
  <div class="panel-footer">
    <button type="button" class="btn btn-default btn-raised" data-dismiss="modal">{% trans "Close" %}</button>
    {% block button_save %}
    <!-- Put curtom buttons here!!!  -->
    <button type="submite" id="button" form="form" class="btn btn-primary btn-raised">{% trans "Create" %}</button>
    {% endblock button_save %}
  </div>
</div>

{% block javascript %}
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="{% static 'js/Exam.js' %}"></script>
  <!-- Init material Bootstrap -->
  <script type="text/javascript">$.material.init()</script><!-- O botao radio volta a funcionar quando coloco essa função-->
{% endblock %}
{% endblock content %}
