{% extends "exam/create.html" %}

{% load i18n static%}

{% block title_exam %}
<!-- Put your title here!!!  -->
<h4 class="modal-title" id="myModalLabel">{% trans "Delete Exam" %}</h4>
{% endblock title_exam %}

{% block content_exam %}
<script src="{% static 'js/modal_exam.js' %}"></script>
<!-- Put ONLY your content here!!!  -->
<form id="delete_form" action="" method="post">
  {% csrf_token %}
    <p>{% trans 'Are you sure you want to delete the subject' %} "{{exam.name}}"?</p>
</form>
{% endblock content_exam %}

{% block button_save %}
<button type="submite" id="button" form="delete_form" class="btn btn-primary btn-raised">{% trans "Delete" %}</button>
<script>
  $("#delete_form").submit(function(event) {
    Submite.remove("{% url 'course:exam:delete_exam' exam.slug %}",$(this).serialize(),"#exam_{{exam.slug}}");
    event.preventDefault();
  });
</script>
{% endblock button_save %}
