{% load i18n %}

<div class="row form-group" >
  <div class="col-md-1">
    </br>
    <label><span class="glyphicon glyphicon-move"></span></label>
  </div>
  <div class="col-md-10">
    <input class="form-control" placeholder='{% trans "Write your alternative" %}'></input>
  </div>
  <div class="col-md-1">
    </br>
    <label><span class="glyphicon glyphicon-remove" onclick="this.parentNode.parentNode.parentNode.parentNode.removeChild(this.parentNode.parentNode.parentNode);"></span></label>
  </div>
</div>
