{# {% extends "base.html" %} #}

{% load i18n %}
{# {% block content %} #}
<style>
  .glyphicon-remove:hover {
    cursor: pointer;
  }
  .glyphicon-move:hover {
    cursor: move;
  }
</style>
<div class="" id="0">
  <div class="row form-group">
    <div class="col-md-1">
      </br>
      <label><span class="glyphicon glyphicon-move"></span></label>
    </div>
    <div class="col-md-2">
      <label for="questionName" class="control-label">{% trans "Question" %}</label>
    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-11">
          <input class="form-control" id="questionName" placeholder="{% trans 'Question' %}"></input>
        </div>
        <div class="col-md-1">
          </br>
          <label><span class="glyphicon glyphicon-remove"></span></label>
        </div>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-md-offset-1 col-md-2">
    <label class="control-label">{% trans "Alternatives: T/F" %}</label>
  </div>
    <div class="col-md-9" id="radiosTF">
      {% include "exam/true_or_false_answer.html" %}
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-9 col-md-offset-3">
      <button type="button" class="btn btn-primary btn-raised" id="new_alternative">{% trans "New Alternative" %}</button>
    </div>
  </div>
</div>
<script type="text/javascript">
  $("#new_alternative").click(function(){
    $.get("{% url 'course:exam:true_or_false_answer' %}", function(data){
      $("#radiosTF").append(data);
    });
  });
  //deve ser importado apenas depois do html
  $( "#radiosTF" ).sortable({ // utilizado para fazer a re-organização das respostas
      delay: 100,
      distance: 5,
      update: function( event, ui ) {
        var cont = 1;
        $("#radiosTF div div input").each(function(){
                $(this).attr('name',cont++);
        });
      },
  });
</script>
{# {% endblock content %} #}
