{% extends "exam/create.html" %}

{% load i18n dict_access static%}

{% block style %}
{% endblock %}

{% block title_exam %}
<!-- Put your title here!!!  -->
<h4 class="modal-title" id="myModalLabel">{{exam.name}}</h4>
{% endblock title_exam %}

{% block content_exam %}
<!-- Put ONLY your content here!!!  -->
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <p>{% trans "Limit date:" %} {{exam.limit_date|date:'d/m/y'}}</p>
  </div>

</div>
{% endblock content_exam %}

{% block button_save %}
<!-- Put curtom buttons here!!!  -->
{% if not status %}
<button type="button" onclick="javascript:modal.get('{% url 'course:exam:answer_student_exam' exam.slug%}','#exam','#modal_exam');$('div.modal-backdrop.fade.in').remove();" class="btn btn-primary btn-raised">{% trans "Answer" %}</button>
{% endif %}
{% endblock button_save %}
