<!DOCTYPE html>

<!-- 
Copyright 2016, 2017 UFPE - Universidade Federal de Pernambuco
 
Este arquivo é parte do programa Amadeus Sistema de Gestão de Aprendizagem, ou simplesmente Amadeus LMS
 
O Amadeus LMS é um software livre; você pode redistribui-lo e/ou modifica-lo dentro dos termos da Licença Pública Geral GNU como publicada pela Fundação do Software Livre (FSF); na versão 2 da Licença.
 
Este programa é distribuído na esperança que possa ser útil, mas SEM NENHUMA GARANTIA; sem uma garantia implícita de ADEQUAÇÃO a qualquer MERCADO ou APLICAÇÃO EM PARTICULAR. Veja a Licença Pública Geral GNU para maiores detalhes.
 
Você deve ter recebido uma cópia da Licença Pública Geral GNU, sob o título "LICENSE", junto com este programa, se não, escreva para a Fundação do Software Livre (FSF) Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA.
-->

{% load static i18n django_bootstrap_breadcrumbs %}
{% get_current_language as LANGUAGE_CODE %}

<html>
<head>
	<title>{{ title }} | {{ theme.title }}</title>

    <!-- jQuery & jQuery UI -->
    <script type="text/javascript" src="{% static 'js/jquery-3.1.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-ui.js' %}"></script>

	<meta http-equiv="Cache-Control" content="no-cache, no-store" />
    <meta name="robots" content="index">
    <meta name="keywords" content="amadeus,amadeuslms,amadeus lms,amadeus cin,amadeus univasf,amadeus ufpe,amadeus cin ufpe">

	<link href="{{ theme.favicon_url }}" rel="shortcut icon" />
	<!-- Roboto font -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  	<!-- Bootstrap and themes (material) -->
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap-3.3.7/css/bootstrap.css' %}">

	<link rel="stylesheet" type="text/css" href="{% static 'material/css/bootstrap-material-design.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'material/css/ripples.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'material/css/ripples.min.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-datetimepicker.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/alertifyjs/alertify.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/alertifyjs/themes/bootstrap.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'css/jPages.css' %}">

	<script src="{% static 'js/cropper.min.js' %}"></script> <!-- Js for cropper-->
	<link href="{% static 'css/cropper.min.css' %}" rel="stylesheet"> <!-- CSS for cropper-->

	<script type="text/javascript" src="{% static 'js/printThis.js' %}"></script> <!-- Print this plugin js-->


	<script type="text/javascript" src="{% static 'bootstrap-3.3.7/js/bootstrap.min.js' %}"></script>
	<!--<script type="text/javascript" src="{% static 'js/bootstrap-acessibility2.min.js' %}"></script>-->
	<script type="text/javascript" src="{% static 'material/js/material.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'material/js/ripples.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/moment-with-locales.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap-datetimepicker.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/alertify.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jscookie.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jPages.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/d3.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'subjects/js/modal_subject.js' %}"></script>

  	<!-- Font awesome -->
	<link rel="stylesheet" type="text/css" href="{% static 'font-awesome-4.6.3/css/font-awesome.min.css' %}">

	<!-- Custom styles -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/base/amadeus.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base/amadeus_responsive.css' %}">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    {% block style %}
	{% endblock %}
	{% block javascript %}
	{% endblock %}

	<!-- Summernote -->
	<script src="{% static 'summernote/summernote.js' %}" type="text/javascript"></script>
	<link href="{% static 'summernote/summernote.css' %}" type="text/css" rel="stylesheet" />

    <script src="{% static 'summernote/lang/summernote-lang.js' %}" type="text/javascript"></script>

	{% if contrast_cookie %}
	    <link rel="stylesheet" type="text/css" href="{% static 'css/themes/contrast.css' %}">
	{% else %}
		{% with 'css/themes/'|add:theme.css_style|add:'.css' as theme_selected %}
				<link rel="stylesheet" type="text/css" href="{% static theme_selected %}">
		{% endwith %}
	{% endif %}

    <script type="text/javascript">
        var lang = "{{ LANGUAGE_CODE }}";
        var array = lang.split('-');

        var new_lang = array[0];

        if (array.length > 1) {
            new_lang += '-';
            new_lang += array[1].toUpperCase();
        }

    </script>
</head>
<body data-lang="{{ LANGUAGE_CODE }}">
    {% block nav %}
        <div class="navbar navbar-default hidden-sm hidden-xs">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'subjects:home' %}">
                    <img class="logo pull-left" src="{{ theme.small_logo_url }}" alt="Logo" />
                    <span class="pull-right project_name">{{ theme.title }}</span>
                </a>
            </div>

            <div class="navbar-collapse collapse navbar-responsive-collapse">
                <div class="col-md-6 col-md-offset-1 col-sm-6 col-sm-offset-1 col-lg-7 col-lg-offset-1 text-center">
                    <form id="SearchForm" action="{% url 'subjects:search' %}" method="get" accept-charset="utf-8" class="navbar-form">
                        <div class="input-group">
                            <div class="form-group is-empty" >
                                <input type="text" class="form-control top-search" placeholder="{% trans 'Search for subjects and resources' %}" name="search">
                            </div>
                            <span class="input-group-btn input-group-sm">
                                <button type="submit" class="btn btn-primary" id="btn-search">
                                    <i class="fa fa-search" aria-hidden="true" style="font-size:20px"></i>
                                </button>
                            </span>
                        </div>
                    </form>
                </div>

                <ul class="nav navbar-nav navbar-right notifications">
					<li class="dropdown language-selector-on-header" title data-original-title="{% trans 'Language Selector' %}" style="width:40px;">
                        <a href="#" class="dropdown-toggle title" data-toggle="dropdown" data-close-others="true">
                            <i class="fa fa-cog hidden-xs" aria-hidden="true"></i>
                            <span class="visible-xs-inline">{% trans 'Language Selector' %}</span>
                            {% with 'img/'|add:LANGUAGE_CODE|add:'.png' as image_static %}
                                <img src="{% static image_static %}" />
                            {% endwith %}
                        </a>
                        <a href="#" class="dropdown-toggle no-title" data-toggle="dropdown" style="padding-left:0px;padding-right:0px;font-size:14px;text-align:center" data-close-others="true">
                            <span>[{{LANGUAGE_CODE}}]</span>
                        </a>
                        <ul class="dropdown-menu">
                            {% get_available_languages as LANGUAGES %}
                            {% get_language_info_list for LANGUAGES as languages %}
                            {% for language in languages %}
                                <li {% if language.code == LANGUAGE_CODE %}class="active"{% endif %}>
                                    <a class="language-item" value-lang="{{language.code}}">
                                        <span>{{language.code}}</span>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
					<li style="width:40px;">
						<a href="{% url 'themes:contrast' %}" id="contrast_button">
							<i style="font-size:15px;right: 150%;" class="glyphicon glyphicon-adjust"></i>
						</a>
					</li>
                    <li id="profile-menu" class="dropdown" data-toggle="tooltip" data-placement="bottom" title data-original-title="{{ user }}">
                        <a href="" data-toggle="dropdown" class="dropdown-toggle profile">
                            <img src="{{ user.image_url }}" class="hidden-xs" style="width:50px;height:50px" />
                            <span class="visible-xs-inline">{{ user }}</span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="{% url 'users:profile' %}">{% trans 'Profile' %}</a></li>
                            <li><a href="{% url 'users:edit_profile' %}">{% trans 'Edit Profile' %}</a></li>
                            <li><a href="{% url 'users:change_pass' %}">{% trans 'Change Password' %}</a></li>
                            <li><a href="javascript:delete_subject.get('{% url 'users:remove_acc' %}','#remove_account','#remove_acc')">{% trans 'Delete Account' %}</a></li>
                            <li><a href="{% url 'users:logout' %}">{% trans 'Logout' %}</a></li>
                        </ul>
                    </li>

                    {% if user.is_staff %}
                        <li id="staff-menu" style="width:40px;" class="dropdown {{ settings_menu_active }}" title data-original-title="{% trans 'settings' %}">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-cog hidden-xs" style="position:relative;right:150%;"aria-hidden="true"></i>
                                <span class="visible-xs-inline">{% trans 'Settings' %}</span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{% url 'users:manage' %}">{% trans 'Manage Users' %}</a></li>
                                <li><a href="{% url 'categories:index' %}">{% trans 'Manage Categories' %}</a></li>
								<li><a href="{% url 'news:manage_news' %}">{% trans 'Manage News' %}</a></li>
                                <li class="dropdown-accordion" data-accordion="#system_accordion">
                                    <div class="panel-group" id="system_accordion">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <a href="#system_menu" data-toggle="collapse" data-parent="#system_accordion">
                                                    <h4 class="panel-title">
                                                        {% trans 'System' %}
                                                    </h4>
                                                </a>
                                            </div>
                                            <div class="panel-collapse collapse" id="system_menu">
                                                <div class="panel-body">
                                                    <ul class="submenu">
                                                        <li><a href="{% url 'mailsender:update' %}">{% trans 'Mail Sender' %}</a></li>
                                                        <li><a href="{% url 'security:update' %}">{% trans 'Security' %}</a></li>
                                                        <li><a href="{% url 'themes:manage' %}">{% trans 'Theme' %}</a></li>
														<li><a href="{% url 'webconferences:settings' %}">{% trans 'Web Conference' %}</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>

        <!-- Mobile Menu -->
        <div class="navbar navbar-default hidden-lg hidden-md">
            <div class="navbar-header">
                <div class="col-sm-4 col-xs-4">
                    <input id="mobile_menu_btn" type="checkbox" />
                    <label for="mobile_menu_btn" class="navbar-toggle navbar-menu-btn">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </label>

                    <div class="mobile_menu_navbar navbar-collapse navbar-responsive-collapse">
                        <ul class="nav navbar-nav navbar-right notifications" style="margin-top: 50px;">
                            <li style="width: auto; text-align: center;">
                                <img src="{{ user.image_url }}" class="mobile_menu_img" style="margin:10px;"/>
                            </li>
                            <li><a href="{% url 'users:profile' %}">{% trans 'Profile' %}</a></li>
                            <li><a href="{% url 'users:edit_profile' %}">{% trans 'Edit Profile' %}</a></li>
                            <li><a href="{% url 'users:change_pass' %}">{% trans 'Change Password' %}</a></li>
                            <li><a href="javascript:delete_subject.get('{% url 'users:remove_acc' %}','#remove_account','#remove_acc')">{% trans 'Delete Account' %}</a></li>
                            <li><a href="{% url 'users:logout' %}">{% trans 'Logout' %}</a></li>

                            {% if user.is_staff %}
                                <li id="staff-menu" class="dropdown {{ settings_menu_active }}" title data-original-title="{% trans 'settings' %}">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        {% trans 'Settings' %}
                                    </a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="{% url 'users:manage' %}">{% trans 'Manage Users' %}</a></li>
                                        <li><a href="{% url 'categories:index' %}">{% trans 'Manage Categories' %}</a></li>
                                        <li><a href="{% url 'news:manage_news' %}">{% trans 'Manage News' %}</a></li>
                                        <li><a href="{% url 'mailsender:update' %}">{% trans 'Mail Sender' %}</a></li>
                                        <li><a href="{% url 'security:update' %}">{% trans 'Security' %}</a></li>
                                        <li><a href="{% url 'themes:manage' %}">{% trans 'Theme' %}</a></li>
                                        <li><a href="{% url 'webconferences:settings' %}">{% trans 'Web Conference' %}</a></li>
                                    </ul>
                                </li>
                            {% endif %}
                        </ul>
                        <div class="dropup language-selector-on-header" title data-original-title="{% trans 'Language Selector' %}">
                            <a href="{% url 'themes:contrast' %}" id="top_contrast_button" style="width:40px; display:inline-block">
                                <i style="font-size:15px;" class="glyphicon glyphicon-adjust"></i>
                            </a>

                            <a href="#" class="dropdown-toggle no-title" data-toggle="dropdown" aria-haspopup="true" data-close-others="true" style="display:inline-block; margin-left:10px;">
                                [{{LANGUAGE_CODE}}]
                            </a>
                            <ul class="dropdown-menu">
                                {% get_available_languages as LANGUAGES %}
                                {% get_language_info_list for LANGUAGES as languages %}
                                {% for language in languages %}
                                    <li {% if language.code == LANGUAGE_CODE %}class="active"{% endif %}>
                                        <a class="language-item" value-lang="{{language.code}}">
                                            <span>{{language.code}}</span>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="menu_mask"></div>
                </div>
                <div class="col-sm-4 col-xs-4">
                    <a class="" href="{% url 'subjects:home' %}">
                        <img class="logo img-responsive" src="{{ theme.small_logo_url }}" alt="Logo" />
                    </a>
                </div>
                <div class="col-sm-4 col-xs-4">
                    <input id="mobile_search_btn" type="checkbox" />
                    <label for="mobile_search_btn" class="btn btn-primary navbar-toggle pull-right mobile_search" id="btn-search" data-toggle="collapse" data-target=".search-responsive-collapse">
                        <i class="fa fa-search" aria-hidden="true"></i>
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </label>
                </div>
            </div>

            <div class="search-responsive-collapse collapse">
                <div class="col-sm-12 col-xs-12 search text-center">
                    <form id="SearchForm" action="{% url 'subjects:search' %}" method="get" accept-charset="utf-8">
                        <div class="input-group">
                            <div class="form-group is-empty" >
                                <input type="text" class="form-control top-search fa-search-custom" placeholder="{% trans 'Search for subjects and resources' %}" name="search">
                            </div>
                            <span class="input-group-btn input-group-sm">
                                <button type="submit" class="btn btn-primary" id="btn-search">
                                    <i class="fa fa-search fa-search-custom" aria-hidden="true" style="font-size:20px;"></i>
                                </button>
                            </span>
                        </div>
                    </form>
                </div>
                <div class="search_mask"></div>
            </div>
        </div>


        <script type="text/javascript">
		    $("#contrast_button" ).click(function() {
		      if (Cookies.get('contrast_check')) {
		        Cookies.remove('contrast_check')
		        //location.reload()
		      }
		      else {
		        Cookies.set('contrast_check','contrast')
		        //location.reload()
		      }

		    });
		</script>

        <script type="text/javascript">
            $("#top_contrast_button" ).click(function() {
              if (Cookies.get('contrast_check')) {
                Cookies.remove('contrast_check')
                //location.reload()
              }
              else {
                Cookies.set('contrast_check','contrast')
                //location.reload()
              }

            });
        </script>
    {% endblock %}

    <div class="container-fluid">
        <div class="row">

            <div id="sidebar-menu-div" class="col-md-1 col-lg-1 hidden-xs hidden-sm">
                {% block sidebar %}
                    <ul id="sidebar-menu">
                        <li class="item {{ subjects_menu_active }}" id="subjects-link" data-toggle="tooltip" data-placement="right" title="{% trans "Subjects" %}">
                            <a href="{% url 'subjects:index' %}">
                                <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="item {{ mural_menu_active }} action_icon" data-toggle="tooltip" data-placement="right" title="{% trans "Mural" %}">
                            <a href="{% url 'mural:manage_general' %}">
                                <i class="fa fa-list" aria-hidden="true" ></i>
                                <span class="badge notify_badge mural_badge" {% if mural_notifications_count == 0 %} style="display:none" {% endif %}>{% if mural_notifications_count > 99 %} +99 {% else %} {{ mural_notifications_count }} {% endif %}</span>
                            </a>
                        </li>
                        <li class="item {{ chat_menu_active }} action_icon" data-toggle="tooltip" data-placement="right" title="{% trans "Messages" %}">
                            <a href="{% url 'chat:manage_general' %}">
                                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                <span class="badge notify_badge chat_badge" {% if chat_notifications_count == 0 %} style="display:none" {% endif %}>{% if chat_notifications_count > 99 %} +99 {% else %} {{ chat_notifications_count }} {% endif %}</span>
                            </a>
                        </li>
                        <li class="item {{ pendencies_menu_active }} action_icon" data-toggle="tooltip" data-placement="right" title="{% trans "Pendencies" %}">
                            <a href="{% url 'notifications:manage' %}">
                                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                                {% if notifications_count > 0 %}
                                    <span class="badge notify_badge">{% if notifications_count > 99 %} +99 {% else %} {{ notifications_count }} {% endif %}</span>
                                {% endif %}
                            </a>
                        </li>
                        <li class="item" data-toggle="tooltip" data-placement="right" title="{% trans "Analytics" %}">
                            <a href=""><i class="fa fa-bar-chart" aria-hid{% get_current_language as LANGUAGE_CODE %}den="true"></i></a>
                        </li>
                    </ul>
                {% endblock %}
            </div>

            <div id="page_content" class="col-xs-12 col-sm-12 col-md-11 col-lg-11">
							<div class="dropdown dropdown_crumb">
                {% block breadcrumbs %}
                    {% breadcrumb 'Home' 'home' %}
                {% endblock %}
								<div class="drop_change" style="width:100%">
                {% block render_breadcrumbs %}
                    {% render_breadcrumbs %}
                {% endblock %}
								</div>
							</div>
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
    {% block footer %}
    {% endblock %}

    {% block bottommenu %}
        <div class="clearfix visible-xs visible-sm"></div>
        <div class="bottom-menu visible-xs visible-sm">
            <div class="row">
                <div class="col-sm-12 col-xs-12 text-center">

                    <ul class="mobile-menu">
                        <li class="item {{ subjects_menu_active }}" data-toggle="tooltip" data-placement="top" title="{% trans "Subjects" %}">
                            <a href="{% url 'subjects:index' %}">
                                <i class="fa fa-graduation-cap"></i>
                            </a>
                        </li>

                        <li class="item {{ mural_menu_active }} action_icon" data-toggle="tooltip" data-placement="top" title="{% trans "Mural" %}">
                            <a href="{% url 'mural:manage_general' %}">
                                <i class="fa fa-list" aria-hidden="true" ></i>
                                <span class="badge notify_badge mural_badge" {% if mural_notifications_count == 0 %} style="display:none" {% endif %}>{% if mural_notifications_count > 99 %} +99 {% else %} {{ mural_notifications_count }} {% endif %}</span>
                            </a>
                        </li>

                        <li class="item {{ chat_menu_active }} action_icon" data-toggle="tooltip" data-placement="top" title="{% trans "Messages" %}">
                            <a href="{% url 'chat:manage_general' %}">
                                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                <span class="badge notify_badge chat_badge" {% if chat_notifications_count == 0 %} style="display:none" {% endif %}>{% if chat_notifications_count > 99 %} +99 {% else %} {{ chat_notifications_count }} {% endif %}</span>
                            </a>
                        </li>


                        <li class="item {{ pendencies_menu_active }} action_icon" data-toggle="tooltip" data-placement="top" title="{% trans "Pendencies" %}">
                            <a href="{% url 'notifications:manage' %}">
                                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                                {% if notifications_count > 0 %}
                                    <span class="badge notify_badge">{% if notifications_count > 99 %} +99 {% else %} {{ notifications_count }} {% endif %}</span>
                                {% endif %}
                            </a>
                        </li>

                        <li class="item" data-toggle="tooltip" data-placement="top" title="{% trans "Analytics" %}">
                            <a href=""><i class="fa fa-bar-chart" aria-hid{% get_current_language as LANGUAGE_CODE %}den="true"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    {% endblock %}

    {% include 'session_security/all.html' %}

    <!-- Init material Bootstrap -->
    <script type="text/javascript">$.material.init()</script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/socket.js' %}"></script>

    <!-- Language selector code -->

    <script>


      $(".language-item").click(function(event) {

        change_language.post("{% url 'set_language' %}", {'language': $(this)[0].attributes[1].value, next: "{% url 'users:login' %}", csrfmiddlewaretoken: '{{ csrf_token }}' } );

      });
    </script>

    {% block addtional_scripts %}
    {% endblock %}
	<div id="remove_acc"></div>
</body>

</html>
