<!-- 
Copyright 2016, 2017 UFPE - Universidade Federal de Pernambuco
 
Este arquivo é parte do programa Amadeus Sistema de Gestão de Aprendizagem, ou simplesmente Amadeus LMS
 
O Amadeus LMS é um software livre; você pode redistribui-lo e/ou modifica-lo dentro dos termos da Licença Pública Geral GNU como publicada pela Fundação do Software Livre (FSF); na versão 2 da Licença.
 
Este programa é distribuído na esperança que possa ser útil, mas SEM NENHUMA GARANTIA; sem uma garantia implícita de ADEQUAÇÃO a qualquer MERCADO ou APLICAÇÃO EM PARTICULAR. Veja a Licença Pública Geral GNU para maiores detalhes.
 
Você deve ter recebido uma cópia da Licença Pública Geral GNU, sob o título "LICENSE", junto com este programa, se não, escreva para a Fundação do Software Livre (FSF) Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA.
-->

{% if paginator.count > 0 %}
	<div class="row">
		<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 text-center">
		  	<ul class="pagination">
		  		{% if page_obj.has_previous %}
			      	<li><a href="?page={{ page_obj.previous_page_number }}{{ getvars }}">&laquo;</a></li>
			    {% else %}
			      	<li class="disabled"><span>&laquo;</span></li>
			    {% endif %}
		    	
		    	{% for page_number in page_numbers %}
		    		<li{% if page_obj.number == page_number %} class="active"{% endif %}>
		        		<a href="?page={{ page_number }}{{ getvars }}">{{ page_number }}</a>
		    		</li>
		    	{% endfor %}
		    	
		    	{% if page_obj.has_next %}
			      	<li><a href="?page={{ page_obj.next_page_number }}{{ getvars }}">&raquo;</a></li>
			    {% else %}
			      	<li class="disabled"><span>&raquo;</span></li>
			    {% endif %}
		  	</ul>
		</div>
	</div>
{% endif %}