
{% load i18n %}

<div class="row form-group">
  <div class="col-md-1">
    </br>
    <label><span class="glyphicon glyphicon-move"></span></label>
  </div>
  <div class="col-md-10">
    <div class="has-success is-empty">
      <input type="text" name="1" class="form-control" placeholder="{% trans 'Answer' %}">
      <span class="help-block">{% trans "Possible answer for the question" %}</span>
    </div>
  </div>
  <div class="col-md-1">
    </br>
    <label><span class="glyphicon glyphicon-remove" onclick="this.parentNode.parentNode.parentNode.parentNode.removeChild(this.parentNode.parentNode.parentNode);"></span></label>
  </div>
</div>
