{# {% extends "topic/index.html" %} #}

{% load i18n widget_tweaks dict_access static%}

{# {% block style %} #}
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="{% static 'js/modal_poll.js' %}"></script>

{# {% endblock %} #}

{# {% block content %} #}
<!-- Modal (remember to change the ids!!!) -->
<div class="modal fade" id="poll" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">

        {% block title_poll %}
        <!-- Put your title here!!!  -->
        <h4 class="modal-title" id="myModalLabel">{% trans "Create a Poll" %}</h4>
        {% endblock title_poll %}
      </div>
      <!-- Modal Body -->
      <div class="modal-body">

          {% block content_poll %}
        <!-- Put ONLY your content here!!!  -->
          <div class="conteiner">
                <div class="row form-group">
                  <div class="col-md-1">
                    </br>
                    <label><span class="glyphicon glyphicon-hand-right"></span></label>
                  </div>
                  <div class="col-md-10">
                    <div class="has-success">
                      <input form="form" type="text" name="{{form.name.name}}" {% if form.name.value != None %}value="{{form.name.value}}" {% endif %} class="form-control" placeholder='{% trans "Question?" %}'>
                      <span class="help-block">{% trans "A Question to be answered" %}</span>
                    </div>
                  </div>
                  {% if form.name.errors %}
                  <div class="col-md-10 not_submited">
                  </br>
                      <div class="alert alert-danger alert-dismissible" role="alert">
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        <ul>
                          {% for error in form.name.errors %}
                            <li>{{ error }}</li>
                          {% endfor %}
                        </ul>
                      </div>
                  </div>
                  {% endif %}
                </div>
                  <form id="form" class="" action="" method="post">
                    {% csrf_token %}
                    {% for key in keys %}
                    <div class="row form-group {% if form.has_error %} has-error {% endif %}">
                      <div class="col-md-1">
                        </br>
                        <label><span class="glyphicon glyphicon-move"></span></label>
                      </div>
                      <div class="col-md-10">
                        <div class="has-success is-empty">
                          <input type="text" name="{{key}}" class="form-control" placeholder='{% trans "Answer" %}' value="{{ answers|value:key }}">
                          <span class="help-block">{% trans "Possible answer for the question" %}</span>
                        </div>
                      </div>
                      <div class="col-md-1">
                        </br>
                        <label><span class="glyphicon glyphicon-remove" onclick="this.parentNode.parentNode.parentNode.parentNode.removeChild(this.parentNode.parentNode.parentNode);"></span></label>
                      </div>
                    </div>
                    {% empty %}
                    <div class="row form-group {% if form.has_error %} has-error {% endif %}">
                      <div class="col-md-1">
                        </br>
                        <label><span class="glyphicon glyphicon-move"></span></label>
                      </div>
                      <div class="col-md-10">
                        <div class="has-success is-empty">
                          <input type="text" name="1" class="form-control" placeholder='{% trans "Answer" %}'>
                          <span class="help-block">{% trans "Possible answer for the question" %}</span>
                        </div>
                      </div>
                      <div class="col-md-1">
                        </br>
                        <label><span class="glyphicon glyphicon-remove" onclick="this.parentNode.parentNode.parentNode.parentNode.removeChild(this.parentNode.parentNode.parentNode);"></span></label>
                      </div>
                    </div>
                    {% endfor %}
                  </form>
                  </br>
                </div>
              <button type="button" id="add" class="btn btn-primary btn-block btn-sm">add</button>
        <div class="row form-group {% if form.has_error %} has-error {% endif %}">
          <label for="{{ form.limit_date.auto_id }}">{{ form.limit_date.label }}</label>
          {# {% render_field  form.limit_date class="form-control" form="form"%} #}
          <input form="form" class="form-control date-picker" type="text" name="{{form.limit_date.name}}" {% if form.limit_date.value != None %}value="{{form.limit_date.value|date:'SHORT_DATE_FORMAT'}}"{% endif %}>
          {% if form.limit_date.errors %}
          <div class="not_submited">
          </br>
              <div class="alert alert-danger alert-dismissible" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                <ul>
                  {% for error in form.limit_date.errors %}
                    <li>{{ error }}</li>
                  {% endfor %}
                </ul>
              </div>
          </div>
          {% endif %}
        </div>

        <div class="row form-group {% if form.has_error %} has-error {% endif %}">
            <label for="{{ form.students.auto_id }}">{{ form.students.label }}</label>
            {% render_field  form.students class="form-control" form="form"%}
        </div>
        <div class="row form-group {% if form.has_error %} has-error {% endif %}">
          <div class="checkbox">
            <label>
              {% render_field form.all_students class="form-control" form="form" %}<span class="checkbox-material"><span class="check"></span></span> {{form.all_students.label }}
            </label>
          </div>
          {% if form.all_students.errors %}
          <div class="not_submited">
          </br>
              <div class="alert alert-danger alert-dismissible" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                <ul>
                  {% for error in form.all_students.errors %}
                    <li>{{ error }}</li>
                  {% endfor %}
                </ul>
              </div>
          </div>
          {% endif %}
        </div>

        {% endblock content_poll %}
      </div>

      <!-- Modal Footer -->
      <div class="modal-footer">

        <!-- Don't remove that!!!  -->
        <button type="button" class="btn btn-default btn-raised" data-dismiss="modal">{% trans "Close" %}</button>
        {% block button_save %}
        <!-- Put curtom buttons here!!!  -->
        <button type="submite" id="button" form="form" class="btn btn-primary btn-raised">{% trans "Create" %}</button>
        {% endblock button_save %}
      </div>

    </div>
  </div>
</div>
<script src="{% static 'js/sortable_poll.js' %}">
// Este js tem que ficar aqui se não o sortable não vai funcionar
</script>
{% block script_poll %}
<script type="text/javascript">
  var locale = navigator.language || navigator.userLanguage;

  $('.date-picker').datepicker({
      language: locale,
  });

// Este js tem que ficar aqui se não o button add não vai funcionar
  $("#add").click(function (){
    Answer.init('{% url "course:poll:answer_poll" %}');
  });

  $("#form").submit(function(event) {
    Submite.post("{% url 'course:poll:create_poll' topic.slug %}",$(this).serialize());
    event.preventDefault();
  });
</script>
{% endblock script_poll %}
{# <a href="" data-toggle="modal" data-target="#poll">modal</a> #}
{# {% endblock content %} #}
