{% extends "topic/index.html" %}

{% load i18n widget_tweaks dict_access static%}

{% block style %}
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
{% endblock %}

{% block content %}
<!-- Modal (remember to change the ids!!!) -->
<div class="modal fade" id="poll" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">

        <!-- Put your title here!!!  -->
        <h4 class="modal-title" id="myModalLabel">{% trans "Create a Poll" %}</h4>

      </div>
      <!-- Modal Body -->
      <div class="modal-body">

        <!-- Put ONLY your content here!!!  -->
          <div class="conteiner">
                <div class="row form-group">
                  <div class="col-md-1">
                    </br>
                    <label><span class="glyphicon glyphicon-hand-right"></span></label>
                  </div>
                  <div class="col-md-10">
                    <div class="has-success">
                      <input form="form" type="text" name="{{form.name.name}}" {% if form.name.value != None %}value="{{form.name.value}}" {% endif %} class="form-control" placeholder='{% trans "Question?" %}'>
                      <span class="help-block">{% trans "A Question to be answered" %}</span>
                    </div>
                  </div>
                  {% if form.name.errors %}
                  <div class="col-md-10 not_submited">
                  </br>
                      <div class="alert alert-danger alert-dismissible" role="alert">
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        <ul>
                          {% for error in form.name.errors %}
                            <li>{{ error }}</li>
                          {% endfor %}
                        </ul>
                      </div>
                  </div>
                  {% endif %}
                </div>
                  <form id="form" class="" action="" method="post">
                    {% csrf_token %}
                    {% for key in keys %}
                    <div class="row form-group">
                      <div class="col-md-1">
                        </br>
                        <label><span class="glyphicon glyphicon-move"></span></label>
                      </div>
                      <div class="col-md-10">
                        <div class="has-success is-empty">
                          <input type="text" name="{{key}}" class="form-control" placeholder='{% trans "Answer" %}' value="{{ answers|value:key }}">
                          <span class="help-block">{% trans "Possible answer for the question" %}</span>
                        </div>
                      </div>
                      <div class="col-md-1">
                        </br>
                        <label><span class="glyphicon glyphicon-remove" onclick="this.parentNode.parentNode.parentNode.parentNode.removeChild(this.parentNode.parentNode.parentNode);"></span></label>
                      </div>
                    </div>
                    {% empty %}
                    <div class="row form-group">
                      <div class="col-md-1">
                        </br>
                        <label><span class="glyphicon glyphicon-move"></span></label>
                      </div>
                      <div class="col-md-10">
                        <div class="has-success is-empty">
                          <input type="text" name="1" class="form-control" placeholder='{% trans "Answer" %}'>
                          <span class="help-block">{% trans "Possible answer for the question" %}</span>
                        </div>
                      </div>
                      <div class="col-md-1">
                        </br>
                        <label><span class="glyphicon glyphicon-remove" onclick="this.parentNode.parentNode.parentNode.parentNode.removeChild(this.parentNode.parentNode.parentNode);"></span></label>
                      </div>
                    </div>
                    {% endfor %}
                  </form>
                  </br>
                </div>
              <button type="button" id="add" class="btn btn-primary btn-block btn-sm">add</button>
        <div class="row form-group">
          <input form="form" class="form-control" type="date" name="{{form.limit_date.name}}" {% if form.limit_date.value != None %}value="{{form.limit_date.value}}"{% endif %}>
          {% if form.limit_date.errors %}
          <div class="not_submited">
          </br>
              <div class="alert alert-danger alert-dismissible" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                <ul>
                  {% for error in form.limit_date.errors %}
                    <li>{{ error }}</li>
                  {% endfor %}
                </ul>
              </div>
          </div>
          {% endif %}
        </div>

      </div>

      <!-- Modal Footer -->
      <div class="modal-footer">

        <!-- Don't remove that!!!  -->
        <button type="button" class="btn btn-danger btn-raised" data-dismiss="modal">{% trans "Close" %}</button>

        <!-- Put curtom buttons here!!!  -->
        <button type="submite" id="button" form="form" class="btn btn-primary btn-raised">{% trans "Create" %}</button>
      </div>

    </div>
  </div>
</div>
<script type="text/javascript">
// Este js tem que ficar aqui se não a tag "trans" não vai funcionar
$(window).ready(function() { // utilizado para abrir o modal quando tiver tido algum erro no preenchimento do formulario
  if($('.not_submited').length){
      $('#poll').modal('show');
      }
});
$( "#form" ).sortable({ // utilizado para fazer a re-organização das respostas
    delay: 100,
    distance: 5,
    update: function( event, ui ) {
      var cont = 1;
      $("#form div div div input").each(function(){
              $(this).attr('name',cont++);
      });
    },
});
name = 2;
$("#add").click(function() { // utilizado para adicionar um novo campo de resposta
  //Obs: não funcionar se estiver importado no head, só funciona se estiver no final do arquivo
  $("#form").append('\
  <div class="row form-group">\
    <div class="col-md-1">\
      </br>\
      <label><span class="glyphicon glyphicon-move"></span></label>\
    </div>\
    <div class="col-md-10">\
      <div class="has-success is-empty">\
        <input type="text" name="1" class="form-control" placeholder="{% trans "Answer" %}">\
        <span class="help-block">{% trans "Possible answer for the question" %}</span>\
      </div>\
    </div>\
    <div class="col-md-1">\
      </br>\
      <label><span class="glyphicon glyphicon-remove" onclick="this.parentNode.parentNode.parentNode.parentNode.removeChild(this.parentNode.parentNode.parentNode);"></span></label>\
    </div>\
  </div>');
  var cont = 1;
  $("#form div div div input").each(function(){
          $(this).attr('name',cont++);
  });
});
</script>
<a href="" data-toggle="modal" data-target="#poll">modal</a>
{% endblock content %}
