{% extends "poll/create.html" %}

{% load i18n dict_access static%}

{% block title_poll %}
<!-- Put your title here!!!  -->
<h4 class="modal-title" id="myModalLabel">{% trans "Update a Poll" %}</h4>
{% endblock title_poll %}

{% block button_save %}
<!-- Put curtom buttons here!!!  -->
<button type="submite" id="button" form="form" class="btn btn-primary btn-raised">{% trans "Update" %}</button>
{% endblock button_save %}

{% block script_poll %}
<script type="text/javascript">
// Este js tem que ficar aqui se não o button add não vai funcionar
  $("#add").click(function (){
    Answer.init('{% url "course:poll:answer_poll" %}');
  });

  $("#form").submit(function(event) {
    Submite.post("{% url 'course:poll:update_poll' poll.slug %}",$(this).serialize());
    event.preventDefault();
  });
</script>
{% endblock script_poll %}
