{% extends "poll/create.html" %}

{% load i18n dict_access static%}

{% block style %}
{% endblock %}

{% block title_poll %}
<!-- Put your title here!!!  -->
<h4 class="modal-title" id="myModalLabel">{{poll}}</h4>
{% endblock title_poll %}

{% block content_poll %}
<!-- Put ONLY your content here!!!  -->
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h3>{% trans "Limit date:" %} {{poll.limit_date|date:'d/m/y'}}</h3>
  </div>
</div>
{% endblock content_poll %}

{% block button_save %}
<!-- Put curtom buttons here!!!  -->
<button type="submite" id="button" form="form" class="btn btn-primary btn-raised">{% trans "Answer" %}</button>
{% endblock button_save %}
