{% extends 'course/view.html' %}

{% load static i18n permission_tags widget_tweaks django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb 'Create subject' 'course:create_subject' course.slug %}
{% endblock breadcrumbs %}

{% block content %}

  <div class="panel panel-default">
    <div class="panel-body">
      <form class="form-group " method="post" action="">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group {% if field.errors %} has-error{% endif %}">
          {% if field.auto_id != 'id_visible' %}
            <label for="{{ field.auto_id }}"> {{ field.label }}</label>
          {% endif %}
          {% if field.auto_id == 'id_init_date' or field.auto_id == 'id_end_date'%}
              <input type="text" class="form-control date-picker" name="{{field.name}}" value="{{field.value|date:'SHORT_DATE_FORMAT'}}" min="{{now|date:'SHORT_DATE_FORMAT'}}">
          {% elif field.auto_id == 'id_visible' %}
						<div class="checkbox">
							<label>
									<input type="checkbox" name="{{field.name}}" {% if field.value %}checked="checked"{% endif %}><span class="checkbox-material"></span> {{field.name}}
							</label>
						</div>
          {% else %}
              {% render_field field class='form-control'%}
          {% endif %}
          <span class="help-block">{{ field.help_text }}</span>
        </div>
        {% endfor %}
        <div class="col-lg-offset-4 col-lg-4">
          <button type="submite" class="btn btn-raised btn-primary btn-lg btn-block">{% trans 'Create' %}</button>
        </div>
      </form>
    </div>
  </div>

  <script type="text/javascript">
    var locale = navigator.language || navigator.userLanguage;

    $('.date-picker').datepicker({
        language: locale,
    });
  </script>
{% endblock content %}
