{% load static i18n permission_tags professor_access %}

<script src="{% static 'js/modals_requisitions.js'%}"></script>
<script src="{% static 'js/modal_exam.js'%}"></script>

{% for exam in exams %}
  {% professor_subject exam.topic.subject request.user as permission%}
  {% if permission %}
    <li id="exam_{{exam.slug}}"><i class="material-icons">{% trans 'exam' %}</i> <a href="javascript:modal.get('{% url 'course:exam:update_exam' exam.slug %}','#exam','#modal_exam');">{{ exam.name }}</a><a href="javascript:modal.get('{% url 'course:exam:delete_exam' exam.slug %}','#exam','#modal_exam');"><span class="glyphicon glyphicon-remove"></span></a></li>
  {% else %}
    <li id="exam_{{exam.slug}}"><i class="material-icons">{% trans 'exam' %}</i> <a href="javascript:modal.get('{% url 'course:exam:view_exam' exam.slug %}','#exam','#modal_exam');">{{ exam.name }}</a></li>
  {% endif %}
  {% endfor %}
{# <button class="btn btn-primary btn-raised" onclick="javascript:modal.get('{% url 'course:exam:create_exam' topic.slug%}','#exam','#modal_exam');">{% trans '+ Create Exam' %}</button> #}
<div class="row" id="modal_exam">




</div>
