{% load static i18n list_topic_foruns permission_tags widget_tweaks professor_access list_topic_exercises %}
{% professor_subject topic.subject user as professor_links %}

  {% block javascript %}
      <script type="text/javascript" src="{% static 'js/forum.js' %}"></script>
      <script src="{% static 'js/file.js' %}"></script>
      <script type="text/javascript" src="{% static 'js/material.js' %}"></script>
      <script type = "text/javascript" src="{% static 'links.js' %}"></script>
  {% endblock %}
<div class="cards-detail">
  <div class="panel-group accordion ui-accordion ui-widget ui-helper-reset ui-sortable" role="tablist" aria-multiselectable="false">
    <div class="group"><div class="panel panel-default">
      <div class="panel-heading topic ui-sortable-handle" role="tab">
      <div class="row">
        <div class="col-md-1 moreAccordion" data-toggle="collapse" data-parent="#accordion-{{topic.slug}}" href=".collapseTopic-{{topic.slug}}" aria-expanded="false" aria-controls="collapseTopic-{{topic.slug}}">
          <button class="btn btn-default btn-sm caret-square"><i class="fa fa-caret-square-o-down fa-2x" aria-hidden="true"></i></button>
        </div>
        <div class="col-xs-9 col-md-9 titleTopic">
          <a href="{% url 'course:view_topic' topic.slug %}" role="button">
            <h4>{{topic}}</h4>
          </a>
        </div>
      </div>
    </div>
    <div class="panel-collapse collapseTopic-{{topic.slug}} collapse in" role="tabpanel" aria-labelledby="heading_{{topic.id}}" aria-expanded="true" aria-hidden="false">
      <div class="panel-body">
        <div class="presentation">
          <p>
            <i>
              {{topic.description|safe}}
            </i>
          </p>

        </div>
      </div>
    </div>

    {% if not professor_links %}
      <div class="row">
        <div class="col-xs-4 col-md-4">
          <div class="resource_inline">
            <h4>{% trans 'Material' %}</h4>
          </div>
          <div class="presentation_{{topic.slug}}">
            {# materiais do tópico no modo de visualização #}
            <ul>
              {% list_topic_file request topic %}
              {% list_topic_link request topic %}
            </ul>
          </div>
        </div>
        {# avaliações d topico #}
        <div class="col-xs-4 col-md-4">
          <div class="resource_inline">
            <h4>{% trans 'Activities' %}</h4>
          </div>
          <div class="presentation_{{topic.slug}}">

            {# avaliações do tópico no modo de visualização #}
            <ul>
              {% list_topic_poll request topic %}
              {% list_topic_foruns request topic %}
            </ul>
          </div>
        </div>
        <div class="col-xs-4 col-md-4">
          <div class="resource_inline">
            <h4>{% trans 'Exercises' %}</h4>
          </div>
          <div class="resource_inline">
            {# dropdown de create exercício #}
            <div class="dropdown">
              <a href="#" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i></a>
              <ul class="dropdown-menu" aria-labelledby="dLabel">
                <li><a href="javascript:modal.get('{% url 'course:exercise:create_exercise' topic.slug %}', '#createExercisesModal','#requisicoes_ajax')">{% trans 'Create a Exercise' %}</a></li>
              </ul>
            </div>
          </div>
          <div class="presentation_{{exercise.slug}}">
            {# exercício do tópico no modo de visualização #}
            <ul>
              {% list_topic_exercise request %}
            </ul>
          </div>
          <div class="editation editation_{{exercise.slug}}">
            {# exercício do tópico no modo de edição #}
            <ul>
              {% list_topic_exercise_edit request exercise %}
            </ul>
          </div>
        </div>
        {% include "exercise/create_exercise.html" %}
      </div>
    {% endif %}

    </div>

    </div>

    {% if professor_links %}
        {% include "links/create_link.html" %}
        {% include "links/delete_link.html" %}
    {% endif %}


    <!-- MODAL LINK EDIT-->
    {% professor_subject topic.subject user as links_update %}
    {% if links_update%}
        {% include "links/update_link.html" %}
    {% endif %}
    </div>
    </div>