    {% load static i18n list_topic_foruns permission_tags widget_tweaks professor_access%}


    {% block javascript %}
        <script type="text/javascript" src="{% static 'js/forum.js' %}"></script>
        <script src="{% static 'js/file.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/material.js' %}"></script>
        <script type = "text/javascript" src="{% static 'links.js' %}"></script>
    {% endblock %}
<div class="cards-detail">
  <div class="panel-group accordion ui-accordion ui-widget ui-helper-reset ui-sortable" role="tablist" aria-multiselectable="false">
    <div class="group"><div class="panel panel-default">
      <div class="panel-heading topic ui-sortable-handle" role="tab">
      <div class="row">
        <div class="col-md-1 moreAccordion" data-toggle="collapse" data-parent="#accordion-{{topic.slug}}" href=".collapseTopic-{{topic.slug}}" aria-expanded="false" aria-controls="collapseTopic-{{topic.slug}}">
          <button class="btn btn-default btn-sm caret-square"><i class="fa fa-caret-square-o-down fa-2x" aria-hidden="true"></i></button>
        </div>
        <div class="col-xs-9 col-md-9 titleTopic">
          <a href="{% url 'course:view_topic' topic.slug %}" role="button">
            <h4>{{topic}}</h4>
          </a>
        </div>
      </div>
    </div>
    <div class="panel-collapse collapseTopic-{{topic.slug}} collapse in" role="tabpanel" aria-labelledby="heading_{{topic.id}}" aria-expanded="true" aria-hidden="false">
      <div class="panel-body">
        <div class="presentation">
          <p>
            <i>
              {{topic.description|safe}}
            </i>
          </p>

        </div>
      </div>
    </div>
    </div>

    </div>

    {% professor_subject topic.subject user as professor_links %}
    {% if professor_links%}
        {% include "links/create_link.html" %}
        {% include "links/delete_link.html" %}
    {% endif %}


    <!-- MODAL LINK EDIT-->
    {% professor_subject topic.subject user as links_update %}
    {% if links_update%}
        {% include "links/update_link.html" %}
    {% endif %}
    </div>
    </div>