.avatarContainer {
  position: fixed;
  bottom: 10%;
  z-index: 10;
}
.avatarBox {
  width: 11rem;
  height: 11rem;
  background-color: rgba(238, 238, 238, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
}
.upperBody {
  position: relative;
  width: 10rem;
  height: 5.4rem;
  margin-left: 0.5em;
}
.hat {
  position: absolute;
  left: 9%;
  background-color: blue;
  border: 2px solid #000000;
  width: 7rem;
  height: 3rem;
  border-top-left-radius: 30%;
  border-top-right-radius: 30%;
}
.head {
  top: 8%;
  left: 0%;
  position: absolute;
  width: 9rem;
  height: 5rem;
  background-color: silver;
  border: 2px solid #000000;
  border-radius: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.face {
  width: 8rem;
  height: 4.3rem;
  background-color: lightgreen;
  border: 2px solid #000000;
  border-radius: 35%;
}
.face > div {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.eye {
  width: 2.3rem;
  height: 1.8rem;
  border-top-left-radius: 60%;
  border-top-right-radius: 60%;
  background-color: darkblue;
  border: 2px solid #000000;
  display: flex;
  align-items: inherit;
  justify-content: center;
  position: relative;
  overflow: hidden;
}
.eye:not(:last-of-type) {
  margin-right: 0.5rem;
}
.eyelid {
  width: 2.3rem;
  height: 0%;
  background: #000000;
  border-top-left-radius: 60%;
  border-top-right-radius: 60%;
  position: absolute;
  top: 0%;
  animation: blink 2s infinite;
}
.iris {
  width: 1.9rem;
  height: 1.5rem;
  background-color: aqua;
  border-top-left-radius: 60%;
  border-top-right-radius: 60%;
  border: 2px solid #000000;
}
.pupile {
  width: 0.5rem;
  height: 0.5rem;
  background-color: #000000;
  border-radius: 50%;
  margin-top: 0.1rem;
  margin-left: 0.9rem;
}
.face > div.tears {
  display: none;
}
.mouth {
  width: 2em;
  height: 1.5rem;
  background-color: red;
  border: 2px solid #000000;
  border-bottom-left-radius: 60%;
  border-bottom-right-radius: 60%;
}
.mouthSpeak {
  animation: speak 1s infinite;
}
.axis {
  width: 1rem;
  height: 1rem;
  background-color: blue;
  border: 2px solid #000000;
  border-bottom: none;
  border-top: none;
}
.foot {
  width: 4rem;
  height: 1.3rem;
  background-color: gray;
  border: 2px solid #000000;
  border-top-left-radius: 30%;
  border-top-right-radius: 30%;
}

.ballon {
  position: absolute;
  bottom: 45%;
  left: 75%;
  z-index: 9;
  min-width: 250px;
}
.speech-bubble {
  position: relative;
  background: #fff;
  border-radius: 0.4em;
  border: 1px solid #666;
  padding: 2px 10px;
  min-height: 60px;
}
.speech-bubble:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 17px;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-right-color: #fff;
  border-left: 0;
  border-bottom: 0;
  margin-top: -10px;
  margin-left: -20px;
}

.activate_avatar {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.controls {
  display: flex;
}
.controls span {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

#avatar_mask {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0%;
  left: 0%;
  background-color: #000000;
  opacity: 0.3;
  display: none;
  z-index: 9;
}

.shiningTag {
  fill: #de1212;
}

.sadReaction .topface {
  position: relative;
  height: 2.3rem;
}
.sadReaction .eye {
  width: 2.3rem;
  height: 2rem;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  background-color: darkblue;
  border: 2px solid #000000;
  display: flex;
  align-items: inherit;
  justify-content: center;
  overflow: hidden;
  margin-top: 0.2em;
  border-bottom: none;
  position: static;
}
.sadReaction .eye:before {
  content: "";
  height: 0.7em;
  position: absolute;
  top: 2%;
  width: 2.1rem;
  background: lightgreen;
  border-bottom: 2px solid #000;
  z-index: 2;
}
.sadReaction .eye-left:before {
  transform: rotate(-15deg);
  left: 14.5%;
  border-top-right-radius: 1em;
}
.sadReaction .eye-right:before {
  transform: rotate(15deg);
  right: 15.18%;
  border-top-left-radius: 1em;
}
.sadReaction .eye:after {
  content: "";
  height: 0.5em;
  border-top: 2px solid #000;
  width: 2.1rem;
  position: absolute;
  bottom: 0%;
  background: lightgreen;
  z-index: 2;
}
.sadReaction .eyelid {
  width: 1.9rem;
  height: 0%;
  background: #000000;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  position: absolute;
  top: 20%;
  z-index: 1;
  animation: blink-sad 2s infinite;
}
.sadReaction .iris {
  width: 1.8rem;
  height: 1.6rem;
  background-color: aqua;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border: 2px solid #000000;
  margin-top: -0.1em;
}
.sadReaction .pupile {
  width: 0.5rem;
  height: 0.5rem;
  background-color: #000000;
  border-radius: 50%;
  margin-top: 0.3rem;
  margin-left: 0.45rem;
}
.sadReaction .face > div.mouth_container {
  width: 100%;
  height: 1.5rem;
  overflow-y: hidden;
}
.sadReaction .mouth {
  width: 4em;
  height: 2rem;
  border: 2px solid #000000;
  border-top-left-radius: 12em;
  border-top-right-radius: 12em;
  border-bottom-color: transparent;
  margin-top: 1em;
  background-color: transparent;
}
.sadReaction .mouthSpeak {
  animation: none;
}

.surpriseReaction .face > div.topface {
  height: 100%;
  position: relative;
}

.surpriseReaction .eye {
  width: 2rem;
  height: 1.8rem;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-left: 0px;
  background-color: aqua;
  border: 3px solid #000000;
  display: flex;
  align-items: inherit;
  justify-content: center;
  position: static;
  overflow: hidden;
}

.surpriseReaction .eye:before {
  content: "";
  width: 2.7rem;
  height: 1.6rem;
  border-top: 3px solid #000;
  border-top-left-radius: 45%;
  border-top-right-radius: 45%;
  position: absolute;
  top: 10%;
}

.surpriseReaction .eye:after {
  content: "";
  width: 2.7rem;
  height: 1.6rem;
  border-bottom: 3px solid #000;
  border-bottom-left-radius: 45%;
  border-bottom-right-radius: 45%;
  position: absolute;
  bottom: 10%;
}

.surpriseReaction .eye:not(:last-of-type) {
  margin-right: 1.2rem;
}

.surpriseReaction .eyelid-holder {
  position: absolute;
  width: 2rem;
  height: 1.8rem;
  overflow: hidden;
  border-radius: 60%;
}

.surpriseReaction .eyelid {
  animation: blink 2s infinite;
  border-radius: 60%;
  top: 10%;
}

.surpriseReaction .iris {
  width: 1.9rem;
  height: 1.5rem;
  background-color: aqua;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border: 0px solid #000000;
}
.surpriseReaction .pupile {
  width: 0.5rem;
  height: 0.5rem;
  background-color: #000000;
  border-radius: 50%;
  margin-top: 0.4rem;
  margin-left: 0.9rem;
}

.surpriseReaction .mouth {
  display: none;
}

.surpriseReaction .mouthSpeak {
  animation: none;
}

.cryReaction .face {
  position: relative;
}

.cryReaction .face > div.topface {
  position: relative;
  height: 60%;
}

.cryReaction .eye {
  width: 2.3rem;
  height: 1.8rem;
  border-top-left-radius: 60%;
  border-top-right-radius: 60%;
  background-color: darkblue;
  border: 2px solid #000000;
  display: flex;
  align-items: inherit;
  justify-content: center;
  position: static;
  overflow: hidden;
}

.cryReaction .eye-left:after {
  content: "";
  height: 0.6em;
  border-top: 4px solid #000;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  transform: rotate(-10deg);
  width: 2.3rem;
  position: absolute;
  bottom: -1%;
  background: lightgreen;
  z-index: 2;
}

.cryReaction .face > div.tears {
  position: absolute;
  top: 70%;
  display: flex;
  justify-content: space-between;
  z-index: 3;
}
.cryReaction .face > div.tears div.tear {
  width: 1rem;
  height: 1.5rem;
  border-radius: 50%;
  background: dodgerblue;
  position: relative;
}

.cryReaction .face > div.tears div.tear-left {
  margin-left: 1rem;
  opacity: 0;
  animation: 1s cry infinite;
}

.cryReaction .face > div.tears div.tear-right {
  margin-right: 1rem;
  opacity: 0;
  animation: 1s cry 0.5s infinite;
}

.cryReaction .face > div.tears div.tear:after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  border-bottom: 1.3rem solid dodgerblue;
  top: -0.7rem;
  left: 0rem;
  right: 0;
  margin: auto;
  z-index: 1;
}

.cryReaction .eye-right:after {
  content: "";
  height: 0.6em;
  border-top: 4px solid #000;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  transform: rotate(10deg);
  width: 2.3rem;
  position: absolute;
  bottom: -1%;
  background: lightgreen;
  z-index: 2;
}

.cryReaction .eyelid-holder {
  position: absolute;
  overflow: hidden;
  width: 2.3rem;
  height: 2rem;
  border-top-left-radius: 60%;
  border-top-right-radius: 60%;
}

.cryReaction .eyelid {
  top: 15%;
}

.cryReaction .mouth {
  width: 1.3em;
  height: 0.7rem;
  border: 2px solid #000000;
  border-top-left-radius: 12em;
  border-top-right-radius: 12em;
  border-bottom-color: transparent;
  background-color: transparent;
  border-bottom: none;
  margin-top: -1rem;
}

.cryReaction .mouthSpeak {
  animation: none;
}

@keyframes blink {
  0%,
  100% {
    height: 0%;
  }

  50% {
    height: 100%;
  }
}

@keyframes blink-sad {
  0%,
  100% {
    height: 0%;
  }

  50% {
    height: 80%;
  }
}

@keyframes speak {
  0%,
  100% {
    height: 100%;
  }
  50% {
    height: 1%;
  }
}

@keyframes cry {
  0% {
    opacity: 1;
    transform: translate(0%, 0%);
  }

  50% {
    transform: translate(0%, 50%);
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes blink {
  0%,
  100% {
    height: 0%;
  }

  50% {
    height: 100%;
  }
}

@-webkit-keyframes blink-sad {
  0%,
  100% {
    height: 0%;
  }

  50% {
    height: 80%;
  }
}

@-webkit-keyframes speak {
  0%,
  100% {
    height: 100%;
  }
  50% {
    height: 1%;
  }
}

@-webkit-keyframes cry {
  0% {
    opacity: 1;
    transform: translate(0%, 0%);
  }

  50% {
    transform: translate(0%, 50%);
  }
  100% {
    opacity: 0;
  }
}
