/* 
Copyright 2016, 2017 UFPE - Universidade Federal de Pernambuco
 
Este arquivo é parte do programa Amadeus Sistema de Gestão de Aprendizagem, ou simplesmente Amadeus LMS
 
O Amadeus LMS é um software livre; você pode redistribui-lo e/ou modifica-lo dentro dos termos da Licença Pública Geral GNU como publicada pela Fundação do Software Livre (FSF); na versão 2 da Licença.
 
Este programa é distribuído na esperança que possa ser útil, mas SEM NENHUMA GARANTIA; sem uma garantia implícita de ADEQUAÇÃO a qualquer MERCADO ou APLICAÇÃO EM PARTICULAR. Veja a Licença Pública Geral GNU para maiores detalhes.
 
Você deve ter recebido uma cópia da Licença Pública Geral GNU, sob o título "LICENSE", junto com este programa, se não, escreva para a Fundação do Software Livre (FSF) Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA.
*/

.report-body {
  border: 1px solid #3ebeb4;
  border-radius: 20px;
  padding: 10px;
  overflow: auto;
  width: 100%;
  background-color: #ffffff; }

#general-report-header {
  height: 10%;
  display: block; }
  #general-report-header h3 {
    color: #009688; }
  #general-report-header ul {
    float: right;
    display: inline-flex;
    width: 50%;
    margin-bottom: 0px; }
    #general-report-header ul a {
      width: 100%;
      text-decoration: none; }

li.tab-option {
  margin-right: 2%;
  color: white;
  font-size: 20px;
  background-color: #0f8a9a;
  width: 100%;
  text-align: center;
  border-radius: 20px;
  height: 30px; }
  li.tab-option:hover {
    background-color: #bdbdbd; }

li.selected {
  background-color: #4dcfbd;
  width: 100%;
  text-align: center;
  border-radius: 20px; }

#most-used-tags-header {
  background: linear-gradient(to right, #0e8999, #6bf0ce);
  height: 40px;
  border-radius: 10px;
  color: #ffffff;
  padding-top: 1px;
  margin-top: 10px; }
  #most-used-tags-header h4 {
    margin-left: 1%; }

.tag-cloud {
  border-radius: 25px;
  color: #ffffff; }

.tag-name {
  color: #ffffff; }

#left-data-selector {
  background: linear-gradient(#0e8999, #6bf0ce);
  margin-top: 5%;
  padding-top: 3%;
  padding-bottom: 2%; }

.chart {
  width: 30%;
  float: left; }
  .chart h4 {
    color: #009688;
    text-align: center; }

.selector {
  width: 90%;
  height: 40px;
  color: white;
  padding-left: 5px;
  background-color: #009688;
  margin-top: 5px;
  border-radius: 0px 20px 20px 0px; }
  .selector p {
    padding-top: 10px;
    font-size: 16px;
    float: left; }

.selector i {
  margin-right: 20px;
  margin-top: 6px; }

.middle-chart article {
  text-align: center; }

.user-tooltip {
  background: linear-gradient(#0e8999, #6bf0ce);
  color: white;
  border-radius: 10px;
  padding: 7px; }

.most-accessed-list {
  background-color: #52b7bd;
  width: 80%;
  margin-left: 2%;
  margin-top: 4%;
  position: relative;
  padding-left: 0;
  color: white;
  border: 2px solid #52b7bd;
  transition: width 2s, height 2s, background-color 2s, transform 2s; }
  .most-accessed-list li {
    padding-left: 1%; }

.most-accessed-list:after, .most-accessed-list:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none; }

.most-accessed-list:before {
  border-width: 12px;
  margin-left: -50%;
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #52b7bd; }

.most-accessed-item:hover {
  background-color: #3aa7ad; }

#month_selector_div {
  text-align: center;
  color: #009688; }

.date-tooltip {
  width: 40px;
  height: 20px;
  background: #52b7bd;
  color: white;
  text-align: center; }

#period-selector {
  display: flex; }

#log-table {
  width: 100%;
  border: 1px solid #bdbdbd; }
  #log-table tr {
    height: 25px; }
    #log-table tr:nth-child(odd) {
      background-color: #bdbdbd; }
    #log-table tr:nth-child(even) {
      background-color: white; }
    #log-table tr td {
      margin-right: 1%;
      padding-right: 1%; }

#log-count {
  text-align: center; }

.pagination {
  display: inline-block; }
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none; }
  .pagination a.active {
    background-color: #4CAF50;
    color: white; }
  .pagination a:hover:not(.active) {
    background-color: #ddd; }

/*# sourceMappingURL=general.css.map */
