.analytics-ungeneral {
  position: relative;
}
#panel_loading_mask {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.9;
  background: #f5f5f5;
  display: none;
  z-index: 9;
  margin-top: -15px;
  margin-left: -15px;
}
#panel_loading_mask .loading {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.period-title span {
  color: #bdbdbd;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
  margin: 0px 0px 5px;
}
.bubble_users .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #666;
}

.bubble_users .header .selector span {
  padding-right: 10px;
}

.bubble_users .info {
  border-bottom: 2px solid #999;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 7px 0px;
}

.bubble_users .info p {
  margin-bottom: 0px;
  margin-left: 5px;
}

.bubble_users .users_cloud {
  width: 100%;
  min-height: 300px;
}

.bubble_users .users_table {
  display: none;
}

.bubble_users .users_table th:not(:first-of-type) {
  cursor: pointer;
}
.bubble_users .users_table th:nth-child(2) {
  width: 60%;
}
.bubble_users .users_table th:last-of-type {
  min-width: 85px;
}

.bubble_users .users_table .page-item {
  border: 1px solid #ccc;
  padding: 3px 7px;
  cursor: pointer;
}
.bubble_users .users_table .page-item:hover {
  color: #fff;
  background: #009688;
  border-color: #009688;
}
.bubble_users .users_table .page-item.active {
  background: #009688;
  color: #fff;
  border-color: #009688;
}

.table_resources .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3.5px 0px;
  border-bottom: 2px solid #666;
}
.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.cloudy-title .select-cloud {
  align-items: right;
}
.cloudy-header {
  padding: 0px 0px;
  margin: 0px 0px;
  height: 100%;
  display: block;
}
.cloudy-title-bar {
  padding: 0px 0px;
  height: 100%;
}
.cloudy-title {
  display: flex;
  margin: 0;
  justify-content: space-between;
  align-items: left;
  border-bottom: 2px solid #666;
}

.cloudy-legend {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  border-bottom: 2px solid #bbb;
}

.icon-cloudy-legend {
  width: 20px;
  height: 16px;
  margin-top: 5px;
  margin-bottom: 4px;
  margin-left: -15px;
}
.text-cloudy-legend {
  height: 20px;
  margin: 2px 0px;
  padding-right: 5px;
}
.cloudy-header-2 {
  padding: 0px 15px;
}

.table_resources .resources_access_table th:not(:first-of-type) {
  cursor: pointer;
}

.table_resources .resources_access_table th:last-of-type {
  min-width: 85px;
}

.table_resources .resources_access_table .page-item {
  border: 1px solid #ccc;
  padding: 3px 7px;
  cursor: pointer;
}
.table_resources .resources_access_table .page-item:hover {
  color: #fff;
  background: #009688;
  border-color: #009688;
}
.table_resources .resources_access_table .page-item.active {
  background: #009688;
  color: #fff;
  border-color: #009688;
}

.page-item {
  border: 1px solid #ccc;
  padding: 3px 7px;
  cursor: pointer;
}
.page-item:hover {
  color: #fff;
  background: #009688;
  border-color: #009688;
}

.page-item.active {
  background: #009688;
  color: #fff;
  border-color: #009688;
}

.heatmap .header {
  border-bottom: 2px solid #666;
  margin-bottom: 7px;
}

.heatmap .header .identifier {
  padding: 3.5px 0px;
}
.heatmap .info {
  border-bottom: 2px solid #999;
  margin-bottom: 10px;
  display: flex;
  justify-content: left;
  align-items: center;
  padding-bottom: 7px;
}

.heatmap .info .info_icon {
  width: 40px;
  height: 20px;
}

.heatmap .info p {
  margin-bottom: 0px;
  margin-left: 5px;
}
