<!-- 
Copyright 2016, 2017 UFPE - Universidade Federal de Pernambuco
 
Este arquivo é parte do programa Amadeus Sistema de Gestão de Aprendizagem, ou simplesmente Amadeus LMS
 
O Amadeus LMS é um software livre; você pode redistribui-lo e/ou modifica-lo dentro dos termos da Licença Pública Geral GNU como publicada pela Fundação do Software Livre (FSF); na versão 2 da Licença.
 
Este programa é distribuído na esperança que possa ser útil, mas SEM NENHUMA GARANTIA; sem uma garantia implícita de ADEQUAÇÃO a qualquer MERCADO ou APLICAÇÃO EM PARTICULAR. Veja a Licença Pública Geral GNU para maiores detalhes.
 
Você deve ter recebido uma cópia da Licença Pública Geral GNU, sob o título "LICENSE", junto com este programa, se não, escreva para a Fundação do Software Livre (FSF) Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA.
-->

{% extends 'themes/index.html' %}

{% load static i18n %}
{% load widget_tweaks %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
  	{{ block.super }}
    {% breadcrumb 'Basic Elements' 'themes:basic' %}
{% endblock %}

{% block content %}
	<div class="card">
		<div class="card-content">
			<div class="card-body">
				<a href="{% url 'themes:basic' %}" class="page_selector"><h4><i class="fa fa-angle-down"></i> {% trans 'Basic Elements' %}</h4></a>

				<form id="theme-form" method="post" action="" enctype="multipart/form-data">
					{% csrf_token %}
					{% for field in form %}
						<div class="form-group{% if form.has_error %} has-error {% endif %} is-fileinput" data-file_id="{{ field.auto_id }}">
							{% if field.auto_id == 'id_small_logo' or field.auto_id == 'id_large_logo' or field.auto_id == 'id_favicon' or field.auto_id == 'id_high_contrast_logo' %}
				        		{% if field.field.required %}
									<label for="{{ field.auto_id }}">{{ field.label }} <span>*</span></label>
								{% else %}
									<label for="{{ field.auto_id }}">{{ field.label }}</label>
								{% endif %}
								
								{% render_field field %}
								
								<div class="input-group common-file-input">
				                  	<input type="text" readonly="" class="form-control" placeholder="{% trans 'Choose your photo...' %}">
				                  	<span class="input-group-btn input-group-sm">
				                    	<button type="button" class="btn btn-fab btn-fab-mini">
				                    		<i class="material-icons">attach_file</i>
				                   		</button>
				                  	</span>
				                </div>
			                  	<div class="filedrag">
			                  		{% trans 'Click or drop files here' %}<br />
			                  		
			                  		{% trans 'Recommended dimensions' %}:

			                  		{% if field.auto_id == 'id_small_logo' %}
			                  			927px x 955px <br />
			                  			<small>{% trans 'It is recommended to be a white image' %}</small>
			                  		{% elif field.auto_id == 'id_favicon' %}
			                  			927px x 955px
			                  		{% else %}
			                  			1286px x 955px
			                  		{% endif %}
		                  		</div>

				            {% elif field.auto_id == 'id_footer_note' %}
				            	{% if field.field.required %}
									<label for="{{ field.auto_id }}">{{ field.label }} <span>*</span></label>
								{% else %}
									<label for="{{ field.auto_id }}">{{ field.label }}</label>
								{% endif %}

				            	{% render_field field class='form-control text_wysiwyg' %}
				            {% else %}
								{% if field.field.required %}
									<label for="{{ field.auto_id }}">{{ field.label }} <span>*</span></label>
								{% else %}
									<label for="{{ field.auto_id }}">{{ field.label }}</label>
								{% endif %}

								{% render_field field class='form-control' %}
							{% endif %}
							
							<span id="helpBlock" class="help-block">{{ field.help_text }}</span>
						</div>
						
						{% if field.errors %}
							<div class="alert alert-danger alert-dismissible" role="alert">
			  					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			  						<span aria-hidden="true">&times;</span>
									</button>
								<ul>
									{% for error in field.errors %}
										<li>{{ error }}</li>
									{% endfor %}
								</ul>
							</div>
						{% endif %}

						{% if field.auto_id == 'id_small_logo' or field.auto_id == 'id_large_logo' or field.auto_id == 'id_favicon' or field.auto_id == 'id_high_contrast_logo' %}
							<div class="col-lg-12 col-md-12 col-sm-12 alert alert-danger alert-dismissible {{ field.auto_id }}-file-errors" style="display:none" role="alert">
									<button type="button" class="close" data-dismiss="alert" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								<ul>
									<li class="size" style="display:none">{% trans "The image is too large. It should have less than 2MB." %}</li>
									<li class="format" style="display:none">{% trans 'File not supported.' %}</li>
								</ul>
							</div>
							<br clear="all" />
						{% endif %}
					{% endfor %}
					<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
						<div class="text-center">
							<input type="submit" value="{% trans 'Save' %}" class="btn btn-raised btn-success" />
						</div>
					</div>
				</form>

				<a href="{% url 'themes:css' %}" class="page_selector"><h4><i class="fa fa-angle-right"></i> {% trans 'CSS Selector' %}</h4></a>
			</div>
		</div>
	</div>
	<br clear="all" />
	<br clear="all" />
	<script type="text/javascript" src="{% static 'js/themes.js' %}"></script>
{% endblock %}