<nav class="col-lg-1 fixed-bottom sticky-lg-top vh-lg-100 d-flex flex-column">
  <div class="container-fluid flex-lg-column p-lg-3">
    <ul class="navbar-nav d-flex flex-row flex-lg-column justify-content-around w-100">
      <li class="nav-item elements-bg-body-primary mb-lg-2">
        <a class="nav-link text-center" href="#">
          <i class="fa-solid fa-graduation-cap"></i>
        </a>
      </li>
      <li class="nav-item elements-bg-body-primary mb-lg-2">
        <a class="nav-link text-center" href="#">
          <i class="fa-solid fa-list"></i>
        </a>
      </li>
      <li class="nav-item elements-bg-body-primary mb-lg-2">
        <a class="nav-link text-center" href="#">
          <i class="fa-solid fa-comments"></i>
        </a>
      </li>
      <li class="nav-item elements-bg-body-primary mb-lg-2">
        <a class="nav-link text-center" href="#">
          <i class="fa-solid fa-chart-column"></i>
        </a>
      </li>
      <li class="nav-item elements-bg-body-primary mb-lg-2">
        <a class="nav-link text-center" href="#">
          <i class="fa-solid fa-circle-question"></i>
        </a>
      </li>
    </ul>
  </div>
</nav>