<!-- 
Copyright 2016, 2017 UFPE - Universidade Federal de Pernambuco
 
Este arquivo é parte do programa Amadeus Sistema de Gestão de Aprendizagem, ou simplesmente Amadeus LMS
 
O Amadeus LMS é um software livre; você pode redistribui-lo e/ou modifica-lo dentro dos termos da Licença Pública Geral GNU como publicada pela Fundação do Software Livre (FSF); na versão 2 da Licença.
 
Este programa é distribuído na esperança que possa ser útil, mas SEM NENHUMA GARANTIA; sem uma garantia implícita de ADEQUAÇÃO a qualquer MERCADO ou APLICAÇÃO EM PARTICULAR. Veja a Licença Pública Geral GNU para maiores detalhes.
 
Você deve ter recebido uma cópia da Licença Pública Geral GNU, sob o título "LICENSE", junto com este programa, se não, escreva para a Fundação do Software Livre (FSF) Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA.
-->

{% load static i18n %}
{% load widget_tweaks %}

<form id="news-form" method="post" action="" enctype="multipart/form-data">
	{% csrf_token %}
	{% for field in form %}
		<div class="form-group{% if form.has_error %} has-error {% endif %} is-fileinput col-lg-12 col-md-12 col-sm-12">
			{% if field.auto_id == 'id_image' %}
				<label for="{{ field.auto_id }}">{{ field.label }} <span>*</span></label>
					
				{% render_field field class='file-selector' data-mimetypes=mimeTypes %}
					
				<div class="input-group common-file-input">
			      	<input type="text" readonly="" class="form-control" placeholder="{% trans 'Choose your photo...' %}">
			      	<span class="input-group-btn input-group-sm">
			        	<button type="button" class="btn btn-fab btn-fab-mini">
			        		<i class="material-icons">attach_file</i>
			       		</button>
			      	</span>
			    </div>

			    <div class="filedrag">
			    	{% if news.image %}
			    		<i class="fa fa-file-archive-o"></i> <br />

			    		<small>{{ news.image.path }}</small>
			    	{% else %}
			      		{% trans 'Click or drop the file here' %}<br />
			      		
			      		<small>{% trans 'The photo could not exceed 5MB.' %}</small>
			      	{% endif %}
		  		</div>


            {% elif field.auto_id == 'id_content' %}
									<label for="{{ field.auto_id }}">{{ field.label }} <span>*</span></label>
            			{% render_field field class='form-control text_wysiwyg' %}
			{% else %}

							{% if field.auto_id == 'id_title' %}
										{% if field.field.required %}
											<label for="{{ field.auto_id }}">{{ field.label }} <span>*</span></label>
										{% else %}
							{% endif %}
				{% endif %}
							{% render_field field class='form-control' %}



			{% endif %}
				<span id="helpBlock" class="help-block">{{ field.help_text }}</span>
		</div>
		{% if field.errors %}
			<div class="col-lg-12 col-md-12 col-sm-12 alert alert-danger alert-dismissible" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				<ul>
					{% for error in field.errors %}
						<li>{{ error }}</li>
					{% endfor %}
				</ul>
			</div>
		{% endif %}

		{% if field.auto_id == 'id_image' %}
			<div class="col-lg-12 col-md-12 col-sm-12 alert alert-danger alert-dismissible client-file-errors" style="display:none" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				<ul>
					<li class="size" style="display:none">{% trans "The image is too large. It should have less than 5MB." %}</li>
					<li class="format" style="display:none">{% trans 'File not supported.' %}</li>
				</ul>
			</div>
		{% endif %}
	{% endfor %}
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12">
			<div class="col-md-6 col-xs-6 col-sm-6 col-lg-6 text-center">
				<input type="submit" value="{% trans 'Save' %}" class="btn btn-success btn-raised btn-block" />
			</div>
			<div class="col-md-6 col-xs-6 col-sm-6 col-lg-6 text-center">
				<input type=button value="{% trans 'Cancel' %}" class="btn btn-default btn-raised btn-block" onClick="window.history.back();return false;">
			</div>
		</div>
	</div>

</form>
<script src="{% static 'js/crop_news.js' %}"></script> <!-- Js for cropper-->
<script type="text/javascript">
// check if browser supports drag n drop
// call initialization file
if (window.File && window.FileList && window.FileReader) {
	Init();
}

// initialize
function Init() {
	var small = $(".file-selector"),
		filedrag = $(".filedrag"),
		common = $(".common-file-input");
		
	// file select
	small.on("change", FileSelectHandler);

	// is XHR2 available?
	var xhr = new XMLHttpRequest();
	if (xhr.upload) {
		// file drop
		filedrag.on("drop", FileSelectHandler);
		filedrag.attr('style', 'display:block');
		common.attr('style', 'display:none');
	}
}

// file selection
function FileSelectHandler(e) {
	var files = e.target.files || e.dataTransfer.files,
		parent = $(e.target.offsetParent);
	// process all File objects
	for (var i = 0, f; f = files[i]; i++) {
		parent.find('.filedrag').html(f.name);
	}
}
</script>


{% include 'users/modal_crop.html'  %}
