<!-- 
Copyright 2016, 2017 UFPE - Universidade Federal de Pernambuco
 
Este arquivo é parte do programa Amadeus Sistema de Gestão de Aprendizagem, ou simplesmente Amadeus LMS
 
O Amadeus LMS é um software livre; você pode redistribui-lo e/ou modifica-lo dentro dos termos da Licença Pública Geral GNU como publicada pela Fundação do Software Livre (FSF); na versão 2 da Licença.
 
Este programa é distribuído na esperança que possa ser útil, mas SEM NENHUMA GARANTIA; sem uma garantia implícita de ADEQUAÇÃO a qualquer MERCADO ou APLICAÇÃO EM PARTICULAR. Veja a Licença Pública Geral GNU para maiores detalhes.
 
Você deve ter recebido uma cópia da Licença Pública Geral GNU, sob o título "LICENSE", junto com este programa, se não, escreva para a Fundação do Software Livre (FSF) Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA.
-->

{% load static i18n pagination permissions_tags %}
{% load django_bootstrap_breadcrumbs %}

{% subject_permissions request.user subject as has_subject_permissions %}

<div class="panel-group subject-group" id="topics-accordion" role="tablist" aria-multiselectable="true">
	<input type="hidden" class="url_order" value="{% url 'topics:update_order' %}" />
	<input type="hidden" class="subs_url" value="{% url 'subjects:view' subject.slug %}" />

	{% for topic in subject.topic_subject.all %}
		{% if not topic.repository and topic.visible or has_subject_permissions %}
			<div class="panel panel-info {% if not topic.visible or topic.repository %} topic-panel-invisible {% else %} topic-panel {% endif %}">
		        <div class="panel-heading">
		            <div class="row">
		                <div class="col-md-12 category-header">
		                    <h4 class="panel-title">
		                        <a class="category-course-link pull-left" data-parent="#topics-accordion" data-toggle="collapse" href="#{{topic.slug}}">
		                            <button class="btn btn-default btn-xs text-center cat-selector"><i class="fa fa-angle-right fa-2x" aria-hidden="true"></i></button> {{ topic }}
		                        </a>
		                    </h4>

	                        {% if has_subject_permissions %}
		                    	<div class="col-md-5 pull-right category-card-items">
		                            <a href="" id="moreActions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		                                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
		                            </a>
		                            <ul class="dropdown-menu pull-right" aria-labelledby="moreActions">
		                                <li><a href="{% url 'topics:update' subject.slug topic.slug %}"><i class="fa fa-pencil fa-fw" aria-hidden="true"></i>{% trans 'Edit' %}</a></li>
		                                <li><a href="javascript:delete_topic('{% url 'topics:delete' topic.slug %}')"><i class="fa fa-trash fa-fw" aria-hidden="true"></i>&nbsp;{% trans 'Remove' %}</a></li>
		                            </ul>
		                            <a href="" ><i class="fa fa-arrows move_topic" aria-hidden="true"></i></a>
		                    	</div>
	                        {% endif %}
		                </div>
		            </div>
		        </div>
			    <div id="{{topic.slug}}" class="panel-collapse collapse category-panel-content topic-panel">
			    	<input type="hidden" class="id_inp" name="id" value="{{ topic.id }}" />
			    	<input type="hidden" class="order_inp" name="order" value="{{ topic.order }}" />

			    	<input type="hidden" class="log_url" value="{% url 'topics:view_log' topic.id %}" />
            		<input type="hidden" class="log_id" value="" />

	    			{% autoescape off %}
						{{ topic.description }}
					{% endautoescape %}

					{% if has_subject_permissions %}
						<div class="row text-center">
							<div class="btn-group add_resource">
						  		<button type="button" class="btn btn-success btn-raised dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						  			<i class="fa fa-angle-right"></i> {% trans 'Add Resource' %}
							  	</button>
							  	<ul class="dropdown-menu">
							  		<li><a href="{% url 'pdf_files:create' topic.slug %}"><i class="fa fa-file-pdf-o"></i> {% trans "PDF File" %}</a></li>
										<li><a href="{% url 'bulletin:create' topic.slug %}"><i class="fa fa-check-square-o"></i> {% trans "Topic Bulletin" %}</a></li>
							    	<li><a href="{% url 'youtube:create' topic.slug %}"><i class="fa fa-video-camera"></i> {% trans 'YouTube Video' %}</a></li>
							    	<!-- <li><a href="#"><i class="fa fa-comments-o"></i> {% trans 'Forum' %}</a></li> -->
							    	<li><a href="{% url 'file_links:create' topic.slug %}"><i class="fa fa-file-archive-o"></i> {% trans 'File Link' %}</a></li>
							    	<li><a href="{% url 'links:create' topic.slug %}" > <i class="fa fa-globe"></i> {% trans "Link to Website" %}</a>
							    	<li><a href="{% url 'goals:create' topic.slug %}"><i class="fa fa-line-chart"></i> {% trans 'Topic Goals' %}</a></li>
							    	<li><a href="{% url 'webpages:create' topic.slug %}"><i class="fa fa-file-code-o"></i> {% trans 'Webpage' %}</a></li>
							    	<!-- <li><a href="#"><i class="fa fa-question-circle-o"></i> {% trans 'Questionary' %}</a></li> -->
										<li><a href="{% url 'webconferences:create' topic.slug %}"><i class="fa fa-desktop"></i> {% trans 'Web Conference' %}</a></li>

							  	</ul>
							</div>
						</div>
					{% endif %}

					{% include 'resources/list.html' with topic=topic %}
			    </div>
		    </div>
		{% endif %}
	{% endfor %}
</div>

<script type="text/javascript" src="{% static 'js/topics.js' %}"></script>
