{% load static i18n pagination permissions_tags %}
{% load django_bootstrap_breadcrumbs %}

{% subject_permissions request.user subject as has_subject_permissions %}

<div class="panel-group subject-group" id="topics-accordion" role="tablist" aria-multiselectable="true">
	{% for topic in subject.topic_subject.all %}
		{% if not topic.repository and topic.visible or has_subject_permissions %}
			<div class="panel panel-info {% if not topic.visible or topic.repository %} topic-panel-invisible {% else %} topic-panel {% endif %} topic-panel">
		        <div class="panel-heading">
		            <div class="row">
		                <div class="col-md-12 category-header">
		                    <h4 class="panel-title">
		                        <a class="category-course-link pull-left" data-parent="#topics-accordion" data-toggle="collapse" href="#{{topic.slug}}">
		                            <button class="btn btn-default btn-xs text-center cat-selector"><i class="fa fa-angle-right fa-2x" aria-hidden="true"></i></button> {{ topic }}
		                        </a>
		                    </h4>

	                        {% if has_subject_permissions %}
		                    	<div class="col-md-5 pull-right category-card-items">
		                            <a href="" id="moreActions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
		                                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
		                            </a>
		                            <ul class="dropdown-menu pull-right" aria-labelledby="moreActions">
		                                <li><a href="{% url 'subjects:replicate' subject.slug %}"><i class="fa fa-files-o fa-fw" aria-hidden="true"></i>{% trans 'Replicate' %}</a></li>
		                                <li><a href="{% url 'subjects:update' subject.slug %}"><i class="fa fa-pencil fa-fw" aria-hidden="true"></i>{% trans 'Edit' %}</a></li>
		                                <li><a href="javascript:delete_subject.get('{% url 'subjects:delete' subject.slug %}?view=index','#subject','#modal_subject')"><i class="fa fa-trash fa-fw" aria-hidden="true"></i>&nbsp;{% trans 'Remove' %}</a></li>
		                            </ul>
		                            <a href="" ><i class="fa fa-arrows" aria-hidden="true"></i></a>
		                    	</div>
	                        {% endif %}
		                </div>
		            </div>
		        </div>
			    <div id="{{topic.slug}}" class="panel-collapse collapse category-panel-content">
			    	<input type="hidden" class="id_inp" name="id" value="{{ topic.id }}" />
			    	<input type="hidden" class="order_inp" name="order" value="{{ topic.order }}" />
			    </div>
		    </div>
		{% endif %}
	{% endfor %}
</div>

<script type="text/javascript">
	$("#topics-accordion").sortable({ // utilizado para fazer a re-organização dos tópicos
	    delay: 100,
	    distance: 5,
	    handler: 'i.fa-arrows',
	    update: function( event, ui ) {
      		var cont = 1;
      		var data = [];
      		
      		$("#topics-accordion").find('.order_inp').each(function () {
      			$(this).val(cont++);

      			data.push({
      				'topic_id': $(this).parent().find('.id_inp').val(),
      				'topic_order': $(this).val()
      			});
      		});

      		data = JSON.stringify(data);

      		sendUpdate(data);
	    },
	});

	function sendUpdate(data) {
		$.ajax({
			url: '{% url "topics:update_order" %}',
			dataType: 'json',
			data: {'data': data},
			success: function(response) {
				console.log(response);
			},
			error: function(response) {
				console.log(response);	
			}
		});
	}
</script>