{% load i18n permission_tags list_post %}
{% load widget_tweaks %}

<div class="comments-list">
    <div class="section-heading">
        <h1>{{ forum }}</h1>
        <h4><b>{% trans 'Description' %}:</b> {{ forum.description }}</h4>
        <h4><b>{% trans 'Opened in' %}:</b> {{ forum.create_date }}</h4>
    </div>
</div>

<div id="posts_list">
    {% list_posts request forum %}
</div>

<form id="form_post" method="post" action="{% url 'forum:create_post' %}" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form %}
        {% if field.field.widget.input_type == 'hidden' %}
            {% render_field field class='form-control' value=forum.id %}
        {% else %}
            <div class="form-group {% if form.has_error %} has-error {% endif %} is-fileinput">
                <div class="input-group">
                    {% render_field field class='form-control' placeholder="Post a message" %}
                    <span class="help-block">{{ field.help_text }}</span>
                    {% if field.errors %}
                        <div class="row">
                            <br />
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <ul>
                                    {% for error in field.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endif %}
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-fab btn-fab-mini">
                            <i class="material-icons">send</i>
                        </button>
                    </span>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</form>

<!--{% if foruns|length > 0 %}
    {% for forum in foruns %}
        <a class="forum_collapse" role="button" href="javascript: showPosts('{% url 'forum:posts' %}', '{{ forum.slug }}')" aria-expanded="true">
            <div class="page-header">
                <h1 id="timeline">
                    {{ forum }}
                </h1>
                <b>{% trans 'Description' %}: </b>{{ forum.description }}<p>
                <b>{% trans 'Created in' %}: </b>{{ forum.create_date }}
            </div>
        </a>
        <div class="collapse" id="collapse{{ forum.slug }}">
            <div class="well">
            </div>
        </div>
    {% endfor %}
{% else %}
    <div class="page-header">
        <p>{% trans 'No forum created yet.' %}</p>
    </div>
{% endif %}-->
