{% load i18n permission_tags list_post %}

<div class="comments-list">
    <div class="section-heading">
        <h1>{{ forum }}</h1>
        <h4><b>{% trans 'Description' %}:</b> {{ forum.description }}</h4>
        <h4><b>{% trans 'Opened in' %}:</b> {{ forum.create_date }}</h4>
    </div>
</div>

{% list_posts request forum %}

<!--{% if foruns|length > 0 %}
    {% for forum in foruns %}
        <a class="forum_collapse" role="button" href="javascript: showPosts('{% url 'forum:posts' %}', '{{ forum.slug }}')" aria-expanded="true">
            <div class="page-header">
                <h1 id="timeline">
                    {{ forum }}
                </h1>
                <b>{% trans 'Description' %}: </b>{{ forum.description }}<p>
                <b>{% trans 'Created in' %}: </b>{{ forum.create_date }}
            </div>
        </a>
        <div class="collapse" id="collapse{{ forum.slug }}">
            <div class="well">
            </div>
        </div>
    {% endfor %}
{% else %}
    <div class="page-header">
        <p>{% trans 'No forum created yet.' %}</p>
    </div>
{% endif %}-->
