{% extends 'base.html' %}

{% load static i18n permission_tags list_post %}
{% load widget_tweaks %}

{% block javascript %}
    <script type="text/javascript" src="{% static 'js/forum.js' %}"></script>
{% endblock %}

{% block breadcrumbs %}

    <ol class="breadcrumb">
        <li><a href="{% url 'app:index' %}">{% trans 'Home' %}</a></li>
        <li><a href="{% url 'course:view' forum.topic.subject.course.slug %}">{{ forum.topic.subject.course }}</a></li>
        {% if user|has_role:'professor' or user|has_role:'system_admin' %}
            <li class="active">{% trans 'Forum' %}</li>
        {% else %}
            <li class="active">{{ forum.name }}</li>
        {% endif %}
        
    </ol>
{% endblock %}

{% block sidebar %}
    <div class="panel panel-primary navigation">
        <div class="panel-heading">
            <h5>{% trans 'Menu' %}</h5>
        </div>
        <div class="panel-body">
            <ul class="nav nav-pills nav-stacked">
                <li><a href="{% url 'users:profile' %}">{% trans 'Profile' %}</a></li>
                <li><a href="{% url 'course:manage' %}">{% trans 'My Courses' %}</a></li>
            </ul>
        </div>
    </div>
    
    {% if request.user|has_role:'system_admin' or request.user|has_role:'professor' and request.user in forum.topic.subject.professors.all %}
        <div class="panel panel-primary navigation">
            <div class="panel-heading">
                <h3 class="panel-title">{% trans 'Actions' %}</h3>
            </div>
            <div class="panel-body">
                <ul class="nav nav-pills nav-stacked">
                    <li><a href="javascript:editForum('{% url 'course:forum:update' forum.id %}', '{{ forum.id }}', '{% trans 'Forum edited successfully!' %}')">{% trans 'Edit' %}</a></li>
                    <li><a href="javascript:delete_forum('{% url 'course:forum:delete' forum.id %}', '{{ forum.id }}', '{% trans "Are you sure you want to delete this forum?" %}', '{% url 'course:view_subject' forum.topic.subject.slug %}')">{% trans 'Delete' %}</a></li>
                </ul>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="comments-list">
                <div class="section-heading forum_view">
                    <h1>{{ forum }}</h1>
                    <h4><b>{% trans 'Description' %}:</b> {{ forum.description }}</h4>
                    <h4><b>{% trans 'Opened in' %}:</b> {{ forum.create_date }}</h4>
                </div>
            </div>
            <div class="form_post_block">
                <hr />
                <form id="form_post" method="post" action="{% url 'course:forum:create_post' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                        {% if field.field.widget.input_type == 'hidden' %}
                            {% render_field field class='form-control' value=forum.id %}
                        {% else %}
                            <div class="form-group {% if form.has_error %} has-error {% endif %} is-fileinput">
                                <div class="input-group">
                                    {% render_field field class='form-control' placeholder="Post a message" %}
                                    <span class="help-block">{{ field.help_text }}</span>
                                    {% if field.errors %}
                                        <div class="row">
                                            <br />
                                            <div class="alert alert-danger alert-dismissible" role="alert">
                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                                <ul>
                                                    {% for error in field.errors %}
                                                        <li>{{ error }}</li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    {% endif %}
                                    <span class="input-group-btn">
                                        <button type="submit" class="btn btn-fab btn-fab-mini">
                                            <i class="material-icons">{% trans 'send' %}</i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </form>
                <hr />
            </div>
            <div id="posts_list">
                {% list_posts request forum %}
            </div>
            <div id="loading_posts" class="alert alert-primary" role="alert" style="display: none">
                <center>
                    <span class="fa fa-spin fa-circle-o-notch"></span>
                </center>
            </div>
        </div>
    </div>
    <!-- Modal to show Forum edit form -->
    <div class="modal fade" id="editForum" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">{% trans 'Forum' %}</h4>
                </div>
                <div class="modal-body">
                    <section>
                        <div class="forum_form"></div>
                    </section>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger btn-raised" data-dismiss="modal">{% trans 'Close' %}</button>
                    <button type="button" onclick="$('#forum_create').submit();" class="btn btn-primary btn-raised">{% trans 'Update' %}</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

