<!-- 
Copyright 2016, 2017 UFPE - Universidade Federal de Pernambuco
 
Este arquivo é parte do programa Amadeus Sistema de Gestão de Aprendizagem, ou simplesmente Amadeus LMS
 
O Amadeus LMS é um software livre; você pode redistribui-lo e/ou modifica-lo dentro dos termos da Licença Pública Geral GNU como publicada pela Fundação do Software Livre (FSF); na versão 2 da Licença.
 
Este programa é distribuído na esperança que possa ser útil, mas SEM NENHUMA GARANTIA; sem uma garantia implícita de ADEQUAÇÃO a qualquer MERCADO ou APLICAÇÃO EM PARTICULAR. Veja a Licença Pública Geral GNU para maiores detalhes.
 
Você deve ter recebido uma cópia da Licença Pública Geral GNU, sob o título "LICENSE", junto com este programa, se não, escreva para a Fundação do Software Livre (FSF) Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA.
-->

{% load i18n goals_filters %}

<div class="row">
	<div class="col-md-12">
		<table id="answered_table" class="table table-striped table-bordered">
			<thead>
				<th>
					{% trans 'Student' %}
				</th>
				<th>
					{% trans 'Group' %}
				</th>
				<th>
					{% trans 'Definition Date' %}
				</th>
				<th>
					{% trans 'Update Date' %}
				</th>
				<th>
					{% trans 'Goals' %}
				</th>
			</thead>
			<tbody>
				{% for student in students %}
					<tr>
						<td>{{ student }}</td>
						<td>{{ student|groups }}</td>
						<td>{{ student|creation_date:goal|date:"SHORT_DATE_FORMAT" }}</td>
						<td>{{ student|update_date:goal|date:"SHORT_DATE_FORMAT" }}</td>
						<td>{{ student|my_goals:goal }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>