<!DOCTYPE html>

<!-- 
Copyright 2016, 2017 UFPE - Universidade Federal de Pernambuco
 
Este arquivo é parte do programa Amadeus Sistema de Gestão de Aprendizagem, ou simplesmente Amadeus LMS
 
O Amadeus LMS é um software livre; você pode redistribui-lo e/ou modifica-lo dentro dos termos da Licença Pública Geral GNU como publicada pela Fundação do Software Livre (FSF); na versão 2 da Licença.
 
Este programa é distribuído na esperança que possa ser útil, mas SEM NENHUMA GARANTIA; sem uma garantia implícita de ADEQUAÇÃO a qualquer MERCADO ou APLICAÇÃO EM PARTICULAR. Veja a Licença Pública Geral GNU para maiores detalhes.
 
Você deve ter recebido uma cópia da Licença Pública Geral GNU, sob o título "LICENSE", junto com este programa, se não, escreva para a Fundação do Software Livre (FSF) Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA.
-->

{% load static i18n util_tags %}
{% load widget_tweaks %}

<html>
<head>
	<title>{{ title }} | {{ theme.title }}</title>

	<script type="text/javascript" src="{% static 'js/jquery-3.1.0.min.js' %}"></script>

	<meta http-equiv="Cache-Control" content="no-cache, no-store" />
	<link href="{{ theme.favicon_url }}" rel="shortcut icon" />

	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap-3.3.7/css/bootstrap.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'material/css/bootstrap-material-design.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'material/css/ripples.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'material/css/ripples.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-slider.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'font-awesome-4.6.3/css/font-awesome.min.css' %}">

	<!-- Custom styles -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/base/amadeus_responsive.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base/amadeus.css' %}">

    {% with 'css/themes/'|add:theme.css_style|add:'.css' as theme_selected %}
        <link rel="stylesheet" type="text/css" href="{% static theme_selected %}">
    {% endwith %}

	<script type="text/javascript" src="{% static 'js/bootstrap-slider.js' %} "></script>
</head>
<body style="background: #FFF">
	<div class="container-fluid" style="padding-top: 20px">
		{% autoescape off %}
			{{ goals.presentation }}
		{% endautoescape %}

		<br clear="all" />

		<b>{% trans "Limit submission date" %}:</b> {{ goals.limit_submission_date }}

		<hr class="goal_divider" />

		{% include "goals/_form_submit.html" %}
	</div>

<script type="text/javascript">
	$(function () {
		$(".slider_value").bootstrapSlider({
			tooltip: 'always',
		});
	});
</script>
</body>
</html>