{% load widget_tweaks i18n %} 

<form method="post" id="material_create" enctype="multipart/form-data" action="{% if material %}{% else %}{% url 'course:upload_material' %}{% endif %}">
    {% csrf_token %}
    {% for field in form %}
        <div class="form-group {% if form.has_error %} has-error {% endif %} is-fileinput">
            {% if field.field.widget.input_type == 'hidden' %}
                {% render_field field class='form-control' %}
            {% else %}
                {% if field.field.required %}
                    <label for="{{ field.auto_id }}" class="control-label">{{ field.label }}<span>*</span></label>
                {% else %}
                    <label for="{{ field.auto_id }}" class=" control-label">{{ field.label }}</label>
                {% endif %}
                <label for="{{ field.auto_id }}">{{ field.label }}</label>
                {% render_field field %}
                <span class="help-block">{{ field.help_text }}</span>
                {% if field.auto_id == 'id_file_url' %}
                        {% render_field field class='form-control input-sm' %}
                        <div class="input-group">
                            <input type="text" readonly="" class="form-control" placeholder="{% trans 'Choose your file...' %}">
                            <span class="input-group-btn input-group-sm">
                                <button type="button" class="btn btn-fab btn-fab-mini">
                                    <i class="material-icons">attach_file</i>
                                </button>
                            </span>
                        </div>
                    {% else %}
                        {% render_field field class='form-control input-sm' %}
                        <span id="helpBlock" class="help-block">{{ field.help_text }}</span>
                    {% endif %}
                {% if field.errors %}
                    <div class="row">
                        <br />
                        <div class="alert alert-danger alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <ul>
                                {% for error in field.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    {% endfor %}
</form>         
<!-- EndModal -->