{% load static widget_tweaks i18n %}

<!-- MODAL CREATE FILE -->
<div class="erro">
    <div class="modal fade" id="fileModal" tabindex="-1" role="dialog" aria-labelledby="createFileLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="createFileLabel">{% trans 'Add File' %}</h4>
                </div>
                <div class="modal-body">
                <!-- Card -->
                    <form class="form-horizontal" method="post" id="form-file" enctype="multipart/form-data">
                    {% csrf_token %}
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <p>{{ message }}</p>
                                </div>
                            {% endfor %}
                        {% endif %}
                        <fieldset>
                            {% for field in form %}
                                <div class="form-group is-empy{% if form.has_error %} has-error {% endif %} is-fileinput">
                                    <div class="col-md-12">
                                        {% if field.field.required %}
                                            <label for="{{ field.auto_id }}" class="control-label">{{ field.label }}<span>*</span></label>
                                        {% else %}
                                            <label for="{{ field.auto_id }}" class=" control-label">{{ field.label }}</label>
                                        {% endif %}
                                        {% if field.auto_id == 'id_file_url' %}
                                            {% render_field field class='form-control input-sm' %}
                                            <div class="input-group">
                                                <input type="text" readonly="" class="form-control" placeholder="{% trans 'Choose your file...' %}">
                                                <span class="input-group-btn input-group-sm">
                                                    <button type="button" class="btn btn-fab btn-fab-mini">
                                                        <i class="material-icons">attach_file</i>
                                                    </button>
                                                </span>
                                            </div>
                                        {% else %}
                                            {% render_field field class='form-control input-sm' %}
                                            <span id="helpBlock" class="help-block">{{ field.help_text }}</span>
                                        {% endif %}
                                    </div>

                                    {% if field.errors %}
                                        <div class="alert alert-danger alert-dismissible clearfix" role="alert">
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            <ul>
                                                {% for error in field.errors %}
                                                    <li>{{ error }}</li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    {% endif %}
                                </div>
                            {% endfor %}

                            <div class="form-group">
                                <div class="col-md-12 text-center">
                                    <p><b>{% trans 'The file size shouldnt exceed 10MB' %}</b></p>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-12">
                                     <button type="button" class="btn btn-default btn-raised" data-dismiss="modal">{% trans "Close" %}</button>
                                    <button class="btn btn-raised btn-primary" type="submit">{% trans 'Submit' %}</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                <!-- .end Card -->
              </div>
            </div>
        </div>
    </div>
</div>

{% block script_file %}

    {# // <script src="{% static 'js/file.js' %}"></script> #}
    <script type="text/javascript">
      $("#form-file").submit(function(event) {
            var data = new FormData($('#form-file').get(0));
            $.ajax({
                url: "{% url 'course:file:create_file' topic.slug %}",
                type: $("#form-file").attr('method'),
                data: data,
                cache: false,
                processData: false,
                contentType: false,
                success: function(data) {
                    $('#fileModal').modal('hide');
                    alertify.success('File successfully created!');
                    $('#list-topic{{ topic.id }}-files').append(data);
                    $('#list-topic{{ topic.id }}-files-edit').append(data);
                },
                error: function(data){
                    $('.erro').html(data.responseText);
                    $('.modal-backdrop').remove();
                    $('#fileModal').modal();
                }
            });
            event.preventDefault();
          });
    </script>
{% endblock script_file %}
