{% load static widget_tweaks i18n %}

<!-- MODAL CREATE FILE -->
<link rel="stylesheet" type="text/css" href="{% static 'css/file.css' %}">

<div class="erro-update">
    <div class="modal fade" id="fileUpdateModal" tabindex="-1" role="dialog" aria-labelledby="updateFileLabel" style="z-index: 10">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="updateFileLabel">{% trans 'Edit File' %}</h4>
                </div>
                <div class="modal-body">
                <!-- Card -->
                    <form class="form-horizontal" method="post" id="form-update-file" enctype="multipart/form-data">
                    {% csrf_token %}
                        <fieldset>
                            {% for field in form %}
                                <div class="form-group is-empy{% if form.has_error %} has-error {% endif %} is-fileinput">
                                    <div class="col-md-12">
                                        {% if field.field.required %}
                                            <label for="{{ field.auto_id }}" class="control-label">{{ field.label }}<span>*</span></label>
                                        {% else %}
                                            <label for="{{ field.auto_id }}" class=" control-label">{{ field.label }}</label>
                                        {% endif %}
                                        {% if field.auto_id == 'id_file_url' %}
                                            <input class="form-control input-sm" id="id_file_url" name="file_url" type="file">
                                            <div class="input-group">
                                                <input type="text" readonly="" class="form-control" placeholder="{% trans 'Choose your file...' %}">
                                                <span class="input-group-btn input-group-sm">
                                                    <button type="button" class="btn btn-fab btn-fab-mini">
                                                        <i class="material-icons">attach_file</i>
                                                    </button>
                                                </span>
                                            </div>
                                            <div class="crearfix">
                                                <a href="{{ file.file_url.url }}" target="_blank">{% trans "See current file" %}</a>
                                            </div>
                                        {% else %}
                                            {% render_field field class='form-control input-sm' %}
                                            <span id="helpBlock" class="help-block">{{ field.help_text }}</span>
                                        {% endif %}
                                    </div>

                                    {% if field.errors %}
                                        <div class="alert alert-danger alert-dismissible clearfix" role="alert">
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            <ul>
                                                {% for error in field.errors %}
                                                    <li>{{ error }}</li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    {% endif %}
                                </div>
                            {% endfor %}

                            <div class="form-group">
                                <div class="col-md-12 text-center">
                                    <p><b>{% trans 'The file size shouldnt exceed 10MB' %}</b></p>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-12">
                                     <button type="button" class="btn btn-default btn-raised" data-dismiss="modal">{% trans "Close" %}</button>
                                    <button class="btn btn-raised btn-primary" type="submit">{% trans 'Submit' %}</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                <!-- .end Card -->
              </div>
            </div>
        </div>
    </div>
</div>

{% block script_file %}

    {# // <script src="{% static 'js/file.js' %}"></script> #}
    <script type="text/javascript">
      $("#form-update-file").submit(function(event) {
            var data = new FormData($('#form-update-file').get(0));
            $.ajax({
                url: "{% url 'course:file:update_file' file.slug %}",
                type: $("#form-update-file").attr('method'),
                data: data,
                cache: false,
                processData: false,
                contentType: false,
                success: function(data) {
                    $('#fileUpdateModal').modal('hide');
                    $('#file_edit_{{ file.slug }}').replaceWith(data);
                    $('#file_{{ file.slug }}').replaceWith(data);
                    alertify.success(" {% trans 'File successfully updated!' %} ");
                },
                error: function(data){
                    $('.erro-update').html(data.responseText);
                    $('.modal-backdrop').remove();
                    $('#fileUpdateModal').modal();
                }
            });
            event.preventDefault();
          });
  </script>
{% endblock script_file %}
<!-- EndModal -->
