<!-- 
Copyright 2016, 2017 UFPE - Universidade Federal de Pernambuco
 
Este arquivo é parte do programa Amadeus Sistema de Gestão de Aprendizagem, ou simplesmente Amadeus LMS
 
O Amadeus LMS é um software livre; você pode redistribui-lo e/ou modifica-lo dentro dos termos da Licença Pública Geral GNU como publicada pela Fundação do Software Livre (FSF); na versão 2 da Licença.
 
Este programa é distribuído na esperança que possa ser útil, mas SEM NENHUMA GARANTIA; sem uma garantia implícita de ADEQUAÇÃO a qualquer MERCADO ou APLICAÇÃO EM PARTICULAR. Veja a Licença Pública Geral GNU para maiores detalhes.
 
Você deve ter recebido uma cópia da Licença Pública Geral GNU, sob o título "LICENSE", junto com este programa, se não, escreva para a Fundação do Software Livre (FSF) Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA.
-->
{% load static i18n %}

<div class="row">
    <div class="col-md-12 table_resources" data-url="{% url 'dashboards:resources_chart' subject.slug %}">
        <div class="header">
                <div class="identifier">
                <b>{% trans 'Resources accessess' %}</b>
                <i
                class="fa fa-info-circle"
                aria-hidden="true"
                data-toggle="tooltip"
                title="{% trans 'Access number in each class recourse in this subject' %}"
                ></i>
            </div>
        </div>
        <div class="resources_access_table">
            <div id="table-container" class="table-responsive">
                <table id="resources_table" class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th class="sort" scope="col" data-sort="resource_name">{% trans 'Resource' %} <i class="fa fa-sort"></i</th>
                            <th class="sort" scope="col" data-sort="qtd_acess">{% trans 'Accessess' %} <i class="fa fa-sort"></i</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
            <nav aria-label="Table Navigation">
                <ul id="resources_table_pag" class="pagination"></ul>
            </nav>
        </div>
    </div>
</div>

<script type="text/javascript" src="{% static 'dashboards/js/teacher/resources_table.js' %}"></script>