<!-- 
Copyright 2016, 2017 UFPE - Universidade Federal de Pernambuco
 
Este arquivo é parte do programa Amadeus Sistema de Gestão de Aprendizagem, ou simplesmente Amadeus LMS
 
O Amadeus LMS é um software livre; você pode redistribui-lo e/ou modifica-lo dentro dos termos da Licença Pública Geral GNU como publicada pela Fundação do Software Livre (FSF); na versão 2 da Licença.
 
Este programa é distribuído na esperança que possa ser útil, mas SEM NENHUMA GARANTIA; sem uma garantia implícita de ADEQUAÇÃO a qualquer MERCADO ou APLICAÇÃO EM PARTICULAR. Veja a Licença Pública Geral GNU para maiores detalhes.
 
Você deve ter recebido uma cópia da Licença Pública Geral GNU, sob o título "LICENSE", junto com este programa, se não, escreva para a Fundação do Software Livre (FSF) Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA.
-->

{% extends 'base.html' %}

{% load static i18n pagination %}
{% load django_bootstrap_breadcrumbs %}
{% block style %}
    {% for file in style_files %}
        <link rel="stylesheet" type="text/css" href="{% static file %}">
    {% endfor %}
{% endblock style %}

{% block javascript %}
    
    {% for file in javascript_files %}
         <script type="text/javascript" src="{% static file %}"></script>
    {% endfor %}
{% endblock javascript %}

{% block breadcrumbs %}
    {{ block.super }}
    
    {% trans 'Analytics Category' as category %}

    {% breadcrumb category 'dashboard:view_general' %}

{% endblock %}


{% block content %}
	 <section id="core-subjects-options-div">
        <nav>
            <ul class="core-subjects-options report-menu-choice">
                    {% if user.is_staff %}
                        <a href="{% url 'dashboards:view_general' %}">
                            <li>
                                {% trans "Platform Report" %}
                            </li>
                        </a>
                    {% endif %}
                  
                    <a href="{% url 'dashboards:view_categories' %}">
                        <li class="active">
                            {% trans "Category Report" %}
                        </li>
                    </a> 
                    <li>
                        {% trans "Subject Report" %}
                    </li>
              
            </ul>
        </nav>
    </section>

    <section id="general-report">
        <header id="general-report-header">
            <h3>{{category.name}} {% trans "Category Report" %}</h3>
            <select id="category-selector">
                {% for category in categories %}
                    <option value="{{category.id}}">{{category.name}}</option>
                {% endfor %}
            </select>
            <ul id="report-header-options">
                <li  class="tab-option selected">
                    {% trans "Focus" %}
                </li>
                <a href="{% url 'dashboards:view_general_log' %}"><li class="tab-option">
                    {% trans "Log" %}
                </li></a>
            </ul>
        </header> 

        <article class="report-body">

            {% include "dashboards/tags_body.html" %}

            <div id="bottom-part">

            <div id="left-side" class="chart-side">
                <h2>{% trans "between" %}</h2>
               
                        <div class='col-md-4'>
                            <div class="form-group">
                                <div class='input-group date' id='init_date'>
                                    <input type='text' class="form-control" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class='col-md-4'>
                            <div class="form-group">
                                <div class='input-group date' id='end_date'>
                                    <input type='text' class="form-control" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                
                <div>
                    <h4>{% trans "by" %}</h4>
                    <select>
                        <option>month</option>
                        <option>year</option>
                    </select>
                </div>
                <div id="left-chart">

                </div>
            </div>
                

            <div id="right-side-heatmaps" class="chart-side">
                      <div id="month_selector_div">
                        <h4>{% trans "Amount of access in: " %}
                        <select id="month_selector">
                            {% for month in months  %}
                                <option>{{month}}</option>
                            {% endfor %}

                        </select>
                        </h4>
                    </div>
                    <div id="upper-right-part"></div>

                      <div class='input-group date'>
                        <label>{% trans "Select the begin of the week: " %}</label>
                        <input type='text' class="datepicker form-control"  />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                    <div id="bottom-right-part"></div>
                </div>
            </div>
        </article>
    </section>
{% endblock content %}