{% extends 'base.html' %}

{% load static i18n pagination %}
{% load django_bootstrap_breadcrumbs %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'dashboards/css/general.css' %}">  
{% endblock style %}

{% block javascript %}
    {% for file in javascript_files %}
         <script type="text/javascript" src="{% static file %}"></script>
    {% endfor %}
{% endblock javascript %}

{% block breadcrumbs %}
    {{ block.super }}
    
    {% trans 'Dashboards General' as general %}

    {% breadcrumb general 'dashboard:view_general' %}
{% endblock %}


{% block content %}
    <section id="core-subjects-options-div">
        <nav>
            <ul class="core-subjects-options report-menu-choice">
                 
                    <li class="active">
                        {% trans "Platform Report" %}
                    </li>
                   <a href="{% url 'dashboards:view_categories' %}"><li>
                        {% trans "Category Report" %}
                    </li></a> 
                    <li>
                        {% trans "Subject Report" %}
                    </li>
              
            </ul>
        </nav>
    </section>

    <section id="general-report">
        {% include child_template %}
    </section>

    <script type="text/javascript">
    </script>


{% endblock content %}