<!-- 
Copyright 2016, 2017 UFPE - Universidade Federal de Pernambuco
 
Este arquivo é parte do programa Amadeus Sistema de Gestão de Aprendizagem, ou simplesmente Amadeus LMS
 
O Amadeus LMS é um software livre; você pode redistribui-lo e/ou modifica-lo dentro dos termos da Licença Pública Geral GNU como publicada pela Fundação do Software Livre (FSF); na versão 2 da Licença.
 
Este programa é distribuído na esperança que possa ser útil, mas SEM NENHUMA GARANTIA; sem uma garantia implícita de ADEQUAÇÃO a qualquer MERCADO ou APLICAÇÃO EM PARTICULAR. Veja a Licença Pública Geral GNU para maiores detalhes.
 
Você deve ter recebido uma cópia da Licença Pública Geral GNU, sob o título "LICENSE", junto com este programa, se não, escreva para a Fundação do Software Livre (FSF) Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA.
-->

{% load static i18n pagination %}

 <header id="general-report-header">
            <h3>{% trans "Amadeus Report" %}</h3>

            <ul id="report-header-options">
                <li  class="tab-option selected">
                    {% trans "Focus" %}
                </li>
                <a href="{% url 'dashboards:view_general_log' %}"><li class="tab-option">
                    {% trans "Log" %}
                </li></a>
            </ul>
        </header> 

        <article class="report-body">
            {% include "dashboards/tags_body.html" %}
            <section class="bottom-section">
                {% include "dashboards/left_chart.html" %}
                {% include "dashboards/middle_chart.html" %}
                {% include "dashboards/right_chart.html" %}
            </section>

        </article>
{% block charts %}
    <script>
        dataset = dataset.map(function(d){
				d.value = d.count;
				return d;
			});

			var chartConfig = {
				name:"bubbleChartDashBoars",
				parent:".middle-chart",
				data:dataset,
				dimensions:{
				  width:490,
				  height:400,
				},
				layout:{
				  qtd:50,
				  absForce:0.05,
				},
				interactions:{
					click:function(element,data){console.log(data),alert(d3.textData(data,"<name>: <value> acesso(s)"))}
				  },
				  tooltip:{
					text:"<name>: <value> acesso(s)"
				  }
			  };
			//bubble(dataset,".middle-chart")
			var bubbleChart = new BubbleChart(chartConfig)

    </script>
{% endblock %}