<!-- 
Copyright 2016, 2017 UFPE - Universidade Federal de Pernambuco
 
Este arquivo é parte do programa Amadeus Sistema de Gestão de Aprendizagem, ou simplesmente Amadeus LMS
 
O Amadeus LMS é um software livre; você pode redistribui-lo e/ou modifica-lo dentro dos termos da Licença Pública Geral GNU como publicada pela Fundação do Software Livre (FSF); na versão 2 da Licença.
 
Este programa é distribuído na esperança que possa ser útil, mas SEM NENHUMA GARANTIA; sem uma garantia implícita de ADEQUAÇÃO a qualquer MERCADO ou APLICAÇÃO EM PARTICULAR. Veja a Licença Pública Geral GNU para maiores detalhes.
 
Você deve ter recebido uma cópia da Licença Pública Geral GNU, sob o título "LICENSE", junto com este programa, se não, escreva para a Fundação do Software Livre (FSF) Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA.
-->

{% extends 'subjects/view.html' %}

{% load static i18n permissions_tags %}
{% load django_bootstrap_breadcrumbs %}

{% block style %}
    {% for file in style_files %}
        <link rel="stylesheet" type="text/css" href="{% static file %}">
    {% endfor %}
    <link rel="stylesheet" type="text/css" href="{% static 'dashboards/css/avatar.css' %}">
{% endblock style %}

{% block javascript %}
    {% include "dashboards/d3_translate.html" %}

    <script src="{% static 'analytics/js/JSUtil.js' %}"></script>

    {% for file in javascript_files %}
        <script type="text/javascript" src="{% static file %}"></script>
    {% endfor %}
    <script src="{% static 'dashboards/js/avatar.js' %}"></script>
{% endblock javascript %}

{% block breadcrumbs %}
    {{ block.super }}

    {% trans "Analytics" as bread %}
    {% trans "Student" as bread2 %}
    {% breadcrumb bread 'dashboards:view_subject' subject.slug %}
    {% breadcrumb bread2 'dashboards:view_subject' subject.slug %}
{% endblock %}

{% block sidebar %}
    {{ block.super }}
    <div class="avatarBox" style="display: none">
        <div class="ballon" style="display: none">
            <hgroup class="speech-bubble">
                <p>Teste</p>
            </hgroup>
        </div>
        <div class="upperBody">
            <div class="hat"></div>
            <div class="head">
                <div class="face">
                    <div class="topface">
                        <div class="eye">
                            <div class="iris">
                                <div class="pupile"></div>
                            </div>
                        </div>
                        <div class="eye">
                            <div class="iris">
                                <div class="pupile"></div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="mouth"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="axis"></div>
        <div class="foot"></div>
    </div>
{% endblock %}

{% block content %}
    {% subject_permissions request.user subject as has_subject_permissions %}

    {% if avatar_audios|length > 0 %}
        <div class="activate_avatar hidden-xs hidden-sm">
            <button id="avatar" class="btn btn-success btn-raised">Ativar avatar</button>
        </div>
    {% endif %}

    <div class="panel panel-info subject-panel" id="subject_{{subject.slug}}">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-12 category-header">
                    <h4 class="panel-title" style="margin-top: 10px; margin-bottom: 8px">
                        <span>{{subject.name}} / {% trans 'Analytics / Student' %}</span>
                    </h4>

                    <div class="col-md-5 pull-right category-card-items">
                    </div>
                </div>
            </div>
        </div>
        <div id="{{subject.slug}}" class="panel-collapse panel-body in collapse analytics-ungeneral">
            {% if has_subject_permissions %}
                <form id="student_graph" action="{% url 'dashboards:view_subject' subject.slug %}" method="POST">
                    {% csrf_token %}
                    
                    <select name="selected_student" class="form-control" onchange="$('#student_graph').submit();">
                        {% for stu in sub_students %}
                            <option value="{{ stu.email }}" {% if stu.email == student %} selected {% endif %}>{{ stu }}</option>
                        {% endfor %}
                    </select>
                </form>
            {% endif %}

            <!-- Dashboard -->
            <div class="row">
                <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 graph-container">
                    <p style="font-size:22px; color: #878787; padding: 0px 10px;">
                        {% trans 'In the last 7 days...'%}
                    </p>
                    
                    <hr style="height:3px; background-color:#878787; margin: 5px 0px;">

                    <div class="row">
                        {% include "dashboards/subjects_cloudy.html" %}

                        {% include "dashboards/subjects_other_indicators.html" %}
                    </div>
                </div>
            </div>

            <div class="row">                
                <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 graph-container">
                    <p style="font-size:22px; color: #878787; padding: 0px 10px;">{% trans 'Your Essential Tasks'%}</p>
                    
                    <hr style="height:3px; background-color:#878787; margin: 5px 0px;">

                    {% include "dashboards/subjects_gantt.html" %}
                </div>
            </div>
        </div>
    </div>

    

    <!--Responsibilities-->
    <script type="text/javascript">
        window.addEventListener('resize', function () {
            Promise.resolve().then(function () {
                gantt_responsibilities();
                cloudy_responsibilities();
                indicators_responsibilities();
            });
            /*setTimeout(function() { 
                
             }, 100);*/
        });
    </script>
{% endblock %}

{% block addtional_scripts %}
    <script type="text/javascript">
        sessionSecurity.confirmFormDiscard = undefined;

        let audios = {{ avatar_audios|safe }};
        let cloud_audios = {{ avatar_cloud|safe }};
        let indicators_audios = {{ avatar_indicators|safe }};

        if (audios.length > 0) {
            let avatar = new Avatar({introAudios: audios, cloudAudios: cloud_audios, indAudios: indicators_audios});

            $("#avatar").click(function () {
                avatar.Init();
            });
        }
    </script>
{% endblock %}