<!-- 
Copyright 2016, 2017 UFPE - Universidade Federal de Pernambuco
 
Este arquivo é parte do programa Amadeus Sistema de Gestão de Aprendizagem, ou simplesmente Amadeus LMS
 
O Amadeus LMS é um software livre; você pode redistribui-lo e/ou modifica-lo dentro dos termos da Licença Pública Geral GNU como publicada pela Fundação do Software Livre (FSF); na versão 2 da Licença.
 
Este programa é distribuído na esperança que possa ser útil, mas SEM NENHUMA GARANTIA; sem uma garantia implícita de ADEQUAÇÃO a qualquer MERCADO ou APLICAÇÃO EM PARTICULAR. Veja a Licença Pública Geral GNU para maiores detalhes.
 
Você deve ter recebido uma cópia da Licença Pública Geral GNU, sob o título "LICENSE", junto com este programa, se não, escreva para a Fundação do Software Livre (FSF) Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA.
-->

{% load static i18n %}

{#{{ tags_cloud }}#}

<script src="{% static 'analytics/js/ToolTip.js' %}"></script>
<script src="{% static 'analytics/js/d3.v3.min.js' %}"></script>
<script src="{% static 'analytics/js/cloud.min.js' %}"></script>

<style>
        .cloudy-legend{
            display: flex;
        }
        .icon-cloudy-legend{
            width: 20px;
            height: 16px;
            margin-top:10px;
            margin-bottom:10px;
        }
        .text-cloudy-legend{
           
            margin-left:10px;
            margin-right:10px;
        }
    </style>

<div class="col-md-8 col-xs-12 col-sm-12 col-lg-8">
    <div style="font-size:16px; text-align:left; color: #000; padding-left: 10px; ">
        <b>{% trans 'Most Popular Tags' %}</b>
        <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" 
            title="{% trans 'Compare your number of hits with the number of hits in each class tag in this subject' %}"></i>
    </div>
    <hr style="height:2px; background-color:#878787;margin-top: 5px;margin-bottom: 5px;">
    <div id="cloudy" style="padding: 0px">

    </div>
    <!--<div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 cloudy-legend">
        <i class="fa fa-text-height icon-cloudy-legend" aria-hidden="true"></i><p class="text-indicators-legend">{% trans 'Class accesses' %}</p>
        <div class="icon-cloudy-legend" style="background-image: linear-gradient(to right, #00441B , rgb(183, 226, 177)); "></div><p class="text-indicators-legend">{% trans 'Your accesses' %}</p>
    </div>-->
</div>

<div class="modal fade" id="tagModal" tabindex="-1" role="dialog" aria-labelledby="modalTittle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div style="float: left;">
                    <h3 class="modal-title" id="modalTittle">Modal title</h3>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="padding-top:5px" class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
                <div id="modal_cloudy_loading_ball" style="height:150px;">
                    {% include 'dashboards/loading_ball.html' with tittle="modal_cloudy_loading_ball" %}
                </div>
                <div id="modal-table" style="display: none;">
                    <div id="table-container" class="table-responsive-sm">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th colspan="2" scope="col">Acessos</th>
                                </tr>
                                <tr>
                                    <th scope="col">Seu</th>
                                    <th scope="col">Turma</th>
                                    <th scope="col">Recurso</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>28%</td>
                                    <td>28%</td>
                                    <td>Aulas Expositivas/ Exercicios(3ª Etapa)</td>
                                </tr>
                                <tr>
                                    <td>28%</td>
                                    <td>28%</td>
                                    <td>Aula 12</td>
                                </tr>
                                <tr>
                                    <td>14%</td>
                                    <td>14%</td>
                                    <td>Aulas Expositivas/ Exercicios(1ª Etapa)</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <nav aria-label="Table Navigation">
                        <ul class="pagination">

                        </ul>
                    </nav>
                </div>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript">

    function makeTable(data, metadata, table_container, pagination, nrows) {
        if (!data || !metadata)
            return;
        if (!table_container)
        table_container = d3.select("body").append("table");
        if (!pagination) {
            pagination = d3.select("body").append("nav").append(".pagination");
        }
        nrows = isNaN(nrows) ? 10 : nrows;

        //nrows = data.length;


        var pages = Math.ceil(data.length / nrows);

        //Table

        table_container.selectAll("table").remove();
        var pageIndex = 0;

        var DOM_pages = table_container.selectAll("table").data(range(pages)).enter().append("table")
            .attr("id", function (d, i) { return "page-table-" + i; })
            .attr("class","table table-hover page-table table-resources")
            .style("display", function (d, i) { return i != pageIndex ? "none" : "inherit" });

        var thead = DOM_pages.append("thead");
        thead.append("tr").append("th").attr("colspan","2").attr("scope","col").text("Acessos");
        var secondLine = thead.append("tr");
        secondLine.append("th").attr("scope","col").text("Seu");
        secondLine.append("th").attr("scope","col").text("Turma");
        secondLine.append("th").attr("scope","col").text("Recurso");

        var body = DOM_pages.append("tbody")
            

        var rows = body.selectAll("tr").data(function (d, i) { return data.slice(i * nrows, (i + 1) * nrows) }).enter().append("tr");


        for (var i = 0; i < metadata.length; i++) {
            if (i < metadata.length - 1)
                rows.append("td").text(function (d) { return d[metadata[i]] });
            else
                rows.append("td")
                    .append("a").attr("href", function (d) { return d.access_url })
                    .text(function (d) { return d[metadata[i]] });
        }

        //Pagination
        function goPage(n) {
            if (n >= pages || n < 0 || pageIndex == n)
                return;
            pageIndex = n;
            DOM_pages.transition().duration(200)
                .style("opacity", 0);
            DOM_pages.transition().delay(200)
                .style("display", function (d, i) { return i != pageIndex ? "none" : "inherit" });
            DOM_pages.transition().delay(200).duration(200)
                .style("opacity", function (d, i) { return i != pageIndex ? 0 : 1 });

        }
        function nextPage() {
            goPage(pageIndex + 1);
        }
        function previousPage() {
            goPage(pageIndex - 1);
        }
        pagination.selectAll("li").remove();

        pagination.append("li").attr("class", "page-item previous-link")
            .append("a").attr("class", "page-link").attr("aria-label", "Previous")
            .on("click", previousPage)
            .append("span").attr("aria-hidden", "true").text("Previous");
        pagination.select(".previous-link").select("a")
            .append("span").attr("class", "sr-only").text("Previous")

        pagination.selectAll(".page-item-number").data(range(pages)).enter().append("li")
            .attr("class", function (d, i) { return "page-item page-item-number page-link-" + i })
            .append("a").attr("class", "page-link")
            .on("click", goPage)
            .text(function (d, i) { return i + 1 });

        pagination.append("li").attr("class", "page-item next-link")
            .append("a").attr("class", "page-link").attr("aria-label", "Next")
            .on("click", nextPage)
            .append("span").attr("aria-hidden", "true").text("Next");
        pagination.select(".next-link").select("a")
            .append("span").attr("class", "sr-only").text("Next")


    }

    /*Cloudy Word*/

    temp = document.getDimensions("#cloudy")
    var width = temp.w - $("#cloudy").css("padding-left").match(/[0-9]+/)[0] - $("#cloudy").css("padding-right").match(/[0-9]+/)[0];;
    var height = width * 1 / 2 > 360 ? 360 : (width / 2 < 50 ? 50 : width / 2);

    var qtd_students = {{ qtd_students }};

    var data = {% autoescape off %} {{ tags_cloud }} {% endautoescape %};

    data = data.map(function (d) {
        return {
            key: d.tag_name,
            value: d.qtd_access,
            myvalue: d.qtd_my_access,
            link: d.details_url
        }
    });

    data.sort(function (d1, d2) {
        return d1.value > d2.value ? -1 : (d1.value < d2.value ? 1 : 0);
    })

    data = data.slice(0, 30);

    var dataconfig = {
        parent: "#cloudy",
        data: data,
        max: 50,
        font: "Impact",
        spiral: "rectangular",// archimedean | rectangular
        scale: "linear",// scaleLinear | scaleSqrt | scaleLog
        angles: {
            from: 0,
            to: 0,
            n: 1
        },
        dimensions: {
            w: width,
            h: height,
        },
        interactions: {
            click: function (element, data) {

                d3.select("#modal_cloudy_loading_ball").style("display", "inherit");
                d3.select("#modal-table").style("display", "none");

                var modal = document.querySelector('#tagModal');
                modal.querySelector("#modalTittle").innerText = "Tag: "+data.text.toUpperCase();
                var container = d3.select("#resources-list");
                container.selectAll(".resource").remove();



                $.get(data.link, function (dataset) {
                    dataset = dataset.sort(function (d1, d2) {
                        console.log(d1.qtd_access, d2.qtd_access);
                        if (isNaN(d1.qtd_access) || (+d1.qtd_access) == 0)
                            d1.qtd_access = 0;
                        if (isNaN(d2.qtd_access) || (+d2.qtd_access) == 0)
                            d2.qtd_access = 0;

                        if (isNaN(d1.qtd_my_access) || (+d1.qtd_my_access) == 0)
                            d1.qtd_access = 0;
                        if (isNaN(d2.qtd_my_access) || (+d2.qtd_my_access) == 0)
                            d2.qtd_access = 0;

                        var p1 = d1.qtd_my_access / d1.qtd_access, p2 = d2.qtd_my_access / d2.qtd_access;
                        return p1 > p2 ? 1 : (p1 < p2 ? -1 : (d1.qtd_access < d2.qtd_access ? 1 : (d1.qtd_access > d2.qtd_access ? -1 : 0)));
                    });

                    makeTable(dataset, ["qtd_my_access", "qtd_access", "resource_name"], d3.select("#table-container"), d3.select(".pagination"), 10);

                    d3.select("#modal_cloudy_loading_ball").style("display", "none");
                    d3.select("#modal-table").style("display", "inherit");

                });

                $('#tagModal').modal('show');
            }
        },
        tooltip: {
            text: "Tag: <key>\nTotal de acessos: <value> \nMeus acessos: <myvalue>",
        },
        filltext: function (a) {
            var fill = d3.interpolateGreens;
            var prop = a.chartConfig.mymax / a.chartConfig.max;
            function scalePercent(x, y) {
                if (x > y)
                    return y * 0.3 * prop / x;
                else
                    return 1 - x * .7 / (y * prop);
            }
            //console.log(prop);
            a.words.attr("fill", function (d, i) {
                //console.log(scalePercent(d.myvalue,d.value));
                return fill(scalePercent(d.myvalue, d.value));
            });
        },
        /*default:function(){
            var temp = document.querySelector("#bullet-tag").getBoundingClientRect();
            this.bullet_tag = d3.scaleLinear().range[0,(temp.width-75)<0?0:temp.width-75];

        }*/
    }
    var cloudWord = new CloudWord(dataconfig);

    function cloudy_responsibilities(){

    }
</script>