<!-- 
Copyright 2016, 2017 UFPE - Universidade Federal de Pernambuco
 
Este arquivo é parte do programa Amadeus Sistema de Gestão de Aprendizagem, ou simplesmente Amadeus LMS
 
O Amadeus LMS é um software livre; você pode redistribui-lo e/ou modifica-lo dentro dos termos da Licença Pública Geral GNU como publicada pela Fundação do Software Livre (FSF); na versão 2 da Licença.
 
Este programa é distribuído na esperança que possa ser útil, mas SEM NENHUMA GARANTIA; sem uma garantia implícita de ADEQUAÇÃO a qualquer MERCADO ou APLICAÇÃO EM PARTICULAR. Veja a Licença Pública Geral GNU para maiores detalhes.
 
Você deve ter recebido uma cópia da Licença Pública Geral GNU, sob o título "LICENSE", junto com este programa, se não, escreva para a Fundação do Software Livre (FSF) Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA.
-->

{% extends 'subjects/view.html' %}

{% load static i18n permissions_tags %}
{% load django_bootstrap_breadcrumbs %}

{% block style %}
    {% for file in style_files %}
        <link rel="stylesheet" type="text/css" href="{% static file %}">
    {% endfor %}
{% endblock style %}

{% block javascript %}
    <script>
        window.labels_date = {
		dateTime: "%x, %X",
		date: "%-d/%-m/%Y",
		time: "" + (("%p" == "PM" ? 12 : 0) + ("%-I") % 12) + ":%M:%S",
		periods: ["AM", "PM"],
		days: ["Domingo", "Segunda-feira", "Terça-feira", "Quarta-feira", "Quinta-feira", "Sexta-feira", "Sábado"],
		shortDays: ["Dom", "Seg", "Ter", "Qua", "Qui", "Sex", "Sab"],
		months: ["Janeiro", "Fevereiro", "Março", "Abril", "Maio", "Junho", "Julho", "Agosto", "Setembro", "Outubro", "Novembro", "Dezembro"],
		shortMonths: ["Jan", "Fev", "Mar", "Abr", "Mai", "Jun", "Jul", "Ago", "Set", "Out", "Nov", "Dez"]
	}/*{
            dateTime: "%x, %X",
            date: "%d/%m/%Y",
            time: "%-I:%M:%S %p",
            periods: ["AM", "PM"],
            days: ["{% trans 'Sunday' %}", "{% trans 'Monday' %}", "{% trans 'Tuesday' %}", "{% trans 'Wednesday' %}", "{% trans 'Thursday' %}", "{% trans 'Friday' %}", "{% trans 'Saturday' %}"],
            shortDays: ["{% trans 'Sun' %}", "{% trans 'Mon' %}", "{% trans 'Tue' %}", "{% trans 'Wed' %}", "{% trans 'Thu' %}", "{% trans 'Fri' %}", "{% trans 'Sat' %}"],
            months: ["{% trans 'January' %}", "{% trans 'February' %}", "{% trans 'March' %}", "{% trans 'April' %}", "{% trans 'May' %}", "{% trans 'June' %}", "{% trans 'July' %}", "{% trans 'August' %}", "{% trans 'September' %}", "{% trans 'October' %}", "{% trans 'November' %}", "{% trans 'December' %}"],
            shortMonths: ["{% trans 'Jan' %}", "{% trans 'Feb' %}", "{% trans 'Mar' %}", "{% trans 'Apr' %}", "{% trans 'May' %}", "{% trans 'Jun' %}", "{% trans 'Jul' %}", "{% trans 'Aug' %}", "{% trans 'Sep' %}", "{% trans 'Oct' %}", "{% trans 'Nov' %}", "{% trans 'Dec' %}"]
        }*/
	
    </script>
    <script src="{% static 'analytics/js/d3.v5.min.js' %}"></script><!--https://d3js.org/d3.v5.min.js-->

    <script src="{% static 'analytics/js/JSUtil.js' %}"></script>
    
    <script src="{% static 'analytics/js/Legend.js' %}"></script>
    <script src="{% static 'analytics/js/brush_zoom.js' %}"></script>

    {% for file in javascript_files %}
         <script type="text/javascript" src="{% static file %}"></script>
    {% endfor %}
{% endblock javascript %}

{% block breadcrumbs %}
    {{ block.super }}
    
    {% trans "Analytics" as bread %}
    {% breadcrumb  bread 'dashboards:subject' subject.slug %}
{% endblock %}

{% block content %}
    {% subject_permissions request.user subject as has_subject_permissions %}

    {% if has_subject_permissions %}
        <form id="student_graph" action="" method="POST">
            {% csrf_token %}
            <select name="selected_student" onchange="$('#student_graph').submit();">
                {% for stu in sub_students %}
                    <option value="{{ stu.email }}" {% if stu.email == student %}selected{% endif %}>{{ stu }}</option>
                {% endfor %}
            </select>
        </form>
        <br clear="all" />
    {% endif %}
    {# {{ graph_data }} #}

    <div align="left" style="font-size:22px; color: #878787; padding-top: 0px; ">{#{% trans 'My Essential Tasks' %}#}Minhas tarefas essenciais</div>
    <hr style="height:3px; background-color:#878787; margin-top: 5px;">
    
    <div id="gantt" class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
        <div style="font-size:16px; text-align:left; color: #000; padding-left: 10px; "><b>{# {% trans 'Detail of Tasks' %}#}Detalhamento das tarefas</b></div>
		<hr style="height:2px; background-color:#878787;margin-top: 5px;margin-bottom: 5px;">
    </div>
    <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
        <div style="font-size:16px; text-align:left; color: #000; padding-left: 10px; "><b>{# {% trans 'Filters' %} #} Filtros</b></div>
        <hr style="height:2px; background-color:#878787;margin-top: 5px;margin-bottom: 5px;">
    <div id="period" class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
        <!--<hr style="height:2px; background-color:#878787;margin-top: 5px;margin-bottom: 5px;">-->
        <div style="font-size:16px; text-align:left; color: #bbb; padding-left: 10px; "><b>{#{% trans 'Select the period' %}#} Selecione o período</b></div>
    </div>
    <div id="legend-gantt" class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
            <hr style="height:2px; background-color:#bbb;margin-top: 5px;margin-bottom: 5px;">
            <div style="font-size:16px; text-align:left; color: #bbb; padding-left: 10px; "><b>{#{% trans 'Select the status' %}#} Selecione o status</b></div>
            
    </div>
    <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
            <hr style="height:2px; background-color:#bbb;margin-top: 5px;margin-bottom: 5px;">
    <div style="font-size:16px; text-align:left; color: #bbb; padding-left: 10px; "><b>{#{% trans 'Select what we have for today' %}#} Selecione o que temos para hoje</b></div>
            
    <div class="col-md-4 col-xs-12 col-sm-12 col-lg-4 text-center">
            <button onclick="ganttChart.reset();" class="btn btn-default btn-raised btn-block" style="position: initial;background-color: #ddd"> {#{% trans "Today" %}#} Hoje </button>
    </div>
    </div>
    </div>
    <hr style="height:3px; background-color:#878787; margin-top: 5px;">

    

    <script type="text/javascript">
        var chartConfig = {
            name: "GanttChart",
            parents:{
                focus:"#gantt",
                context:"#period",
                legend:"#legend-gantt",
            },
            data: {% autoescape off %}{{ graph_data }}{% endautoescape %},
            //dimensions: { width: 1200, height: 500 },
            
            layout: {
                maxrow: 5,
                colors: ["#FF9001", "#dfbd31", "#D6D6D6", "#f44336", "#3BA51A"],
                texts: ['{#{% trans "Late"%}#}Atrasada', '{#{% trans "On time"%}#}No prazo', '{#{% trans "Planned"%}#}Planejada', '{#{% trans "Lost"%}#}Perdida', '{#{% trans "Completed"%}#}Concluída'],
                //texts2: ['{% trans "This task is late"%}', '{% trans "You have not yet accomplish this task"%}', "", '{% trans "You missed this task"%}', ""],
                backcolor: "#F5F5F5",
                percent_min:0.3,
                //percent_text:'{#{% trans "Task already accomplish by % of participants" %}#}',
                //buttonAccess_text:'{#{% trans "ACCESS TASK" %}#}ACESSAR TAREFA',      
                //buttonDoTask_text:'{% trans "DO THE TASK" %}',
                //initDate_text:'{% trans "Start Date / Time: " %}',
                //endDate_text:'{% trans "End Date / Time: " %}',
                //closedDate_text:'{% trans "Task closed on: " %}',
                //language:'{{ language }}'
            },
            interactions: {
                button: function (element, data) {
                var classelement = d3.select(element).attr("class");
                if (classelement == "goto")
                    window.location.assign(data.access_link);
                }
            },
            tooltip: {
                text: ""
            },
            cursors: {
                adder:'{% static "img/cursors/adder.cur" %}',
                subber:'{% static "img/cursors/subber.cur" %}',
                filter:'{% static "img/cursors/filter.cur" %}',
            }
        }

        var ganttChart = new GanttChart(chartConfig);

        window.addEventListener('resize', function(){
            Promise.resolve().then(function(){
                ganttChart.resize();
                ganttChart.bottomLegend.resize();
            });
            /*setTimeout(function() { 
                
             }, 100);*/
        });

    </script>
{% endblock %}

{% block addtional_scripts %}
	<script type="text/javascript">
        sessionSecurity.confirmFormDiscard = undefined;
    </script>
{% endblock %}

