<!-- 
Copyright 2016, 2017 UFPE - Universidade Federal de Pernambuco
 
Este arquivo é parte do programa Amadeus Sistema de Gestão de Aprendizagem, ou simplesmente Amadeus LMS
 
O Amadeus LMS é um software livre; você pode redistribui-lo e/ou modifica-lo dentro dos termos da Licença Pública Geral GNU como publicada pela Fundação do Software Livre (FSF); na versão 2 da Licença.
 
Este programa é distribuído na esperança que possa ser útil, mas SEM NENHUMA GARANTIA; sem uma garantia implícita de ADEQUAÇÃO a qualquer MERCADO ou APLICAÇÃO EM PARTICULAR. Veja a Licença Pública Geral GNU para maiores detalhes.
 
Você deve ter recebido uma cópia da Licença Pública Geral GNU, sob o título "LICENSE", junto com este programa, se não, escreva para a Fundação do Software Livre (FSF) Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA.
-->

{% extends 'subjects/view.html' %}

{% load static i18n permissions_tags %}
{% load django_bootstrap_breadcrumbs %}

{% block style %}
    {% for file in style_files %}
        <link rel="stylesheet" type="text/css" href="{% static file %}">
    {% endfor %}
{% endblock style %}

{% block javascript %}
    <script src="https://d3js.org/d3.v5.min.js"></script>

    <script src="{% static 'analytics/js/JSUtil.js' %}"></script>
    <script src="{% static 'analytics/js/Legend.js' %}"></script>
    <script src="{% static 'analytics/js/brush_zoom.js' %}"></script>

    {% for file in javascript_files %}
         <script type="text/javascript" src="{% static file %}"></script>
    {% endfor %}
{% endblock javascript %}

{% block breadcrumbs %}
    {{ block.super }}
    
    {% trans "Analytics" as bread %}
    {% breadcrumb  bread 'dashboards:subject' subject.slug %}
{% endblock %}

{% block content %}
    {% subject_permissions request.user subject as has_subject_permissions %}

    {% if has_subject_permissions %}
        <form id="student_graph" action="" method="POST">
            {% csrf_token %}
            <select name="selected_student" onchange="$('#student_graph').submit();">
                {% for stu in sub_students %}
                    <option value="{{ stu.email }}" {% if stu.email == student %}selected{% endif %}>{{ stu }}</option>
                {% endfor %}
            </select>
        </form>
        <br clear="all" />
    {% endif %}
    <!--{{ graph_data }}-->

    <div id="gantt"></div>

    <div class="col-md-2 col-xs-12 col-sm-12 col-lg-2 text-center">
            <button onclick="ganttChart.reset();" class="btn btn-success btn-raised btn-block" style="position: initial;"> Hoje{% trans "To day" as bread %} </button>
    </div>

    <script type="text/javascript">
        var chartConfig = {
            name: "GanttChart",
            parent: "#gantt",
            data: {% autoescape off %}{{ graph_data }}{% endautoescape %},
            //dimensions: { width: 1200, height: 500 },
            margin: {
                top: 20, right: 10, bottom: 30, left: 10
            },
            layout: {
                maxrow: 5,
                contextHeight: 0.1,
                //colors: ["#AD1111", "#FAA916", "#0B4F6C", "#343434", "#00993F"],//0-atrasado 1-dentro_do_prazo 2-pendencia futura 3-não_concluida 4-finalizada
                colors: ["#FF9001", "#dfbd31", "#D6D6D6", "#f44336", "#3BA51A"],
                //backcolors: ["#C43535", "#F9BA43", "#218AB7", "#545454", "#00C150"],
                //backcolors: ["#F47F3F", "#FFE57F", "#EDEDED", "#DB3434", "#6BBF52"],

                texts: ["Atrasada", "No prazo", "Planejada", "Perdida", "Concluída"],
                texts2: ["Esta tarefa está atrasada", "Você ainda não realizou esta tarefa", "", "Você perdeu esta tarefa", ""],
            },
            interactions: {
                button: function (element, data) {
                var classelement = d3.select(element).attr("class");
                if (classelement == "goto")
                    window.location.assign(data.access_link);
                else
                    alert("Agendando a atividade " + data.name + "...");
                }
            },
            tooltip: {
                text: ""
            },
            cursors: {
                adder:'{% static "img/cursors/adder.cur" %}',
                subber:'{% static "img/cursors/subber.cur" %}',
                filter:'{% static "img/cursors/filter.cur" %}',
            }
        }

        var ganttChart = new GanttChart(chartConfig);

        window.addEventListener('resize', function(){
            ganttChart.resize();
            ganttChart.bottomLegend.resize();
	    });

    </script>
{% endblock %}

{% block addtional_scripts %}
	<script type="text/javascript">
        sessionSecurity.confirmFormDiscard = undefined;
    </script>
{% endblock %}

