<!-- 
Copyright 2016, 2017 UFPE - Universidade Federal de Pernambuco
 
Este arquivo é parte do programa Amadeus Sistema de Gestão de Aprendizagem, ou simplesmente Amadeus LMS
 
O Amadeus LMS é um software livre; você pode redistribui-lo e/ou modifica-lo dentro dos termos da Licença Pública Geral GNU como publicada pela Fundação do Software Livre (FSF); na versão 2 da Licença.
 
Este programa é distribuído na esperança que possa ser útil, mas SEM NENHUMA GARANTIA; sem uma garantia implícita de ADEQUAÇÃO a qualquer MERCADO ou APLICAÇÃO EM PARTICULAR. Veja a Licença Pública Geral GNU para maiores detalhes.
 
Você deve ter recebido uma cópia da Licença Pública Geral GNU, sob o título "LICENSE", junto com este programa, se não, escreva para a Fundação do Software Livre (FSF) Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA.
-->

{% load static i18n %}

<div id="legend-{{ tittle }}" style="background: {{ color }}" class="gantt-legend gantt-legend-status col-md-2 col-xs-6 col-sm-8 col-lg-4" onclick="ganttChart.filter('{{ tittle }}')">
    <div style="float:left;">
        <b class="gantt-legend-text" >
                {% if tittle == "late" %}
                {% trans 'Late' %}
                {% elif tittle == "on_time" %}
                {% trans 'On time' %}
                {% elif tittle == "planned" %}
                {% trans 'Planned' %}
                {% elif tittle == "lost" %}
                {% trans 'Lost' %}
                {% elif tittle == "completed" %}
                {% trans 'Completed' %}
                {% else %}
                {% trans 'Other Status' %}
                {% endif %}
        </b>
    </div>
    <div style="float:right">
        <b class="status-percent gantt-legend-text">100%</b>
        <i class="gantt-legend-text fa fa-toggle-off" aria-hidden="true"></i>
    </div>
</div>