{% load static i18n list_topic_foruns permission_tags widget_tweaks professor_access%}


<div class="row">
  <div class="col-xs-6 col-md-6">
    <div class="resource_inline">
      <h4>{% trans "Materials" %}</h4>
    </div>

    <ul id="list-materials">
        {% list_topic_file request topic %}
        {% list_topic_link request topic%}

    </ul>
  </div>
  <div class="col-xs-6 col-md-6">
    <div class="resource_inline">
      <h4>{% trans "Activities" %}</h4>
    </div>
    <ul>
        <div class="foruns_list">
            {# {% list_topic_exam request topic %} #}
            {% list_topic_poll request topic %}
            {% list_topic_foruns request topic %}
        </div>
    </ul>
  </div>
</div>