{% load static widget_tweaks i18n %}

<!-- MODAL DELETE LINK -->
<exercise rel="stylesheet" type="text/css" href="{% static 'css/exercise.css' %}">

<div class="erro-update">
    <div class="modal fade" id="exerciseDeleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteExerciseLabel" style="z-index: 10">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="deleteExerciseLabel">{% trans 'Delete Exercise' %}</h4>
                </div>
                <div class="modal-body">
                <!-- Card -->
                    <form class="form-horizontal" method="post" id="form-delete-exercise" enctype="multipart/form-data">
                    {% csrf_token %}
                        <fieldset>
                            <div class="col-md-12">
                                {% trans "Are you sure to delete the exercise " %} <strong>"{{ exercise.name }}"</strong> </a> of {{ exercise.topic.name }}?
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                     <button type="button" class="btn btn-default btn-raised" data-dismiss="modal">{% trans "Close" %}</button>
                                    <button class="btn btn-raised btn-primary" type="submit">{% trans 'Delete' %}</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                <!-- .end Card -->
              </div>
            </div>
        </div>
    </div>
</div>
    <script src="{% static 'js/exercise.js' %}"></script>
    <script type="text/javascript">
      $("#form-delete-exercise").submit(function(event) {
            var data = new FormData($('#form-delete-exercise').get(0));
            $('#exerciseDeleteModal').modal('hide');
            $.ajax({
                url: "{% url 'course:exercises:delete_exercise' exercise.slug %}",
                type: $("#form-delete-exercise").attr('method'),
                data: data,
                cache: false,
                processData: false,
                contentType: false,
                success: function(data) {
                    $('#requisicoes_ajax').empty();
                    $('#exercise_{{ exercise.slug }}').remove();
                    $('#exercise_edit_icon_{{ exercise.slug }}').remove();
                    $('#exercise_edit_{{ exercise.slug }}').remove();
                    alertify.alert('Exercise successfully deleted!')
                },
                error: function(data){
                    $("div.modal-backdrop.fade.in").remove();
                    $('#requisicoes_ajax').empty();
                    $('#requisicoes_ajax').append(data.responseText);
                    $('#exerciseDeleteModal').modal('show');
                    alertify.alert('Error when trying to delete.');
                }
            });
            event.preventDefault();
          });
  </script>
<!-- EndModal -->
