{% extends 'home.html' %}

{% load static i18n permission_tags professor_access%}

{% block breadcrumbs %}

	<ol class="breadcrumb">
	  	<li><a href="{% url 'app:index' %}">{% trans 'Home' %}</a></li>


	</ol>
{% endblock %}

{% block content %}
  	<div class="panel panel-info">
    	<div class="panel-heading">
			<div class="row">
	      		<div class="col-md-7 col-sm-7">
	        		<h3>{{subject}}</h3>
	      		</div>
	      		<div class="col-md-2 col-sm-2">
							{% professor_subject subject user as professor_sub%}
					{% if professor_sub %}
	        			<a href="" class="btn">{% trans "edit" %}</a>
					{% endif %}
	      		</div>
				<div class="col-md-3 col-sm-3">
					{% professor_subject subject user as delete_sub%}
					{% if delete_sub %}
	        			<a href="" class="btn">{% trans "delete" %}</a>
					{% endif %}
	      		</div>
	    	</div>
    	</div>
    	<div class="panel-body">
      		<p>
        		{{subject.description| safe }}
      		</p>
    	</div>
  	</div>


{% endblock %}
