<!-- 
Copyright 2016, 2017 UFPE - Universidade Federal de Pernambuco
 
Este arquivo é parte do programa Amadeus Sistema de Gestão de Aprendizagem, ou simplesmente Amadeus LMS
 
O Amadeus LMS é um software livre; você pode redistribui-lo e/ou modifica-lo dentro dos termos da Licença Pública Geral GNU como publicada pela Fundação do Software Livre (FSF); na versão 2 da Licença.
 
Este programa é distribuído na esperança que possa ser útil, mas SEM NENHUMA GARANTIA; sem uma garantia implícita de ADEQUAÇÃO a qualquer MERCADO ou APLICAÇÃO EM PARTICULAR. Veja a Licença Pública Geral GNU para maiores detalhes.
 
Você deve ter recebido uma cópia da Licença Pública Geral GNU, sob o título "LICENSE", junto com este programa, se não, escreva para a Fundação do Software Livre (FSF) Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA.
-->

{% load static i18n %}
{% load widget_tweaks %}

<div class="modal-dialog" role="document">
	<div class="modal-content">
		<div class="modal-body">
			<form id="comment-form" method="post" action="{{ form_url }}" enctype="multipart/form-data">
				{% csrf_token %}
				<div class="form-group{% if form.has_error %} has-error {% endif %}">
					<label for="{{ form.comment.auto_id }}">{{ form.comment.label }} <span>*</span></label>
					{% render_field form.comment class='form-control text_simple_wysiwyg' id='main_comment'%}

					<span id="helpBlock" class="help-block">{{ form.post.help_text }}</span>

					{% if form.comment.errors %}
						<div class="alert alert-danger alert-dismissible" role="alert">
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							<ul>
								{% for error in form.comment.errors %}
									<li>{{ error }}</li>
								{% endfor %}
							</ul>
						</div>
					{% endif %}
				</div>

				<div class="form-group{% if form.has_error %} has-error {% endif %} is-fileinput">
					{% render_field form.image %}

					<div class="input-group common-file-input">
				      	<input type="text" readonly="" class="form-control" placeholder="{% trans 'Choose your photo...' %}">
				      	<span class="input-group-btn input-group-sm">
				        	<button type="button" class="btn btn-fab btn-fab-mini">
				        		<i class="material-icons">attach_file</i>
				       		</button>
				      	</span>
				    </div>

				    <div class="filedrag">
			    		{% trans 'Click or drop the picture here' %}<br />

			      		<small>{% trans 'The picture could not exceed 5MB.' %}</small>
			  		</div>

					<span id="helpBlock" class="help-block">{{ form.image.help_text }}</span>
				</div>

				{% if form.image.errors %}
					<div class="alert alert-danger alert-dismissible" role="alert">
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						<ul>
							{% for error in form.image.errors %}
								<li>{{ error }}</li>
							{% endfor %}
						</ul>
					</div>
				{% endif %}

				<div class="alert alert-danger alert-dismissible client-file-errors" style="display:none" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					<ul>
						<li class="size" style="display:none">{% trans "The image is too large. It should have less than 5MB." %}</li>
						<li class="format" style="display:none">{% trans 'File not supported.' %}</li>
					</ul>
				</div>
			</form>
		</div>
		<div class="modal-footer">
			<div class="col-md-12">
				<button type="submit" id="button" form="comment-form" class="btn btn-success btn-raised post-button pull-left">{% trans "Comment" %}</button>
				<button type="button" class="btn btn-raised btn-default pull-right" data-dismiss="modal">{% trans "Cancel" %}</button>
			</div>
		</div>
	</div>
</div>

<div id="add-user-modal" style="display:none">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<div class="form-group">
					<input type="text" class="form-control" id="adduser_field" oninput="typing_search($(this));" placeholder="{% trans 'Insert here the name of the user you wish to mark in this comment' %}" />
					<div class="suggestions list-group" data-url="{% url 'mural:suggest_users' %}" style="display:none"></div>
				</div>
			</div>
			<div class="modal-footer">
				<div class="col-md-12">
					<button type="button" id="mark_btn" class="btn btn-success btn-raised post-button pull-left">{% trans "Mark" %}</button>
					<button type="button" class="btn btn-raised btn-default pull-right" data-dismiss="modal">{% trans "Cancel" %}</button>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(function () {
		var AddUserBtn = function (context) {
		  	var ui = $.summernote.ui;

			  // create button
		  	var button = ui.button({
			    contents: '<i class="fa fa-user"/>',
			    tooltip: '{% trans "Mark User" %}',
			    click: function () {
			    	context.invoke('saveRange');

			    	var modal_content = $("#add-user-modal").html();
		      		var modal = document.createElement('div');
			      	$(modal).addClass('modal');
			      	$(modal).attr('id', 'teste-modal');
			      	$(modal).html(modal_content);

			      	$(modal).modal('show');

			      	var btn = $(modal).find("#mark_btn"),
			      		field = $(modal).find("#adduser_field");

			      	btn.prop('disabled', true);

			      	btn.click(function () {
			      		var node = document.createElement('span'),
			      			value = field.val();

			      		var paragraph = document.querySelector("#comment-form > div:nth-child(2) > div > div.note-editing-area > div.note-editable.panel-body > p")

			      		$(node).addClass('marked_user');
			      		$(node).html(value);
			      		context.invoke('restoreRange');
			      		context.invoke('pasteHTML', node);
			      		$('#comment-form > div:nth-child(2) > div > div.note-editing-area > div.note-editable.panel-body > p > br').remove();
			      		paragraph.innerHTML += '&nbsp;'
			      		//paragraph.focus();
			      		//paragraph.caretTo(paragraph.length);
			      		$(modal).modal('hide');
			      		//&nbsp;
			      	});
			    }
	  		});


		  	return button.render();   // return button as jquery object
		}

		$('.text_simple_wysiwyg').summernote({
			lang: new_lang,
			dialogsInBody: true,
			disableDragAndDrop: true,
			height: 150,
		  	toolbar: [
			    // [groupName, [list of button]]
			    ['style', ['bold', 'italic']],
			    ['insert', ['link']],
			    ['mybuttons', ['addUser']],
			    ['color', ['color']],
		  	],
		  	buttons: {
		  		addUser: AddUserBtn
		  	}
		});

		$.material.init();

		if (window.File && window.FileList && window.FileReader) {
			Init();
		}
	});

	var typingSearchTimer;                //timer identifier
	var doneTypingSearchInterval = 1000;

	function typing_search(field) {
		clearTimeout(typingSearchTimer);

		var loading = '<button type="button" class="btn btn-block btn-default btn-sm"><span class="fa fa-spin fa-circle-o-notch"></span></button>';

		if (field.val() != "") {
        	typingSearchTimer = setTimeout(function () { searchUsers(field); }, doneTypingSearchInterval);

			$('.suggestions').html(loading);
			$('.suggestions').show();
		} else {
			$('.suggestions').html("");
			$('.suggestions').hide();
		}

		$("#mark_btn").prop('disabled', true);
	}

	function searchUsers (field) {
		var url = $('.suggestions').data('url'),
			param = field.val();

	    $.ajax({
	    	url: url,
	    	data: {'param': param},
	    	dataType: 'json',
	    	success: function (response) {
	    		$('.suggestions').html(response.search_result);

	    		$('.suggestions').find('.is-user').click(function (e) {
	    			e.preventDefault();

	    			var user_name = $(this).find('h4').text();

	    			field.val(user_name);

	    			$('.suggestions').hide();

	    			$('.suggestions').parent().parent().parent().find("#mark_btn").prop('disabled', false);
	    		});
	    	}
	    });
	}

	// initialize
	function Init() {
		var small = $("#id_image"),
			filedrag = $(".filedrag"),
			common = $(".common-file-input");

		// file select
		small.on("change", FileSelectHandler);

		// is XHR2 available?
		var xhr = new XMLHttpRequest();
		if (xhr.upload) {
			// file drop
			filedrag.on("drop", FileSelectHandler);
			filedrag.attr('style', 'display:block');
			common.attr('style', 'display:none');
		}
	}

	// file selection
	function FileSelectHandler(e) {
		var files = e.target.files || e.dataTransfer.files,
			parent = $(e.target.offsetParent),
			max_size = 5*1024*1024;

		$(".client-file-errors").hide();
		$(".size").hide();
		$(".format").hide();
		$("#button").prop('disable', false);
		$("#button").prop('disabled', false);

		// process all File objects
		for (var i = 0, f; f = files[i]; i++) {
			if (f.size > max_size) {
				$("#button").prop('disable', true);
				$("#button").prop('disabled', true);

				$(".client-file-errors").show();
				$(".size").show();
			} 

			if (!f.type.match(/^image\//)) {
				$("#button").prop('disable', true);
				$("#button").prop('disabled', true);

				$(".client-file-errors").show();
				$(".format").show();
			}

			parent.find('.filedrag').html(f.name);
		}
	}
</script>
