<!-- 
Copyright 2016, 2017 UFPE - Universidade Federal de Pernambuco
 
Este arquivo é parte do programa Amadeus Sistema de Gestão de Aprendizagem, ou simplesmente Amadeus LMS
 
O Amadeus LMS é um software livre; você pode redistribui-lo e/ou modifica-lo dentro dos termos da Licença Pública Geral GNU como publicada pela Fundação do Software Livre (FSF); na versão 2 da Licença.
 
Este programa é distribuído na esperança que possa ser útil, mas SEM NENHUMA GARANTIA; sem uma garantia implícita de ADEQUAÇÃO a qualquer MERCADO ou APLICAÇÃO EM PARTICULAR. Veja a Licença Pública Geral GNU para maiores detalhes.
 
Você deve ter recebido uma cópia da Licença Pública Geral GNU, sob o título "LICENSE", junto com este programa, se não, escreva para a Fundação do Software Livre (FSF) Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA.
-->

{% load i18n mural_filters comments_list %}

<div id="post-{{ post.id }}" class="panel panel-default">
	<div class="panel-body post">
		<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 post-img">
			<img src="{{ post.user.image_url }}" class="img-responsive" />
		</div>
		<div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 post-body">
			<h4 class="post-user">
				{% if not post.user == request.user %}
					{% is_online post.user as status %}

					<span data-toggle="popover" data-placement="right">{{ post.user }}</span>

					<div class="popover">
	                    <div class="popover-content participant">
	                        <button type="button" class="close" aria-label="{% trans 'Close' %}"><span aria-hidden="true">&times;</span></button>

	                        <br clear="all" />

	                        <div class="col-md-3 col-sm-3 col-xs-3 user-img">
	                            <img src="{{ post.user.image_url }}" class="img-responsive" />
	                        </div>
	                        <div class="col-md-9 col-sm-9 col-xs-9 user-info">
	                            <h4><a class="status {{ status }}" data-toggle="tooltip" title="{{ status|status_text }}"></a> {{ post.user }}</h4>
	                        </div>
	                    </div>
	                    <div class="popover-footer">
	                        <a href="#" onclick="getModalInfo($(this), '{{ post|chat_space }}', '{{ post|chat_space_type }}'); return false;" data-url='{% url "chat:profile" post.user.email %}' class="btn btn-default btn-raised pull-left btn-popover-mobile">
	                            {% trans 'See Profile' %}
	                        </a>
	                        <a href="#" onclick="getModalInfo($(this), '{{ post|chat_space }}', '{{ post|chat_space_type }}'); return false;" data-url='{% url "chat:talk" post.user.email %}' class="btn btn-success btn-raised pull-right btn-popover-mobile">
	                            {% trans 'Send Message' %}
	                        </a>
	                    </div>
	                </div>
	            {% else %}
	            	{{ post.user }}
	            {% endif %}

				<span class="user-action">
					<i class="fa {{ post.action|action_icon }}"></i>
					{{ post.get_action_display }}
					{{ post|has_resource|safe }}
				</span>
				{% if post|show_settings:request.user %}
					<span class="btn-group pull-right">
		                <button class="btn btn-sm btn_menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		                	<i class="fa fa-ellipsis-v" aria-hidden="true"></i>
		                </button>
						<ul class="dropdown-menu pull-right" aria-labelledby="moreActions">
		                    <li><a onclick="editPost($(this));" data-url="{% url post.update_link post.id %}" data-post="{{ post.id }}"><i class="fa fa-pencil fa-fw" aria-hidden="true"></i> {% trans 'Edit' %}</a></li>
		                    <li>
		                    <a onclick="deletePost($(this))" data-url="{% url post.delete_link post.id %}" data-post="{{ post.id }}" aria-hidden="true"><i class="fa fa-trash fa-fw" aria-hidden="true"></i> {% trans 'Remove' %}</a></li>
		                </ul>
		            </span>
		        {% endif %}
		        <span class="btn-group pull-right">
			        <button class="btn btn-sm btn_menu {{ post|fav_class:request.user }}" onclick="favorite($(this))" data-url="{% url 'mural:favorite' post.mural_ptr_id %}" data-action="{{ post|fav_action:request.user }}" data-toggle="tooltip" data-placement="top" title="{{ post|fav_label:request.user }}">
			        	<i class="fa fa-thumb-tack"></i>
			        </button>
			    </span>
			</h4>
			<p class="time">
				<i class="fa fa-clock-o"></i>
				{% trans 'In' %} {{ post.last_update }} {{ post|is_edited }}
			</p>

			{% autoescape off %}
				<div style="overflow: hidden; word-wrap:break-word;">
					{{ post.post }}
				</div>
			{% endautoescape %}

			{% if post.image %}
				<img src="{{ post.image.url }}" class="img-responsive center-block" />
			{% endif %}
		</div>
		<button type="button" class="btn btn-block btn-default btn-sm see-complete" style="display:none">{% trans 'See complete post' %}</button>
		<div class="col-md-12 comment-section">
			<button type="button" class="btn btn-block btn-default btn-sm loading" style="display:none"><span class="fa fa-spin fa-circle-o-notch"></span></button>
			<button type="button" onclick="loadComments($(this))" data-url="{% url 'mural:load_comments' post.mural_ptr_id post.id %}" data-post="{{ post.id }}" class="btn btn-block btn-default btn-sm load-btn">{% trans 'See more comments...' %}</button>
			{% comments_list request post %}
		</div>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 post-comment">
			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 user-img">
				<div>
					<img src="{{ request.user.image_url }}" class="img-responsive" />
				</div>
			</div>
			<div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 comment-field" onclick="comment($(this))">
				<div>
					<h4 data-url="{% url 'mural:create_comment' post.mural_ptr_id %}" data-post="{{ post.id }}">{% trans 'Make a comment...' %}</h4>
				</div>
			</div>
		</div>
	</div>
</div>