{% load i18n %}

<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-body">
            <form id="delete_form" action="{{ form_url }}" method="post">
                {% csrf_token %}
                <h4>{{ message }}</h4>
            </form>
        </div>
        <div class="modal-footer">
            <div class="pull-right">
                <button type="button" class="btn btn-default btn-raised" data-dismiss="modal">{% trans "Close" %}</button>
            </div>
            <div class="pull-left">
                <button type="submit" form="delete_form" class="btn btn-success btn-raised">{% trans "Delete" %}</button>
            </div>
        </div>
    </div>
</div>