<!-- 
Copyright 2016, 2017 UFPE - Universidade Federal de Pernambuco
 
Este arquivo é parte do programa Amadeus Sistema de Gestão de Aprendizagem, ou simplesmente Amadeus LMS
 
O Amadeus LMS é um software livre; você pode redistribui-lo e/ou modifica-lo dentro dos termos da Licença Pública Geral GNU como publicada pela Fundação do Software Livre (FSF); na versão 2 da Licença.
 
Este programa é distribuído na esperança que possa ser útil, mas SEM NENHUMA GARANTIA; sem uma garantia implícita de ADEQUAÇÃO a qualquer MERCADO ou APLICAÇÃO EM PARTICULAR. Veja a Licença Pública Geral GNU para maiores detalhes.
 
Você deve ter recebido uma cópia da Licença Pública Geral GNU, sob o título "LICENSE", junto com este programa, se não, escreva para a Fundação do Software Livre (FSF) Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA.
-->

{% extends 'base.html' %}

{% load static i18n pagination %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    
    {% trans 'Mural: General' as general %}

    {% breadcrumb general 'mural:manage_general' %}
{% endblock %}

{% block content %}
	<div id="core-subjects-options-div">
        <ul class="core-subjects-options mural-tabs">
            <a href="{% url 'mural:manage_general' %}"><li data-mural="general" class="active">{% trans "General" %} (<span>{{ totals.general }}</span>)</li></a>
            <a href="{% url 'mural:manage_category' %}"><li data-mural="categories">{% trans "Per Category" %} (<span>{{ totals.category }}</span>)</li></a>
            <a href="{% url 'mural:manage_subject' %}"><li data-mural="subjects">{% trans "Per Subject" %} (<span>{{ totals.subject }}</span>)</li></a>
        </ul>
    </div>

    <div class="col-md-12 cards-content mural" data-url="{% url 'mural:manage_general' %}" data-pages="{{ paginator.num_pages }}" data-page="{{ page_obj.number }}" data-fav="{{ favorites }}" data-mine="{{ mines }}">
        <div class="col-sm-12 col-xs-12 visible-xs visible-sm" style="padding: 0px">
            <div class="post-filter post-filter-small">
                <h4>{% trans 'Filter' %}</h4>

                <form id="post-filters" class="form-inline" action="" method="GET">
                    <div class="checkbox">
                        <label>
                            <input name="favorite" type="checkbox" {{ favorites }}> {% trans 'Favorite posts' %} <i class="fa fa-thumb-tack"></i>
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input name="mine" type="checkbox" {{ mines }}> {% trans 'Only my posts' %}
                        </label>
                    </div>
                </form>
            </div>
        </div>
    	<div class="col-md-9 col-sm-12 col-xs-12 mural-list">
    		<div class="post_make panel panel-default">
    			<div class="panel-body">
	    			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 user-img text-center">
	    				<img src="{{ request.user.image_url }}" class="img-responsive" />
	    			</div>
	    			<div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 post-field">
	    				<div>
	    					<h4 data-url="{% url 'mural:create_general' %}">{% trans 'Wish to make a new post?' %}</h4>
	    				</div>
	    			</div>
	    		</div>
    		</div>

    		<div class="posts">
                {% for post in posts %}
                    {% include 'mural/_view.html' %}
                {% endfor %}
            </div>
            <div id="loading_posts" class="alert alert-success" role="alert" style="display:none">
                <center>
                    <span class="fa fa-spin fa-circle-o-notch"></span>
                </center>
            </div>
			<div class="text-center no-subjects" {% if posts.count > 0 %} style="display:none" {% endif %}>
                <i class="fa fa-list"></i>
                <h4>{% trans 'There are no posts in this mural yet.' %}</h4>
            </div>
    	</div>
    	<div class="col-lg-3 col-md-3 hidden-xs hidden-sm post-filter">
            <h4>{% trans 'Filter' %}</h4>

            <form id="post-filters" action="" method="GET">
                <div class="checkbox">
                    <label>
                        <input name="favorite" type="checkbox" {{ favorites }}> {% trans 'Favorite posts' %} <i class="fa fa-thumb-tack"></i>
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input name="mine" type="checkbox" {{ mines }}> {% trans 'Only my posts' %}
                    </label>
                </div>
            </form>
    	</div>
    </div>

    <div class="modal fade" id="post-modal-form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"></div>

    <div class="modal fade" id="chat-modal-info" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"></div>

    <div class="modal fade" id="chat-modal-form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"></div>

  
    <script type="text/javascript" src="{% static 'js/chat.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/mural.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/mural_general.js' %}"></script>
{% endblock %}

{% block addtional_scripts %}
    <script type="text/javascript">
        sessionSecurity.confirmFormDiscard = undefined;
    </script>
{% endblock %}