{% extends "topic/index.html" %}

{% load i18n %}

{% block style %}
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
{% endblock %}

{% block content %}
<div class="col-md-8 col-md-offset-2">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">
          <span class="glyphicon glyphicon-hand-right"></span> Question?</h3>
      </div>
      <div class="container-fluid">
        <form id="form" class="" action="" method="post">
          <div class="row form-group">
            <div class="col-md-1">
              </br>
              <label><span class="glyphicon glyphicon-menu-hamburger"></span></label>
            </div>
            <div class="col-md-10">
              <div class="form-control-md has-success is-empty">
                <input type="text" class="form-control" placeholder="Email address default size">
                <span class="help-block">Please enter a valid email address</span>
              </div>
            </div>
            <div class="col-md-1">
              </br>
              <label><span class="glyphicon glyphicon-remove" onclick="this.parentNode.parentNode.parentNode.parentNode.removeChild(this.parentNode.parentNode.parentNode);"></span></label>
            </div>
          </div>
        </form>
        </br>
      </div>

        </div>
        <div class="panel-footer text-center">
            <button type="button" id="add" class="btn btn-primary btn-block btn-sm">add</button>
            <a href="#" class="small">View Result</a>
          </div>
    </div>
<script type="text/javascript">
$( "#form" ).sortable({
    delay: 100,
    distance: 5,
});
$("#add").click(function() {
  $("#form").append('<div class="row form-group"><div class="col-md-1"></br><label><span class="glyphicon glyphicon-menu-hamburger"></span></label></div><div class="col-md-10"><div class="form-group-md has-success is-empty"><input type="text" class="form-control" placeholder="Email address default size"><span class="help-block">Please enter a valid email address</span></div></div><div class="col-md-1"></br><label><span class="glyphicon glyphicon-remove" onclick="this.parentNode.parentNode.parentNode.parentNode.removeChild(this.parentNode.parentNode.parentNode);"></span></label></div></br></div>');
});
</script>
{% endblock content %}
