{% extends "index.html" %}
{% load i18n static %}

{% block content %}
<div class="row">
	<div class="col-sm-7 col-sm-offset-4 col-md-6 col-md-offset-4 col-xs-8 col-xs-offset-3 col-lg-6 col-lg-offset-4  col-xl-6 col-xl-offset-4 ">
		<div class="col-sm-9 col-sm-offset-2 col-md-8 col-md-offset-2 col-xs-9 col-xs-offset-2  col-lg-8 col-lg-offset-2  col-xl-8 col-xl-offset-2">
			<img src="{% static 'img/amadeus.png' %}" class="img-responsive center-block logo-login " alt="logo amadeus">
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-8 col-lg-offset-3 col-md-8 col-md-offset-3 col-sm-9 col-sm-offset-3 col-xs-10 col-xs-offset-2">
		<div class="card">
			<div class="card-block">
				<div class="row">
					<div class="col-md-12 text-center">
						<h2 style="color:#43a251"><strong>{% trans "Your password was reseted successful" %}</strong></h2>
					</div>
				</div>
        <div class="row">
					<div class="col-md-12 text-center">
						<a class="btn btn-success btn-raised" href="{% url 'core:home' %}">{% trans "Login" %}</a>
					</div>
				</div>
        </br>
			</div>
		</div>
	</div>
</div>
{% endblock content %}
