<!-- 
Copyright 2016, 2017 UFPE - Universidade Federal de Pernambuco
 
Este arquivo é parte do programa Amadeus Sistema de Gestão de Aprendizagem, ou simplesmente Amadeus LMS
 
O Amadeus LMS é um software livre; você pode redistribui-lo e/ou modifica-lo dentro dos termos da Licença Pública Geral GNU como publicada pela Fundação do Software Livre (FSF); na versão 2 da Licença.
 
Este programa é distribuído na esperança que possa ser útil, mas SEM NENHUMA GARANTIA; sem uma garantia implícita de ADEQUAÇÃO a qualquer MERCADO ou APLICAÇÃO EM PARTICULAR. Veja a Licença Pública Geral GNU para maiores detalhes.
 
Você deve ter recebido uma cópia da Licença Pública Geral GNU, sob o título "LICENSE", junto com este programa, se não, escreva para a Fundação do Software Livre (FSF) Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA.
-->

{% load widget_tweaks static i18n %}

<form method="post" action="" enctype="multipart/form-data">
	{% csrf_token %}
	{% for field in form %}
		{% if field.auto_id == 'id_students' %}
			<div class="panel-group" id="coordinators_accordion" role="tablist" aria-multiselectable="true">
				<div class="panel panel-info">
        			<div class="panel-heading">
            			<div class="row">
                			<div class="col-md-12">
                    			<a data-parent="#coordinators_accordion" data-toggle="collapse" href="#students">
                    				<h4 class="panel-title">
                            			<button class="btn btn-default btn-xs text-center cat-selector"><i class="fa fa-angle-right fa-2x" aria-hidden="true"></i></button><label for="{{ field.auto_id }}">{% trans 'Students' %}</label>
                    				</h4>
                    			</a>
                    		</div>
                    	</div>
                    </div>
                    <div id="students" class="panel-collapse collapse">
                    	<p><em>{% trans 'Attribute students to subject' %}:</em></p>
                    	{% render_field field class='form-control' %}
                    </div>
                </div>
			</div>
		{% elif field.auto_id == 'id_professor' %}
			<div class="panel-group" id="professors_accordion" role="tablist" aria-multiselectable="true">
				<div class="panel panel-info">
        			<div class="panel-heading">
            			<div class="row">
                			<div class="col-md-12">
                    			<a data-parent="#professors_accordion" data-toggle="collapse" href="#professors">
                    				<h4 class="panel-title">
                            			<button class="btn btn-default btn-xs text-center cat-selector"><i class="fa fa-angle-right fa-2x" aria-hidden="true"></i></button><label for="{{ field.auto_id }}">{% trans 'Professor' %}</label>
                    				</h4>
                    			</a>
                    		</div>
                    	</div>
                    </div>
                    <div id="professors" class="panel-collapse collapse">
                    	<p><em>{% trans 'Attribute professors to subject' %}:</em></p>
                    	{% render_field field class='form-control' %}
                    </div>
                </div>
			</div>
		{% elif field.auto_id == 'id_tags'%}
			<label> {{field.label}} </label>
			{% render_field field class='form-control' data-role="tagsinput" %}
		{% else %}
			<div class="form-group {% if form.has_error %} has-error {% endif %} is-fileinput">
				{% if field.auto_id != 'id_visible' %}
							{% if field.field.required %}
						<label for="{{ field.auto_id }}">{{ field.label }} <span>*</span></label>
							{% else %}
							<label for="{{ field.auto_id }}">{{ field.label }}</label>
							{% endif %}
				{% endif %}
				{% if field.auto_id == 'id_visible' %}
					<div class="checkbox">
						<label for="{{ field.auto_id }}">
	      					{% render_field field %} {{field.label}}
	  					</label>
					</div>
				{% elif field.auto_id == 'id_description' or field.auto_id == 'id_description_brief' %}
					{% render_field field class='form-control text_wysiwyg' %}
				{% elif field.auto_id == 'id_init_date' or field.auto_id == 'id_end_date' or field.auto_id == 'id_subscribe_begin' or field.auto_id == 'id_subscribe_end' %}
					{% render_field field class='form-control date-picker' %}
				{% else %}
					{% render_field field class='form-control' %}
				{% endif %}
			</div>
		{% endif %}
		<span class="help-block">{{ field.help_text }}</span>
		{% if field.errors %}
			<div class="row">
				</br>
				<div class="alert alert-danger alert-dismissible" role="alert">
  					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
  						<span aria-hidden="true">&times;</span>
						</button>
					<ul>
						{% for error in field.errors %}
							<li>{{ error }}</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		{% endif %}
	{% endfor %}
	<div class="row">
		<div class="col-lg-2 col-md-offset-4 col-md-6 col-sm-12 col-xs-12 text-center">
			<input type="submit" value="{% trans 'Save' %}" class="btn btn-success btn-raised btn-block" />
		</div>

		<div class="col-lg-2 col-md-6 col-sm-12 col-xs-12 text-center">
			<a href="{% url 'subjects:index' %}" class="btn btn-default btn-raised btn-block">{% trans 'Cancel' %}</a>
		</div>
	</div>
</form>

<script type="text/javascript">
	$('#id_professor').multiSelect({
	  selectableHeader: "<input type='text' class='search-input category-search-users' autocomplete='off' placeholder='{% trans 'Search for professors' %} '>",
	  selectionHeader: "<input type='text' class='search-input category-search-users' autocomplete='off' placeholder='{% trans 'Search for professors' %}'>",
	  afterInit: function(ms){
	    var that = this,
	        $selectableSearch = that.$selectableUl.prev(),
	        $selectionSearch = that.$selectionUl.prev(),
	        selectableSearchString = '#'+that.$container.attr('id')+' .ms-elem-selectable:not(.ms-selected)',
	        selectionSearchString = '#'+that.$container.attr('id')+' .ms-elem-selection.ms-selected';
					// console.log($selectableSearch);
					// alert("oi");
			// console.log($eselectableSearch);

	    that.qs1 = $selectableSearch.quicksearch(selectableSearchString)
	    .on('keydown', function(e){
	      if (e.which === 40){
	        that.$selectableUl.focus();
	        return false;
	      }
	    });

	    that.qs2 = $selectionSearch.quicksearch(selectionSearchString)
	    .on('keydown', function(e){
	      if (e.which == 40){
	        that.$selectionUl.focus();
	        return false;
	      }
	    });
	  },
	  afterSelect: function(values){
			$("#id_students option[value='" + values[0] + "']").remove();
			$('#id_students').multiSelect('refresh');

			this.qs1.cache();
	    this.qs2.cache();
	  },
	  afterDeselect: function(values){
			var label = $("#id_professor option[value='" + values[0] + "']").text();

			$("#id_students").multiSelect('addOption', {value: values[0], text: label});

	    this.qs1.cache();
	    this.qs2.cache();
	  }
	});// Used to create multi-select css style

	$('#id_students').multiSelect({
	  selectableHeader: "<input type='text' class='search-input category-search-users' autocomplete='off' placeholder=' {% trans 'Search for students' %} '>",
	  selectionHeader: "<input type='text' class='search-input category-search-users' autocomplete='off' placeholder=' {% trans 'Search for students' %} '>",
	  afterInit: function(ms){
	    var that = this,
	        $selectableSearch = that.$selectableUl.prev(),
	        $selectionSearch = that.$selectionUl.prev(),
	        selectableSearchString = '#'+that.$container.attr('id')+' .ms-elem-selectable:not(.ms-selected)',
	        selectionSearchString = '#'+that.$container.attr('id')+' .ms-elem-selection.ms-selected';


	    that.qs1 = $selectableSearch.quicksearch(selectableSearchString)
	    .on('keydown', function(e){
	      if (e.which === 40){
	        that.$selectableUl.focus();
	        return false;
	      }
	    });

	    that.qs2 = $selectionSearch.quicksearch(selectionSearchString)
	    .on('keydown', function(e){
	      if (e.which == 40){
	        that.$selectionUl.focus();
	        return false;
	      }
	    });
	  },
		// afterInit: function(){
		//
		// },
	  afterSelect: function(values){
			$("#id_professor option[value='" + values[0] + "']").remove();
			$('#id_professor').multiSelect('refresh');

	    this.qs1.cache();
	    this.qs2.cache();
	  },
	  afterDeselect: function(values){
			var label = $("#id_students option[value='" + values[0] + "']").text();

			$("#id_professor").multiSelect('addOption', {value: values[0], text: label});

	    this.qs1.cache();
	    this.qs2.cache();
	  }
	});// Used to create multi-select css style

	$('.collapse').on('show.bs.collapse', function (e) {
	if($(this).is(e.target)){
			// console.log(e);
			var btn = $(this).parent().find('.fa-angle-right');

    	btn.switchClass("fa-angle-right", "fa-angle-down", 250, "easeInOutQuad");

			$(this).parent().parent().parent().find('.panel-collapse.in').collapse('hide');
		}


    });

    $('.collapse').on('hide.bs.collapse', function (e) {
			// console.log(e);
    	if($(this).is(e.target)){
        	var btn = $(this).parent().find('.fa-angle-down');

        	btn.switchClass("fa-angle-down", "fa-angle-right", 250, "easeInOutQuad");
        }
    });
</script>
