{% load static i18n pagination permissions_tags subject_counter chat_tags %}

<div class="subject-participants">
  {% for participant in participants %}

  <div class="participants-container">
    <div class="col-md-12 sub-user" data-toggle="popover" data-container="body" data-placement="left">
      <h4>
        <a
          class="user_{{ participant.id }}_status status {{ participant.status }}"
          data-placement="right"
          data-toggle="tooltip"
          title="{{ participant.status | status_text }}"
        ></a>
        {{ participant }}
      </h4>
    </div>

    <div class="popover">
      <div class="popover-content participant">
        <button type="button" class="close" aria-label="{% trans 'Close' %}">
          <span aria-hidden="true">&times;</span>
        </button>

        <br clear="all" />

        <div class="col-md-3 col-sm-3 col-xs-3 user-img">
          <img src="{{ participant.image_url }}" class="img-responsive" />
        </div>
        <div class="col-md-9 col-sm-9 col-xs-9 user-info">
          <h4>
            <a class="status {{ status }}" data-toggle="tooltip" title="{{ status | status_text }}"></a>
            {{ participant }}
          </h4>
        </div>
      </div>
      <div class="popover-footer">
        <a
          href="#"
          onclick="getModalInfo($(this), '{{ subject.id }}', 'subject'); return false;"
          data-url='{% url "chat:profile" participant.email %}'
          class="btn btn-default btn-raised pull-left btn-popover-mobile"
        >
          {% trans 'See Profile' %}
        </a>
        <a
          href="#"
          onclick="getModalInfo($(this), '{{ subject.id }}', 'subject'); return false;"
          data-url='{% url "chat:talk" participant.email %}'
          class="btn btn-success btn-raised pull-right btn-popover-mobile"
        >
          {% trans 'Send Message' %}
        </a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
<script type="text/javascript">
  $(function() {
    $('[data-toggle="popover"]')
      .popover({
        html: true,
        placement: function() {
          return window.innerWidth <= 768 ? "bottom" : "left";
        },
        content: function() {
          return $(this)
            .parent()
            .find(".popover")
            .html();
        },
      })
      .on("show.bs.popover", function(e) {
        $('[data-toggle="popover"]')
          .not(e.target)
          .popover("hide");
      })
      .on("shown.bs.popover", function(e) {
        if ($(this).is(e.target)) {
          var popover = $(".popover.fade.in"),
            buttons = popover.parent().find("a"),
            close = popover.parent().find(".close:visible");

          popover.animate(
            {
              "max-width": "330px",
            },
            0,
          );

          popover.find(".popover-content").animate(
            {
              padding: "9px 5px",
            },
            0,
          );

          popover.find("h4").animate(
            {
              "font-size": "16px",
            },
            0,
          );

          close.on("click", function() {
            popover.popover("hide");
          });

          buttons.on("click", function() {
            popover.popover("hide");
          });
        }
      });
  });
</script>
