{% extends 'categories/home.html' %}

{% load static i18n django_bootstrap_breadcrumbs switchevenodd %}

{% block style %}
	{{block.super}}
	<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-tagsinput.css" %}">
{% endblock %}

{% block javascript %}
	{{block.super}}
	<script type="text/javascript" src="{% static "js/bootstrap-tagsinput.js" %} "></script>
{% endblock %}

{% block breadcrumbs %}
   {% clear_breadcrumbs %}
   {% breadcrumb 'Home' 'subjects:home' %}

  {% breadcrumb slug 'subjects:index' %}
  {% breadcrumb 'Create Subject' 'subjects:create' %}
{% endblock %}

{% block content %}
	<div class="card card-content">
	    <div class="card-body">
			{% include 'subjects/_form.html' %}
		</div>
	</div>
	<br clear="all" />
	<br clear="all" />
{% endblock %}

