{% extends "categories/home.html" %}

{% load static pagination i18n %}

{% block content %}
	{% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <p>{{ message }}</p>
            </div>
        {% endfor %}
    {% endif %}




  <!-- Wrapper for slides -->
  {% if user.is_staff %}
    <div id="myCarousel" class="carousel slide " data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>

      <div class="carousel-inner" role="listbox">
    <div class="item active">
      <h2 class=" my-subjects-title"><b><i>{% trans "Most popular keywords" %}</i></b></h2>
        <div id="" class="col-md-12">
          <div class="users-cloud div-users-cloud">
            <ul class=" users-cloud">
              {% for tag in tags %}
                {% if tag.1 == 0 %}
                  <li class="big"><a href="{% url 'subjects:search' %}?search={{tag.0}}">{{tag.0}}</a></li>
                {% elif tag.1 == 1 %}
                  <li class="medium"><a href="{% url 'subjects:search' %}?search={{tag.0}}">{{tag.0}}</a></li>
                {% else %}
                  <li class="small"><a href="{% url 'subjects:search' %}?search={{tag.0}}">{{tag.0}}</a></li>
                {% endif %}


              {% endfor %}
            </ul>
          </div>
        </div>
    </div>

     </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
  {% else %}

     <h2 class=" my-subjects-title"><b><i>{% trans "Most popular keywords" %}</i></b></h2>
        <div id="" class="col-md-12">
          <div class="users-cloud div-users-cloud">
            <ul class=" users-cloud">
              {% for tag in tags %}
                {% if tag.1 == 0 %}
                  <li class="big"><a href="{% url 'subjects:search' %}?search={{tag.0}}">{{tag.0}}</a></li>
                {% elif tag.1 == 1 %}
                  <li class="medium"><a href="{% url 'subjects:search' %}?search={{tag.0}}">{{tag.0}}</a></li>
                {% else %}
                  <li class="small"><a href="{% url 'subjects:search' %}?search={{tag.0}}">{{tag.0}}</a></li>
                {% endif %}


              {% endfor %}
            </ul>
          </div>
        </div>
  {% endif %}






	<div class="col-md-12 cards-content">
		<h2 class=" my-subjects-title"><b><i>{% trans "My Subjects" %} ({{ total_subs }})</i></b></h2>

		{% if subjects|length > 0 %}
	    	<div class="panel-group" id="subject-accordion" role="tablist" aria-multiselectable="true">
				{% for subject in subjects %}
					{% include "subjects/subject_card.html" with accordion_id="subject-accordion" %}
				{% endfor %}

				{% pagination request paginator page_obj %}
			</div>
		{% else %}
			<div class="text-center no-subjects">
				<i class="fa fa-graduation-cap"></i>
				<h4>{% trans 'You still do not posses any subject in our platform' %}</h4>
			</div>
		{% endif %}
	</div>

	<div id="modal_subject"></div>
  {% if user.is_staff %}
    <script type="text/javascript" src="{% static 'js/charts/home.js' %}"></script>
  {% endif %}

	<script type="text/javascript" src="{% static 'subjects/js/modal_subject.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/category.js' %}"></script>
{% endblock content %}
