{% extends "categories/home.html" %}

{% load static pagination i18n %}

{% block content %}
	<h2 class=" my-subjects-title"><b><i>{% trans "Palavras-chave mais populares" %}</i></b></h2>
	<div id="" class="col-md-12">

		<div class="users-cloud div-users-cloud">
			<ul class=" users-cloud">
				{% for tag in tags %}
					<li>{{tag.name}}</li>
				{% endfor %}
			</ul>
		</div>
	</div>
	
	<div class="col-md-12 cards-content">
	<h2 class=" my-subjects-title"><b><i>{% trans "Meus Assuntos" %}</i></b></h2>
    	<div class="panel-group" id="subject-accordion" role="tablist" aria-multiselectable="true">
			{% for subject in subjects %}
				{% include "subjects/subject_card.html" with accordion_id="subject-accordion" %}
			{% endfor %}
		</div>
	</div>

	{% pagination request paginator page_obj %} 
    <script type="text/javascript" src="{% static 'js/course.js' %}"></script>
{% endblock content %}