<!-- 
Copyright 2016, 2017 UFPE - Universidade Federal de Pernambuco
 
Este arquivo é parte do programa Amadeus Sistema de Gestão de Aprendizagem, ou simplesmente Amadeus LMS
 
O Amadeus LMS é um software livre; você pode redistribui-lo e/ou modifica-lo dentro dos termos da Licença Pública Geral GNU como publicada pela Fundação do Software Livre (FSF); na versão 2 da Licença.
 
Este programa é distribuído na esperança que possa ser útil, mas SEM NENHUMA GARANTIA; sem uma garantia implícita de ADEQUAÇÃO a qualquer MERCADO ou APLICAÇÃO EM PARTICULAR. Veja a Licença Pública Geral GNU para maiores detalhes.
 
Você deve ter recebido uma cópia da Licença Pública Geral GNU, sob o título "LICENSE", junto com este programa, se não, escreva para a Fundação do Software Livre (FSF) Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA.
-->

{% load static i18n permissions_tags subject_counter %}

{% subject_permissions request.user subject as has_subject_permissions %}
{% subject_view_permissions request.user subject as has_subject_view_permissions %}

{% if subject.visible or has_subject_permissions %}
    {% if subject.visible %}
        <div class="panel panel-info subject-panel" id="subject_{{subject.slug}}">
            <div class="panel-heading">
    {% elif has_subject_permissions %}
        <div class="panel panel-info subject-panel-invisible" id="subject_{{subject.slug}}">
            <div class="panel-heading panel-invisible">
    {% endif %}
            <div class="row">
                <div class="col-md-12 category-header">
                    <h4 class="panel-title">
                        <a class="category-course-link pull-left" data-parent="#{% if accordion_id %}{{ accordion_id }}{% else %}{{ subject.category.slug }}_category-accordion{% endif %}" data-toggle="collapse" href="#{{subject.slug}}_subject">
                            <button class="btn btn-default btn-xs text-center cat-selector"><i class="fa fa-angle-right fa-2x" aria-hidden="true"></i></button> {{ subject }}
                        </a>
                    </h4>

                    <div class="col-lg-4 col-md-5   col-sm-12 col-xs-12 pull-right category-card-items">
                        {% if has_subject_permissions %}
                            <a href="" id="moreActions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                            </a>
                            <ul class="dropdown-menu pull-right" aria-labelledby="moreActions">
                            {% if request.user not in subject.professor.all %}
                                <li><a href="{% url 'subjects:replicate' subject.slug %}"><i class="fa fa-files-o fa-fw" aria-hidden="true"></i>{% trans 'Replicate' %}</a></li>
                            {% endif %}
                                <li><a href="{% url 'subjects:update' subject.slug %}"><i class="fa fa-pencil fa-fw" aria-hidden="true"></i>{% trans 'Edit' %}</a></li>
                                <li><a href="{% url 'groups:index' subject.slug %}"><i class="fa fa-group fa-fw" aria-hidden="true"></i>{% trans 'Groups' %}</a></li>
                                <li><a href="{% url 'subjects:backup' subject.slug %}"><i class="fa fa-database fa-fw" aria-hidden="true"></i>{% trans 'Backup' %}</a></li>
                                <li><a href="{% url 'subjects:restore' subject.slug %}"><i class="fa fa-recycle fa-fw" aria-hidden="true"></i>{% trans 'Restore' %}</a></li>
                                <li><a href="{% url 'subjects:reports:create_interaction' %}?subject_id={{subject.id}}"><i class="fa fa-bolt fa-fw" aria-hidden="true"></i>{% trans 'Interaction Data' %}</a></li>
                                <li><a href="javascript:delete_subject.get('{% url 'subjects:delete' subject.slug %}?view=index','#subject','#modal_subject')"><i class="fa fa-trash fa-fw" aria-hidden="true"></i>&nbsp;{% trans 'Remove' %}</a></li>
                            </ul>
                        {% endif %}

                        <a href="" class="pull-right action_icon" data-toggle="tooltip" data-placement="bottom" title="{% trans 'Analytics' %}"><i class="fa fa-bar-chart" aria-hidden="true"></i></a>
                        <a href="{% url 'notifications:view' subject.slug %}" class="pull-right action_icon" data-toggle="tooltip" data-placement="bottom" title="{% trans 'Pendencies' %}">
                            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                            {% notifies_number subject request.user %}
                        </a>
                        <a href="{% url 'chat:subject_view' subject.slug %}" class="pull-right action_icon" data-toggle="tooltip" data-placement="bottom" title="{% trans 'Messages' %}">
                            <i class="fa fa-envelope-o" aria-hidden="true"></i>
                            {% chat_number subject request.user %}
                        </a>
                        <a href="{% url 'mural:subject_view' subject.slug %}" class="pull-right action_icon" data-toggle="tooltip" data-placement="bottom" title="{% trans 'Mural' %}">
                            <i class="fa fa-list" aria-hidden="true"></i>
                            {% mural_number subject request.user %}
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div id="{{subject.slug}}_subject" class="panel-collapse collapse category-panel-content">
            <input type="hidden" class="log_url" value="{% url 'subjects:view_log' subject.id %}" />
            <input type="hidden" class="log_id" value="" />

            <div class="row">
                <div class="col-md-6 col-xs-12">
                    {% if subject.professor.all|length > 0  %}
                        <h4><b>{% trans "Professor(s) " %}: </b>
                            {{ subject.professor.all|join:', ' }}
                        </h4>
                    {% else %}
                        <h4> {% trans "It doesn't possess professors" %} </h4>
                    {% endif %}
                </div>
                <div class="col-xs-6 col-md-3 subject-period">
                    <p><b>{% trans "Beginning" %}:</b> {{ subject.init_date|date:"SHORT_DATE_FORMAT" }} </p>
                </div>
                <div class="col-xs-6 col-md-3 subject-period">
                    <p><b>{% trans "End" %}:</b> {{ subject.end_date|date:"SHORT_DATE_FORMAT" }}</p>
                </div>
                
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    {% if subject.description_brief %}
                        <p>{{subject.description_brief|safe}}</p>
                    {% endif %}
                </div>
            {% if show_buttons %}

                {% if has_subject_view_permissions %}
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 subject_access_btn">
                        <a href="{% url 'subjects:view' subject.slug %}" class="btn btn-success btn-raised"> {% trans "Access Subject" %}</a>
                    </div>
                {% elif subject.subscribe_end|aftertoday %}
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 subject_access_btn">
                        <a href="javascript:subscribe_subject.get('{% url 'subjects:subscribe' subject.slug %}?view=index','#subject-subscribe','#modal_subject')" class="subscribe-subject btn btn-primary btn-raised"> {% trans "Subscribe to Subject" %}</a>
                    </div>
                {% else %}
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <a  class="no-subscribe-btn btn btn-danger" disabled="disabled" style="white-space:normal"> {% trans "This subject doesn't allow new subscriptions" %}</a>
                    </div>
                {% endif %}

            {% endif %}
            </div>
        </div>
    </div>
{% endif  %}
