{% load i18n permission_tags %}

<div id="answer_{{ answer_id }}" class="row" style="background-color: #e0e0e0">
    <div class="col-sm-12 col-xs-12">
        <h3 class="user-name">
            {{ answer.user }}
            {% if request.user|has_role:'system_admin' or request.user == answer.user %}
                <div class="pull-right">
                    <div class="btn-group icon-more-horiz">
                        <a class="btn btn-default btn-xs dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_horiz</i>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a href="javascript:void(0)"><i class="material-icons">create</i> {% trans 'Edit' %}</a></li>
                            <li><a href="javascript:void(0)"><i class="material-icons">delete_sweep</i> {% trans 'Remove' %}</a></li>
                        </ul>
                    </div>
                </div>
            {% endif %}
        </h3>
        <div class="card-data">
            <p class="comment-date"><i class="fa fa-clock-o"></i> {{ answer.answer_date|timesince }} {% trans 'ago' %}</p>
        </div>
        <p class="comment-text">{{ answer.message|linebreaks }}</p>
    </div>
</div>