<div class="page-header">
    <h1 id="timeline">Forum</h1>
    <b>Descricao: </b>Learning Python<p>
    <b>Abertura: </b>Sexta-feira, 10 Junho 2016
</div>
<ul class="timeline">
    <li>
        <div class="timeline-badge">
            <img id="logo" src="https://uxdesign-html-japm94.c9users.io/atividades-amadeus/uxdesign-html/img/topo-amadeus.png">
        </div>
        <p></p>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <h4 class="timeline-title">Python is insteresting</h4>
                <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago by </small>Carlos </p>
            </div>
            <div class="timeline-body">
                <p>Who knows how working a String in python?</p>
            </div>
            <hr>
            <i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i>
        </div>
    </li>
    <li>
        <div class="timeline-badge">
            <img id="logo" src="https://uxdesign-html-japm94.c9users.io/atividades-amadeus/uxdesign-html/img/topo-amadeus.png">
        </div>
        <p></p>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <h4 class="timeline-title">Ruby's doubt</h4>
                <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 5 hours ago by </small>Jurandi</p>
            </div>
            <div class="timeline-body">
                <p>How works the Gems?</p>
            </div>
            <hr>
            <i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i>
        </div>
    </li>
</ul>