{% load i18n %}

{% if foruns|length > 0 %}
    {% for forum in foruns %}
        <a class="forum_collapse" role="button" href="javascript: showPosts('{{ forum.slug }}')" aria-expanded="false">
            <div class="page-header">
                <h1 id="timeline">{{ forum }}</h1>
                <b>{% trans 'Description' %}: </b>{{ forum.description }}<p>
                <b>{% trans 'Created in' %}: </b>{{ forum.create_date }}
            </div>
        </a>
        <div class="collapse" id="collapse{{ forum.slug }}">
            <div class="well">
            </div>
        </div>
    {% endfor %}
{% else %}
    <div class="page-header">
        <p>{% trans 'No forum created yet.' %}</p>
    </div>
{% endif %}
