{% extends 'base.html' %}

{% load static i18n pagination %}
{% load django_bootstrap_breadcrumbs %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'analytics/general.css' %}">  
{% endblock style %}

{% block javascript %}
    <script type="text/javascript" src="{% static "analytics/js/charts.js" %}"></script>
    <script type="text/javascript" src=" {% static "analytics/js/behavior.js" %} "></script>
{% endblock javascript %}

{% block breadcrumbs %}
    {{ block.super }}
    
    {% trans 'Analytics General' as general %}

    {% breadcrumb general 'dashboard:view_general' %}
{% endblock %}


{% block content %}
    <section id="core-subjects-options-div">
        <nav>
            <ul class="core-subjects-options report-menu-choice">
            	<li class="active">
            		{% trans "Platform Report" %}
            	</li>
            	<li>
            		{% trans "Category Report" %}
            	</li>
            	<li>
            		{% trans "Subject Report" %}
            	</li>
            </ul>
        </nav>
    </section>

    <section id="general-report">
        <header id="general-report-header">
            <h3>{% trans "Amadeus Report" %}</h3>

            <ul id="report-header-options">
                <li >
                    <div class="selected">{% trans "Focus" %}<div>
                </li>
                <li>
                    <div>{% trans "Log" %}<div>
                </li>
            </ul>
        </header> 

        <article class="report-body">
            
            <section id="most-used-tags">
                <header id="most-used-tags-header">
                    <h4 >
                        {% trans "most used tags" %}
                    </h4>
                </header>
                <div id="most-used-tags-body">
                    
                </div>
            </section>
            <section class="bottom-section">
                <div class="chart left-chart">
                 

                    <div id="left-data-selector">
                      
                                <div class="selector" data-url="categories">
                                    <p>  {% trans "most accessed categories" %} </p>
                                </div>
                          
                                <div class="selector" data-url="subjects">
                                   <p> {% trans "most accessed subjects" %} </p>
                                </div>
                           
                                <div class="selector" data-url="resources">
                                   <p> {% trans "most accessed resource" %} </p>
                                </div>
                         
                    </div>

                </div>
                <div class="chart middle-chart">
                    <article>
                        <h4>{% trans "most active users" %}</h4>
                    </article>
                  
                </div>
                <div class="chart right-chart">
                    

                </div>
            </section>

        </article>
    </section>

    <script type="text/javascript">
    </script>


{% endblock content %}