{% extends "subjects/view.html" %}

{% load static i18n django_bootstrap_breadcrumbs %}

{% block style %}
	{{block.super}}
	<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-tagsinput.css" %}">
{% endblock %}

{% block javascript %}
	{{block.super}}
	<script type="text/javascript" src="{% static "js/bootstrap-tagsinput.js" %} "></script>
{% endblock %}

{% block breadcrumbs %}
	{% clear_breadcrumbs %}
	{% breadcrumb 'Home' 'subjects:home' %}
	{% breadcrumb pdf_file.topic.subject.category 'subjects:cat_view'  pdf_file.topic.subject.category.slug %}
	{% breadcrumb pdf_file.topic.subject 'subjects:view' pdf_file.topic.subject.slug %}
	{% breadcrumb pdf_file.topic 'subjects:topic_view' pdf_file.topic.subject.slug pdf_file.topic.slug %}
	{% breadcrumb pdf_file 'pdf_file:view' pdf_file.slug %}
	
{% endblock %}


{% block content %}

<object width="100%" height="800px" type="application/pdf" data="{{pdf_file.file.url}}" id="pdf_content">
    <p>{% trans "PDF could not be displayed" %}</p>
  </object>

  
 
{% endblock content %}