/* Classes */

.header-bg{
	background-color: green;
}

.header-div{
	margin-top: 1%;
}

.logo{
	height:100%;
}

.link{
	text-decoration: none;
	position: relative;
}

.link:after{
	content: '';
	position: absolute;
  	bottom: 0;
  	left: 0;
  	width: 0%;
  	border-bottom: 2px solid;
  	transition: 0.4s;
}

.link:hover:after{
	width: 100%;
}

.notification-count{
	background-color: #cc0000;
}

/* ID */

.notifications{
	font-size: 20px;

}

