/* Classes */

.header-bg{
	background-color: green;
}

.header-div{
	margin-top: 1%;
}

.logo{
	height:100%;
	margin-left: 30%;
}

.link{
	transition-duration: 0.5s;
}

.link:hover{
	transform:scale(1.1);
}

/* ID */

.notifications{
	font-size: 20px;

}

