{% load static i18n %}
{% load widget_tweaks %}

<form method="post" action="" enctype="multipart/form-data">
	{% csrf_token %}
	{% for field in form %}
		<div class="form-group{% if form.has_error %} has-error {% endif %} is-fileinput col-lg-12 col-md-12 col-sm-12">
			{% if field.auto_id == 'id_image' %}
        		{% if field.field.required %}
					<label for="{{ field.auto_id }}">{{ field.label }} <span>*</span></label>
				{% else %}
					<label for="{{ field.auto_id }}">{{ field.label }}</label>
				{% endif %}
				{% render_field field class='form-control' %}
				<div class="input-group">
                  	<input type="text" readonly="" class="form-control" id="pic_holder" placeholder="{% trans 'Choose your photo...' %}">
                  	<span class="input-group-btn input-group-sm">
                    	<button type="button" class="btn btn-fab btn-fab-mini">
                    		<i class="material-icons">image</i>
                   		</button>
                  	</span>
                </div>
            {% elif field.auto_id == 'id_description' %}
            	{% if field.field.required %}
					<label for="{{ field.auto_id }}">{{ field.label }} <span>*</span></label>
				{% else %}
					<label for="{{ field.auto_id }}">{{ field.label }}</label>
				{% endif %}
            	{% render_field field class='form-control text_wysiwyg' %}
      		{% elif field.auto_id == 'id_is_staff' or  field.auto_id == 'id_is_active' %}
				<div class="checkbox">
  					<label for="{{ field.auto_id }}">
      					{% render_field field %} {{field.label}}
  					</label>
				</div>
			{% else %}
				{% if field.field.required %}
					<label for="{{ field.auto_id }}">{{ field.label }} <span>*</span></label>
				{% else %}
					<label for="{{ field.auto_id }}">{{ field.label }}</label>
				{% endif %}
				{% render_field field class='form-control' %}
			{% endif %}
				<span id="helpBlock" class="help-block">{{ field.help_text }}</span>
			{% if field.errors %}
				<div class="alert alert-danger alert-dismissible" role="alert">
  					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
  						<span aria-hidden="true">&times;</span>
						</button>
					<ul>
						{% for error in field.errors %}
							<li>{{ error }}</li>
						{% endfor %}
					</ul>
				</div>
			{% endif %}
		</div>
	{% endfor %}
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12">
			<div class="col-md-6 col-xs-6 col-sm-6 col-lg-6 text-center">
				<input type="submit" value="{% trans 'Save' %}" class="btn btn-success btn-raised btn-block" />
			</div>
			<div class="col-md-6 col-xs-6 col-sm-6 col-lg-6 text-center">
				<a href="{% url back_url %}" class="btn btn-default btn-raised btn-block">{% trans 'Cancel' %}</a>
			</div>
		</div>
	</div>

</form>
{% include 'users/modal_crop.html'  %}
