{% extends 'users/profile.html' %}

{% load static i18n %}
{% load widget_tweaks %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}

  {{ block.super }}
  {% breadcrumb 'Edit' 'users:update_profile' %}

{% endblock %}

{% block sidebar %}
	<div class="list-group">
		<a href="{% url 'users:profile' %}" class="list-group-item">
	    	{% trans 'Profile' %}
	  	</a>
	  	<a href="{% url 'users:edit_profile' user.id %}" class="list-group-item active">
	    	{% trans 'Edit Profile' %}
	  	</a>
	</div>
{% endblock %}

{% block content %}
	{% if messages %}
		{% for message in messages %}
			<div class="alert alert-success alert-dismissible" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<p>{{ message }}</p>
			</div>
		{% endfor %}
	{% endif %}

	<form method="post" action="" enctype="multipart/form-data">
		{% csrf_token %}
		{% for field in form %}
			<div class="form-group{% if form.has_error %} has-error {% endif %} is-fileinput">
				<label for="{{ field.auto_id }}">{{ field.label }}</label>
				{% if field.auto_id == 'id_image' %}
					{% render_field field class='form-control input-sm' %}
					<div class="input-group">
	                    <input type="text" readonly="" class="form-control" placeholder="Choose your photo...">
	                    <span class="input-group-btn input-group-sm">
	                        <button type="button" class="btn btn-fab btn-fab-mini">
	                          	<i class="material-icons">attach_file</i>
	                        </button>
	                    </span>
	                </div>
	            {% else %}
					{% render_field field class='form-control input-sm' %}
				{% endif %}
				<span id="helpBlock" class="help-block">{{ field.help_text }}</span>
				{% if field.errors.length > 0 %}
					<div class="alert alert-danger alert-dismissible" role="alert">
	  					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
	  						<span aria-hidden="true">&times;</span>
  						</button>
						<ul>
							{% for error in field.errors %}
								<li>{{ error }}</li>
							{% endfor %}
						</ul>
					</div>
				</div>
				{% endif %}
			</div>
		{% endfor %}
		<input type="submit" value="{% trans 'Save' %}" class="btn btn-sm btn-success" />
	</form>
	<br clear="all" />
{% endblock %}
