<!-- 
Copyright 2016, 2017 UFPE - Universidade Federal de Pernambuco
 
Este arquivo é parte do programa Amadeus Sistema de Gestão de Aprendizagem, ou simplesmente Amadeus LMS
 
O Amadeus LMS é um software livre; você pode redistribui-lo e/ou modifica-lo dentro dos termos da Licença Pública Geral GNU como publicada pela Fundação do Software Livre (FSF); na versão 2 da Licença.
 
Este programa é distribuído na esperança que possa ser útil, mas SEM NENHUMA GARANTIA; sem uma garantia implícita de ADEQUAÇÃO a qualquer MERCADO ou APLICAÇÃO EM PARTICULAR. Veja a Licença Pública Geral GNU para maiores detalhes.
 
Você deve ter recebido uma cópia da Licença Pública Geral GNU, sob o título "LICENSE", junto com este programa, se não, escreva para a Fundação do Software Livre (FSF) Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA.
-->

{% extends 'base.html' %}

{% load i18n pagination django_bootstrap_breadcrumbs permission_tags static  %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb 'Manage Users' 'users:manage' %}
{% endblock %}

{% block menu %}
{% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <p>{{ message }}</p>
            </div>
        {% endfor %}
    {% endif %}

    <div class="row">
        <div class="col-md-9">
            <form action="{% url 'users:search' %}" method="GET" class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-11 col-sm-10 col-xs-10">
                        <input type="text" class="form-control" name="search" placeholder="{% trans 'Search...' %}" />
                    </div>
                    <div class="col-md-1 col-sm-2 col-xs-2">
                        <button type="submit" class="btn btn-fab btn-fab-mini">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-3">
            <a href="{% url 'users:create' %}" class="pull-right btn btn-success btn-raised btn-md"><i class="fa fa-plus"></i> {% trans 'Create User' %}</a>
        </div>
    </div>

    {% if users %}
        {% for acc in users %}
            <div class="row-fluid panel panel-default">
                <div class="panel-body">
                    <div class="col-md-3">
                        <span class="thumbnail">
                            <img src="{{ acc.image_url }}" class="img-responsive" />
                        </span>
                    </div>
                    <div class="col-md-6">
                        <p><b>{% trans 'Name' %}:</b> {{ acc }}</p>
                        <p><b>{% trans 'Email' %}:</b> {{ acc.email }}</p>
                        <p><b>{% trans 'Description' %}:</b>
                            {% autoescape off %}
                                {{ acc.description|default:_("Not Informed")|striptags|truncatechars:300 }}
                            {% endautoescape %}
                        </p>
                    </div>
                    <div class="col-md-3">
                        <div align="right">
                            <a href="{% url 'users:update' acc.email %}" class="btn btn-success btn-raised btn-sm"><i class="fa fa-edit"></i> {% trans 'Edit' %}</a>
                            <a href="javascript:delete_subject.get('{% url 'users:delete' acc.email %}','#users','#modal_remove')" class="btn btn-default btn-raised btn-sm"><i class="fa fa-trash"></i> {% trans 'Delete' %}</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% pagination request paginator page_obj %}
    {% else %}
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <p>{% trans 'No users found' %}</p>
            </div>
        </div>
    {% endif %}
    <div id="modal_remove">

    </div>


<script src="{% static 'js/crop.js' %}"></script> <!-- Js for cropper-->
{% endblock %}
