<!-- 
Copyright 2016, 2017 UFPE - Universidade Federal de Pernambuco
 
Este arquivo é parte do programa Amadeus Sistema de Gestão de Aprendizagem, ou simplesmente Amadeus LMS
 
O Amadeus LMS é um software livre; você pode redistribui-lo e/ou modifica-lo dentro dos termos da Licença Pública Geral GNU como publicada pela Fundação do Software Livre (FSF); na versão 2 da Licença.
 
Este programa é distribuído na esperança que possa ser útil, mas SEM NENHUMA GARANTIA; sem uma garantia implícita de ADEQUAÇÃO a qualquer MERCADO ou APLICAÇÃO EM PARTICULAR. Veja a Licença Pública Geral GNU para maiores detalhes.
 
Você deve ter recebido uma cópia da Licença Pública Geral GNU, sob o título "LICENSE", junto com este programa, se não, escreva para a Fundação do Software Livre (FSF) Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA.
-->

{% extends 'base.html' %}

{% load static i18n %}
{% load widget_tweaks %}
{% load django_bootstrap_breadcrumbs profile_verifies %}

{% block breadcrumbs %}
  	{{ block.super }}
  	{% breadcrumb 'Profile' 'users:profile' %}
{% endblock %}

{% block render_breadcrumbs %}
  	{% render_breadcrumbs %}
{% endblock %}

{% block content %}
	{% if messages %}
		{% for message in messages %}
			<div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<p>{{ message }}</p>
			</div>
		{% endfor %}
	{% endif %}
	<div class="row">
		<div class="col-lg-12">
			<div class="well well-lg container-fluid">
				<div class="row-fluid">
					<div class="col-md-3">
						<span class="thumbnail">
							<img src="{{ user.image_url }}" />
						</span>
						<h4><b>{{ user }}</b></h4>
						<p>{{ user.email }}</p>
					</div>
					<div class="col-md-9">
						<div class="form-group">
							<label class="control-form">{% trans 'System Admin' %}:</label>
							<p class="profile_function">{{ user.is_admin }}</p>
						</div>
						<div class="form-group">
							<label class="control-form">{% trans 'Coordinator in' %}:</label>
							<p class="profile_function">{{ user|is_coordinator }}</p>
						</div>
						<div class="form-group">
							<label class="control-form">{% trans 'Professor in' %}:</label>
							<p class="profile_function">{{ user|is_professor }}</p>
						</div>
						<div class="form-group">
							<label class="control-form">{% trans 'Student in' %}:</label>
							<p class="profile_function">{{ user|is_student }}</p>
						</div>
					</div>
				</div>
				<br clear="all" />
				<hr />
				<div class="row-fluid">
					<label class="control-form">{% trans 'Description' %}:</label>
					<div class="col-md-12">
						{% autoescape off %}
							{{ user.description|default:_("Not Informed") }}
						{% endautoescape %}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
