<!-- 
Copyright 2016, 2017 UFPE - Universidade Federal de Pernambuco
 
Este arquivo é parte do programa Amadeus Sistema de Gestão de Aprendizagem, ou simplesmente Amadeus LMS
 
O Amadeus LMS é um software livre; você pode redistribui-lo e/ou modifica-lo dentro dos termos da Licença Pública Geral GNU como publicada pela Fundação do Software Livre (FSF); na versão 2 da Licença.
 
Este programa é distribuído na esperança que possa ser útil, mas SEM NENHUMA GARANTIA; sem uma garantia implícita de ADEQUAÇÃO a qualquer MERCADO ou APLICAÇÃO EM PARTICULAR. Veja a Licença Pública Geral GNU para maiores detalhes.
 
Você deve ter recebido uma cópia da Licença Pública Geral GNU, sob o título "LICENSE", junto com este programa, se não, escreva para a Fundação do Software Livre (FSF) Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA.
-->

{% extends 'base.html' %}

{% load static i18n %}
{% load widget_tweaks %}

{% block nav %}
{% endblock %}

{% block breadcrumbs %}
{% endblock %}

{% block sidebar %}
{% endblock sidebar %}


{% block content %}
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			{% if contrast_cookie %}
                <img src="{{ theme.high_contrast_logo_url }}" class="img-responsive center-block logo-login logo-register" alt="logo amadeus" />
            {% else %}
                <img src="{{ theme.large_logo_url }}" class="img-responsive center-block logo-login logo-register" alt="logo amadeus" />
            {% endif %}
        </div>
	</div>

	<div class="row">
		<div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-1 col-lg-8 col-md-8 col-sm-10">
			{% if messages %}
				{% for message in messages %}
					<div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<p>{{ message }}</p>
					</div>
				{% endfor %}
			{% endif %}

			<div class="card">
				<div class="card-body">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
							<h2 class="outside-title"><strong>{% trans "User Register" %}</strong></h2>
						</div>
					</div>

					<form class="{% if form.has_error %} has-error {% endif %} form-horizontal is-fileinput" method="post" enctype="multipart/form-data" id="user-form">
						{% csrf_token %}
						{% for field in form %}
						{% if field.auto_id == 'id_show_email' %}
						{% elif field.auto_id == 'id_x' %}
								<input class="form-control" id="id_x" name="x" type="hidden">
						{% elif field.auto_id == 'id_y' %}
								<input class="form-control" id="id_y" name="y" type="hidden">
					  {% elif field.auto_id == 'id_width' %}
								<input class="form-control" id="id_width" name="width" type="hidden">
						{% elif field.auto_id == 'id_height' %}
								<input class="form-control" id="id_height" name="height" type="hidden">
						{% else %}
								<div class="form-group col-lg-12 col-md-12 col-sm-12">
									<div class="form-group form-group-md">
										<div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
											{% if field.auto_id == 'id_image' %}
												<label for="{{ field.auto_id }}">{{ field.label }}</label>
											{% render_field field class='form-control file-selector' %}
												<div class="input-group common-file-input">
											      	<input type="text" readonly="" class="form-control" placeholder="{% trans 'Choose your photo...' %}">
											      	<span class="input-group-btn input-group-sm">
											        	<button type="button" class="btn btn-fab btn-fab-mini">
											        		<i class="material-icons">attach_file</i>
											       		</button>
											      	</span>
											   </div>
													    	<div class="filedrag">
													    		{% if acc.image %}
														    		<i class="fa fa-file-archive-o"></i> <br />
														    		<small>{{ acc.image.path }}</small>
														    	{% else %}
														      		{% trans 'Click or drop the file here' %}<br />
														      		<small>{% trans 'The photo could not exceed 2MB.' %}</small>
														      {% endif %}
												  			</div>
								         {% else %}
																{% render_field field class='form-control' %}
											{% endif %}

											<span class="help-block">{{ field.help_text }}</span>
										</div>
										{% if field.errors %}
											<div class="row">
												<div class="alert alert-danger alert-dismissible" role="alert">
													<button type="button" class="close" data-dismiss="alert" aria-label="Close">
														<span aria-hidden="true">&times;</span>
													</button>
													<ul>
														{% for error in field.errors %}
														<li>{{ error }}</li>
														{% endfor %}
													</ul>
												</div>
											</div>
										{% endif %}

										{% if field.auto_id == 'id_image' %}
											<div class="col-lg-12 col-md-12 col-sm-12 alert alert-danger alert-dismissible client-file-errors" style="display:none" role="alert">
													<button type="button" class="close" data-dismiss="alert" aria-label="Close">
														<span aria-hidden="true">&times;</span>
													</button>
												<ul>
													<li class="size" style="display:none">{% trans "The image is too large. It should have less than 2MB." %}</li>
													<li class="format" style="display:none">{% trans 'File not supported.' %}</li>
												</ul>
											</div>
										{% endif %}
									</div>
								</div>
								{% endif %}
						{% endfor %}
						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12">
								<div class="col-md-6 col-xs-12 col-sm-6 col-lg-6 text-center">
									<input type="submit" value="{% trans 'Register' %}" class="btn btn-success btn-raised btn-block" />
								</div>
								<div class="col-md-6 col-xs-12 col-sm-6 col-lg-6 text-center">
									<a href="{% url 'users:login' %}" class="btn btn-default btn-raised btn-block"> {% trans 'Back' %}</a>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

{% include 'users/modal_crop.html'  %}
<script src="{% static 'js/crop.js' %}"></script> <!-- Js for cropper-->
<script type="text/javascript">
// check if browser supports drag n drop
// call initialization file
if (window.File && window.FileList && window.FileReader) {
	Init();
}

// initialize
function Init() {
	var small = $(".file-selector"),
		filedrag = $(".filedrag"),
		common = $(".common-file-input");

	// file select
	small.on("change", FileSelectHandler);

	// is XHR2 available?
	var xhr = new XMLHttpRequest();
	if (xhr.upload) {
		// file drop
		filedrag.on("drop", FileSelectHandler);
		filedrag.attr('style', 'display:block');
		common.attr('style', 'display:none');
	}
}

// file selection
function FileSelectHandler(e) {
	var files = e.target.files || e.dataTransfer.files,
		parent = $(e.target.offsetParent);
	// process all File objects
	for (var i = 0, f; f = files[i]; i++) {
		parent.find('.filedrag').html(f.name);
	}
}
</script>


{% endblock %}

{% block bottommenu %}
{% endblock %}
