{% extends 'app/base.html' %}

{% load static i18n %}

{% block breadcrumbs %}
	<ol class="breadcrumb">
	  	<li><a href="{% url 'app:index' %}">{% trans 'Home' %}</a></li>
	  	<li class="active">{{ acc }}</li>
	</ol>
{% endblock %}

{% block sidebar %}
	<div class="list-group">
	  	<a href="{% url 'app:users:manage' %}" class="list-group-item">
	    	{% trans 'System Users' %}
	  	</a>
	  	<a href="{% url 'app:users:create' %}" class="list-group-item active">
	    	{% trans 'New Account' %}
	  	</a>
	  	<a href="{% url 'app:send_mail' %}" class="list-group-item">
	    	{% trans 'Send Mail' %}
	  	</a>
	</div>
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-sm-3">
			<img src="{{ acc.image.url }}" class="img-responsive" />
		</div>
		<div class="col-sm-9">
			<h4>{{ acc }}</h4>
			<span class="label label-info">{% if acc.type_profile %}{{ acc.get_type_profile_display }}{% else %} {% trans 'Administrator' %} {% endif %}</span>
			<span class="label label-primary">{{ acc.get_gender_display }}</span>
			<span class="label label-warning">{{ acc.city }} / {{ acc.state }}</span>
			<p>
				<strong>{% trans 'Mail:' %} </strong> {{ acc.email }}
			</p>
			<p>
				<strong>{% trans 'Phone:' %} </strong> {{ acc.phone }}
			</p>
			<p>
				<strong>{% trans 'Cpf:' %} </strong> {{ acc.cpf }}
			</p>
			<p>
				<strong>{% trans 'Birth date:' %} </strong> {{ acc.birth_date }}
			</p>
		</div>
	</div>
{% endblock %}