<!DOCTYPE html>

{% load static i18n %}

<html>
<head>
	<title>{{ title }}</title>

	<meta http-equiv="Cache-Control" content="no-cache, no-store" />
	<link href="{% static 'img/favicon.ico' %}" rel="shortcut icon" />

	<!-- Roboto font -->
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<!-- jQuery & jQuery UI -->
	<script type="text/javascript" src="{% static 'js/vendor/jquery-3.1.0.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/vendor/jquery-ui.js' %}"></script>

  	<!-- Bootstrap and themes (material) -->
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap-3.3.7/css/bootstrap.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/vendor/material.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/vendor/ripples.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/datepicker.css' %}">
	<script type="text/javascript" src="{% static 'bootstrap-3.3.7/js/bootstrap.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/vendor/bootstrap-acessibility.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/vendor/material.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/vendor/ripples.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/vendor/bootstrap-datepicker.js' %}"></script>

  	<!-- Font awesome -->
	<link rel="stylesheet" type="text/css" href="{% static 'font-awesome-4.6.3/css/font-awesome.min.css' %}">

	<!-- Custom styles -->
  	<link rel="stylesheet" type="text/css" href="{% static 'css/base/amadeus.css' %}">

	<!-- Init material Bootstrap -->
	<script type="text/javascript">$.material.init()</script>

	<!--Javascript block for specific-app ones -->
	<script src="{% static 'js/base/amadeus.js' %}"></script>
	{% block style %}
	{% endblock %}
</head>
<body>
	<div class="container-fluid">
		{% block nav %}
			<div class="row">
			        	<div class="navbar navbar-default">
			              		<div class="navbar-header">
			                		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
			                  			<span class="icon-bar"></span>
			                  			<span class="icon-bar"></span>
			                  			<span class="icon-bar"></span>
			                		</button>
			                		<a class="navbar-brand" href="{% url 'app:index' %}"><img class="logo" src="{% static 'img/topo-amadeus-white.png'  %}" alt="Logo"/></a>
			              		</div>
			              		<div class="navbar-collapse collapse navbar-responsive-collapse">
			                		<ul class="nav navbar-nav navbar-right notifications">
			                  			 <li class="" data-toggle="tooltip" data-placement="bottom" title data-original-title="notifications">
						                   <a  class="dropdown-toggle" data-toggle="dropdown"> <span id="notification-count" class="badge notification-count">{{notifications.count}}</span><i class="fa fa-bell" aria-hidden="true"></i></a>
						                     <ul id="notification-dropdown" class="dropdown-menu">
						                     <li class="dropdown-header">Notifications</li>
						                     		{% include "notifications.html" %}

						                     		<li>
						                     		 <a onclick="getNotifications(5)">
						                     			<div id="notification-see-more" class="list-group-item">
								                                  <div class="row-content">
								                                    <p class="list-group-item-text">See More</p>
								                                </div>
								                       </a>
						                     		</li>
						                      </ul>
						                 </li>

			                  			<li  data-toggle="tooltip" data-placement="bottom" title data-original-title="{% trans 'messages' %}"> <a href="#"><i class="fa fa-comments" aria-hidden="true"></i></a> </li>
			                  			<li > <a  class="link" href="{% url 'users:profile' %}">{{ user }}</a></li>
			                  			<li data-toggle="tooltip" data-placement="bottom" title data-original-title="log out"> <a href="{% url 'core:logout' %}"><i class="fa fa-sign-out" aria-hidden="true"></i></a></li>
			                		</ul>
			              		</div>
			        	</div>
			</div>
		{% endblock %}

		<div class="row">
		    		<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
						{% block sidebar %}

						{% endblock %}
		    		</div>

		    		<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xl-10">
				    	{% block breadcrumbs %}

				    	{% endblock %}

				    	{% block render_breadcrumbs %}

				    	{% endblock %}
							<div class="row">
								<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 col-xl-9">
								{% block content %}

								{% endblock %}
			    			</div>

			    			<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
								{% block rightbar %}

								{% endblock rightbar %}
			    			</div>
							</div>
				    </div>
		</div>
	</div>
</body>
</html>
