<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load static i18n %}


<html>
<head>
	<title>{{ title }}</title>
	
	<meta http-equiv="Cache-Control" content="no-cache, no-store" />
	
	<link href="{% static 'bootstrap-3.3.7/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
	<!--CSS block for specific-app ones -->
	{% block style %}
	{% endblock %}

	<link href="{% static 'img/favicon.ico' %}" rel="shortcut icon" />
	
	<script type="text/javascript" src="{% static 'js/jquery-3.1.0.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'bootstrap-3.3.7/js/bootstrap.min.js' %}"></script>
	<!--Javascript block for specific-app ones -->
	{% block javascript %}
		
	{% endblock %}
</head>
<body>
	{% block nav %}

	{% endblock %}
		
    <div class="container">
    	{% block breadcrumbs %}
    	
    	{% endblock %}
    	<div class="row">
    		<div class="col-md-2 col-sm-2">
				{% block sidebar %}
					
				{% endblock %}
			</div>
			<div class="col-md-6 col-sm-6">
				{% block content %}
					
				{% endblock %}
			</div>
			<div class="col-md-4 col-sm-4">
				{% block rightbar %}
					
				{% endblock rightbar %}
			</div>
		</div>
	</div>
	
</div>
</body>
</html>