{% extends 'base.html' %}

{% block breadcrumbs %}
	<div class="col-md-12">
		<form id="searchform" action="{% url 'course:manage' %}" method="get" accept-charset="utf-8">
			<div class="input-group">
			  <div class="form-group is-empty">
			  <input type="search" class="form-control" placeholder="Search Courses" name="q" id="searchbox"></div>
			    <span class="input-group-btn input-group-sm">
			      <button type="button" class="btn btn-fab btn-fab-mini">
			        <i class="material-icons">search</i>
			      </button>
			    </span>
			</div>
		</form>
	</div>

	<div class="col-md-12">
		<div class="btn-group btn-group-justified btn-group-raised">
			<a href="?category=all" class="btn btn-raised btn-info">Todos</a>
			{% for category_course in categorys_courses %}
				<a href="?category={{category_course.name}}" class="btn btn-raised btn-primary">{{category_course.name}}</a>
			{% endfor %}
		</div>
	</div>

{% endblock %}


{% block content %}

	{% for course in courses %}
		<div class="panel panel-info">
	  		<div class="panel-heading">
	    		<h3 class="panel-title">{{course.name}}</h3>
	  		</div>
	       
		  	<div class="panel-body">
		    	<p><b>Course Name: </b>{{course.name}}</p>
		    	<p><b>Begining: </b>{{course.init_date}}</p>
		    	<p><b>End: </b>{{course.end_date}}</p>
		    	<p><b>Professor: </b>{{course.professors.name}}</p>
		    	<p>
			    <b>Description:</b>
			    <i>
			        {{course.content}}
			    </i>
			    </p>
			</div>
		</div>
	{% endfor %}
{% endblock %}



{% comment %}




</fieldset>
	<div class="col-md-12">
		{% if courses|length > 0 %}
			{% if request.GET.category == 'all' or none or request.GET.category == '' %}
				{% for course in list_courses %}
		          <div class="panel-group ui-accordion ui-widget ui-helper-reset ui-sortable" id="accordion" role="tablist" aria-multiselectable="false">
		            <div class="group">
						<div class="panel panel-info">
						    <div class="panel-heading" role="tab">
						      <div class="row">
						        <div class="col-xs-9 col-md-9 titleTopic">
						          <a role="button" data-toggle="collapse" data-parent="#accordion" href=".collapseOne" aria-expanded="false" aria-controls="collapseOne" class="collapsed">
						          <h4 style="color:white">{{course.name}}</h4>
						          </a>
						        </div>
						      </div>
						    </div>
						    <div class="panel-collapse collapseOne collapse in" role="tabpanel" aria-labelledby="headingOne" aria-expanded="true" aria-hidden="false" tabindex="0">
						      <div class="panel-body">
						        <p><b>Course Name: </b>{{course.name}}</p>
						        <p><b>Duration (in semesters): </b>09</p>
						        <p><b>Coordinator: </b>{{course.professors}}</p>
						        <p>
						          <b>Description:</b>
						          <i>
						            {{course.description}}
						          </i>
						        </p>
								<a href="{% url 'course:view' course.slug %}" class="btn btn-raised btn-default center-block">'View Course<div class="ripple-container"></div></a>
						      </div>
						    </div>
						</div>
					</div>
				</div>
				{% endfor %}
			{% else %}
				{% for course in courses_category %}
    				{% if course.category.name == request.GET.category %}
    					<!-- Put your content here! -->
		          <div class="panel-group ui-accordion ui-widget ui-helper-reset ui-sortable" id="accordion" role="tablist" aria-multiselectable="false">
		            <div class="group">
						<div class="panel panel-info">
						    <div class="panel-heading" role="tab">
						      <div class="row">
						        <div class="col-xs-9 col-md-9 titleTopic">
						          <a role="button" data-toggle="collapse" data-parent="#accordion" href=".collapseOne" aria-expanded="false" aria-controls="collapseOne" class="collapsed">
						          <h4 style="color:white">{{course.name}}</h4>
						          </a>
						        </div>
						      </div>
						    </div>
						    <div class="panel-collapse collapseOne collapse in" role="tabpanel" aria-labelledby="headingOne" aria-expanded="true" aria-hidden="false" tabindex="0">
						      <div class="panel-body">
						        <p><b>Course Name: </b>{{course.name}}</p>
						        <p><b>Duration (in semesters): </b>09</p>
						        <p><b>Coordinator: </b>{{course.professors}}</p>
						        <p>
						          <b>Description:</b>
						          <i>
						            {{course.description}}
						          </i>
						        </p>
								<a href="{% url 'course:view' course.slug %}" class="btn btn-raised btn-default center-block">View Course<div class="ripple-container"></div></a>
						      </div>
						    </div>
						</div>
					</div>
				</div>
    				{% endif %}
				{% endfor %}
			{% endif %}
		{% else %}
			No courses found
		{% endif %}
		<div class="group">
			<div class="modal" id="removeCourse">
				  <div class="modal-dialog">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
				        <h4 class="modal-title"></h4>
				      </div>
				      <div class="modal-body">
				        <p>Delete your course?</p>
				      </div>
				      <div class="modal-footer">

				        <a href="http://127.0.0.1:8080/html/screens/users/profile_user.html" target="_self"><button type="button" class="btn btn-primary">Confirm</button></a>

				      </div>
				    </div>
				  </div>
			</div>
		</div>
	</div>
	<div class="col-md-12">
		<nav aria-label="Page navigation">
			<ul class="pagination">
				{% if page_obj.has_previous %}
				    <li>
				        <a href="?page={{ page_obj.previous_page_number }}"><span><<</span></a>
				    </li>
				{% endif %}
			    {% for page_number in paginator.page_range %}
					<li{% if page_obj.number == page_number %} class="active"{% endif %}>
	    				<a href="?page={{ page_number }}">{{ page_number }}</a>
					</li>
				{% endfor %}
				{% if page_obj.has_next %}
				    <li>
				        <a href="?page={{ page_obj.next_page_number }}"><span>>></span></a>
				    </li>
				{% endif %}
			</ul>
		</nav>
	</div>
{% endcomment %}
