{% extends 'base.html' %}

{% load static i18n %}
{% load widget_tweaks %}

{% block sidebar %}
	<form class="form-horizontal" action="" method="post">
		{% csrf_token %}

		{% for error in form.non_field_errors %}
			<div class="alert alert-danger">
				{{ error }}
			</div>
		{% endfor %}

		{% for field in form %}
			<div class="form-group {% if form.has_error %} error {% endif %}">
				<label for="{{ field.auto_id }}" class="col-sm-2 control-label">{{ field.label }}</label>
				<div class="col-sm-10">
					{% render_field field class='form-control input-sm' %}
					{% for error in field.errors %}
						<span class="help-block">{{ error }}</span>
					{% endfor %}
				</div>
			</div>
		{% endfor %}
		<div class="form-group">
			<div class="col-sm-12">
				<input type="submit" class="btn btn-sm btn-success pull-right" value="Entrar" />
			</div>
		</div>
	</form>
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-sm-12">
			<form class="form-horizontal" method="post">
				<div class="col-sm-10">
					<div class="form-group">
						<label for="search_keyword" class="control-label col-sm-3">{% trans 'Search course:' %} </label>
						<div class="col-sm-9">
							<input type="text" class="form-control input-sm" id="search_keyword" />
						</div>
					</div>
				</div>
				<button type="submit" class="btn btn-sm btn-success">{% trans 'Search' %}</button>
			</form>

			<hr />

			<h5>{% trans 'Most popular keywords:' %}</h5>
			<div class="well">
				<center>
					<ul class="cloud">
					    <li>
					    	<a href="">
					    		teste amadeus prospb
				    		</a>
			    		</li>
			    		<li>
					    	<a href="">
					    		programação fácil
				    		</a>
			    		</li>
			    		<li>
					    	<a href="">
					    		intermediário
				    		</a>
			    		</li>
			    		<li>
					    	<a href="">
					    		amadeus
				    		</a>
			    		</li>
			    		<li>
					    	<a href="">
					    		palavra02
				    		</a>
			    		</li>
			    		<li>
					    	<a href="">
					    		programação para iniciantes
				    		</a>
			    		</li>
			    		<li>
					    	<a href="">
					    		django
				    		</a>
			    		</li>
			    		<li>
					    	<a href="">
					    		aluno teste
				    		</a>
			    		</li>
			    		<li>
					    	<a href="">
					    		curso0101
				    		</a>
			    		</li>
			    		<li>
					    	<a href="">
					    		kjsdnksa
				    		</a>
			    		</li>
			    		<li>
					    	<a href="">
					    		palavra01
				    		</a>
			    		</li>
			    		<li>
					    	<a href="">
					    		programming
				    		</a>
			    		</li>
			    		<li>
					    	<a href="">
					    		python
				    		</a>
			    		</li>
			    		<li>
					    	<a href="">
					    		curso
				    		</a>
			    		</li>
			    		<li>
					    	<a href="">
					    		mvc
				    		</a>
			    		</li>
			    		<li>
					    	<a href="">
					    		programação web
				    		</a>
			    		</li>
			    		<li>
					    	<a href="">
					    		ionic
				    		</a>
			    		</li>
			    		<li>
					    	<a href="">
					    		framework
				    		</a>
			    		</li>
			    		<li>
					    	<a href="">
					    		web
				    		</a>
			    		</li>
			    		<li>
					    	<a href="">
					    		android
				    		</a>
			    		</li>
			    		<li>
					    	<a href="">
					    		programação
				    		</a>
			    		</li>
					</ul>
				</center>
			</div>
		</div>
	</div>
{% endblock %}