
<!-- This templates is responsible to display the list of notifications at the top of the page. -->
{% for notification in notifications  %}
	{% if notification.actor %} <!-- if the notification has a user-->
		<li>
	  <a href="{% url 'core:notification_read' notification.id %}"><div class="list-group-item">
	  <div class="row-picture">
	  {% if notification.actor.image %}
	  	<img class="circle user-notification-img" src="{{ notification.actor.image.url }}" alt="icon">
	  {% else %}
	  	<img class="circle user-notification-img" src="{{ notification.actor.image_url }}" alt="icon">
	  {% endif %}
	    
	    <div class="least-content "> {{ notification.datetime|timesince }} </div>
	  </div>
	  <div class="row-content">
	    <p class="list-group-item-text">{{ notification.message }}</p>
	  </div>
	  </div>
	  </a>
	</li>
	{% else %}
		 <li>
	    <a href="{% url 'core:notification_read' notification.id %}">
	        <div class="list-group-item">
	          <div class="row-action-primary">
	            <i class="material-icons"></i>
	          </div>
	          <div class="row-content">

	            <div class="least-content pull-right">{{ notification.datetime|timesince }}</div>

	            <p class="list-group-item-text">{{ notification.message }}</p>
	        </div>
	     </a>
	</li>
	{% endif %}
{% endfor %}