{% extends 'base.html' %}

{% load static i18n %}
{% load widget_tweaks %}

{% block nav %}
{% endblock %}


{% block content %}
	{% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <p>{{ message }}</p>
            </div>
        {% endfor %}
    {% endif %}
	<div class="row logo-row">
        <div class="col-lg-offset-2 col-lg-9">
            <img src="{% static 'img/amadeus.png' %}" class="img-responsive center-block " alt="logo amadeus" id="logo">
        </div>
    </div>

	<div class="row">
		<div class="">
			<div class="card">
				<div class="card-content">
					<div class="card-body">
						<form class="form-horizontal" name="registerForm" method="post" action="" enctype="multipart/form-data">
						{% csrf_token %}
							<legend>{% trans 'User Register' %}</legend>
							{% for field in form %}
							<div class="form-group is-empy{% if form.has_error %} has-error {% endif %} is-fileinput">
								{% if field.field.required %}
									<label for="{{ field.auto_id }}" class="col-md-4 control-label">{{ field.label }}<span>*</span></label>
								{% else %}
									<label for="{{ field.auto_id }}" class="col-md-4 control-label">{{ field.label }}</label>
								{% endif %}
								<div class="col-md-8">
									{% if field.auto_id == 'id_birth_date' %}
										{% render_field field class='form-control input-sm' type='date' %}
										<span id="helpBlock" class="help-block">{{ field.help_text }}</span>
									{% elif field.auto_id == 'id_image' %}
										{% render_field field class='form-control input-sm' %}
										<div class="input-group">
						                    <input type="text" readonly="" class="form-control" placeholder="Choose your photo...">
						                    <span class="input-group-btn input-group-sm">
						                        <button type="button" class="btn btn-fab btn-fab-mini">
						                          	<i class="material-icons">attach_file</i>
						                        </button>
						                    </span>
						                </div>
						            {% elif field.auto_id == 'id_cpf' %}
		                				{% render_field field class='form-control' onkeypress='campoNumerico(this,event); formatarCpf(this,event);' %}
									{% else %}
										{% render_field field class='form-control' %}
										<span id="helpBlock" class="help-block">{{ field.help_text }}</span>
									{% endif %}
								</div>
								
								{% if field.errors %}
								<div class="alert alert-danger alert-dismissible col-md-offset-4 col-md-8" role="alert">
				  					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				  						<span aria-hidden="true">&times;</span>
			  						</button>
									<ul>
										{% for error in field.errors %}
											<li>{{ error }}</li>
										{% endfor %}
									</ul>
								</div>
								{% endif %}
							</div>
							{% endfor %}
							<div class="col-md-offset-4 col-md-2 col-sm-2 col-xs-2">
								<input type="submit" value="{% trans 'Save' %}" class="btn btn-sm btn-success" />	
							</div>
							<div class="col-md-offset-3 col-md-2 col-sm-2 col-xs-2">
								<a href="{% url 'core:home' %}" class="btn btn-sm btn-success" >{% trans 'Cancel' %}</a>	
							</div>
							
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<br clear="all" />
{% endblock %}
