@media(min-width: 1200px) {
	.mural .post_make .user-img {
		height: 70px;
	}

	.mural .post_make .user-img img {
	    max-width: 70px;
	    max-height: 70px;
	}

	.mural .post_make .post-field h4 {
		line-height: 2.6em;
	}
}

@media(max-width: 1199px) {
	.navbar .navbar-brand {
		padding: 15px;
	}

	.mural .post_make .user-img {
		height: 65px;
	}

	.mural .post_make .user-img img {
	    max-width: 65px;
	    max-height: 65px;
	}

	.mural .post_make .post-field h4 {
		line-height: 2.3em;
	}
}

@media(max-width: 768px) {
	#btn-search {
		margin-top: -5px;
		height: 30px;
	}

	.navbar-nav {
		margin: 0px -15px;
	}

	.navbar-form {
		margin-left: -30px;
		margin-right: -30px;
	}
	
	.navbar .navbar-form {
		margin-top: 0px !important;
	}

	.navbar-form .input-group-btn > button > i {
		margin-top: -5px;
	}

	.navbar .navbar-nav .dropdown .dropdown-menu {
		margin-left: 0px;
		padding: 0px;
	}

	.category-card-items i {
		font-size: 20px;
		margin-top: 8px;
	}

	.users-cloud  .small a {
        
        display:none;
    }

    .mural .post_make .user-img {
		height: 60px;
	}

    .mural .post_make .user-img img {
	    max-width: 60px;
	    max-height: 60px;
	}

	.mural .post_make .post-field h4 {
		line-height: 2em;
	}
}

@media(min-width: 768px) {
	.navbar {
		height: 50px;
	}

	#btn-search {
	    margin-top: -10px;
	    height: 50px;
	}

	.navbar-form .input-group {
		width: 100%;
	}

	.navbar-form .form-group {
		width: 100%;
	}

	.navbar-form .input-group .form-control {
		width: 100%;
	}

	.navbar-form .input-group-btn {
		width: 50px !important;
	}

	.navbar-nav li > a.profile {
	    padding-top: 0px !important;
	    padding-bottom:15px;
	    padding-right:0px;
	    padding-left: 0px;
	}

	.category-card-items i{
  		font-size: 25px !important;
  		margin-top: 6px;
  	}
}

@media(max-width: 680px) {
	.mural .post_make .user-img {
		height: 50px;
	}

	.mural .post_make .user-img img {
	    max-width: 50px;
	    max-height: 50px;
	}

	.mural .post_make .post-field h4 {
		line-height: 1.6em;
	}
}