@media(min-width: 1200px) {
	.mural .post_make .user-img, .post .post-img {
		height: 70px;
	}

	.post .post-comment .user-img div {
		height: 38px;
	}

	.mural .post_make .post-field h4 {
		line-height: 2.6em;
	}
}

@media(max-width: 1199px) {

	.navbar .project_name{
		display: none;
	}

	.navbar .navbar-brand {
		padding: 15px;
	}

	.mural .post_make .user-img, .post .post-img {
		height: 65px;
	}

	.post .post-comment .user-img div {
		height: 38px;
	}

	.mural .post_make .post-field h4 {
		line-height: 2.3em;
	}

	.post .post-comment .user-img {
		padding-left: 10px;
		padding-right: 10px;
	}

	.comment-section .comment .comment-img {
		padding-left: 10px;
		padding-right: 10px;
	}



	/* Bottom Menu */
	.clearfix {
	    height: 60px;
	}

	.bottom-menu {
		position: fixed;
	    bottom: 0px;
	    width: 100%;
	    padding: 0px 30px;
	    z-index: 999;
	    height: 60px;
	}

	.mobile-menu {
	    -webkit-padding-start: 0px;
	    width: 100%;
	}

	.mobile-menu, .mobile-menu li {
	    display: inline-block;
	    float: left;
	}

	.mobile-menu .item {
	    padding-top: 3px;
	    text-align: center;
	    height: 100px;
	    width: 20%;
	    font-size: 35px;
	}

	.language-selector{
		text-align: center;
		margin: 10px;
	}

	.help-block span{
    	position: relative !important;
    }

	/* End Bottom Menu */
}

@media(max-width: 768px) {
	.navbar .project_name{
		display: block !important;
	}

	.language-selector-on-header .no-title{
		display:none;
	}

	.language-selector-on-header img{
		display: none;
	}
	.language-selector-on-header > ul img{
	    display:none;
	}

	.language-selector-on-header{
		display:block;
		position: relative;
	}

	.language-selector-on-header h4{
		color:rgba(255,255,255,.84);
		padding-left: 5px;
	}

	.language-selector-on-header .dropdown-menu{
		width: 100%;
		position: relative;
	}

	.navbar-header{
		width: 100%;
		position: fixed;
	    top: 0px;
	    z-index: 999;
	    height: 50px;
	}

	.navbar .navbar-brand{
		float: left;
	}
	#btn-search {
		height: 30px;
	}

	.navbar-nav {
		margin: 0px -15px;
	}

	.navbar-form {
		margin-left: -30px;
		margin-right: -30px;
	}

	.navbar .navbar-form {
		margin-top: 0px !important;
	}

	.navbar-form .input-group-btn > button > i {
		margin-top: -5px;
	}

	.navbar .navbar-nav .dropdown .dropdown-menu {
		margin-left: 0px;
		padding: 0px;
	}

	.category-card-items i {
		font-size: 20px;
		margin-top: 8px;
	}

	.card{
		box-shadow: 0 3px 3px 0 rgba(0,0,0,.2), 0 3px 3px 0 rgba(0,0,0,.19);
	}

	.users-cloud  .small a {

        display:none;
    }

    .mural .post_make .user-img, .post .post-img {
		height: 60px;
	}

	.mural .post_make .post-field h4 {
		line-height: 2em;
	}

	.post .post-comment .user-img {
		padding-left: 5px;
		padding-right: 5px;
	}

	.comment-section .comment .comment-img {
		padding-left: 5px;
		padding-right: 5px;
	}
	.help-block span{
    	position: relative !important;
    }

    .search-responsive-collapse{
    	position: fixed;
	    z-index: 999;
    	margin-top:50px;
    	margin-bottom:0px;
    	background:#F5F5F5;
    }

    .search{
    	background:#F5F5F5;
    	margin-bottom: -1px;
    }

    .input-group .input-group-btn{
    	padding: 0px;
    }
}

@media(min-width: 768px) {

	#profile-menu{
		float:right;
	}

	#staff-menu{
		float:right;
	}

	.language-selector-on-header{
	    float: left;
	    width: 50px;
	}

	.language-selector-on-header img{
	    margin-top: -20%;
	    margin-left: -20%;
	    width: 20px;
	}
	.language-selector-on-header > ul img{
	    width: 15%;
	    margin-top: 0%;
	    margin-left: 0%;
	}


	.language-selector-on-header .title{
		display:none;
	}

	.navbar {
		height: 50px;
	}

	#btn-search {
		margin-top: -10px;
	    height: 50px;
	}

	.navbar-form .input-group {
		width: 100%;
	}

	.navbar-form .form-group {
		width: 100%;
	}

	.navbar-form .input-group .form-control {
		width: 100%;
	}

	.navbar-form .input-group-btn {
		width: 50px !important;
	}

	.navbar-nav li > a.profile {
	    padding-top: 0px !important;
	    padding-bottom:15px;
	    padding-right:0px;
	    padding-left: 0px;
	}

	.category-card-items i{
  		font-size: 25px !important;
  		margin-top: 6px;
  	}
  	.help-block span{
    	position: relative !important;
    }
}

@media(max-width: 680px) {
	.mural .post_make .user-img, .post .post-img {
		height: 50px;
	}

	.mural .post_make .post-field h4 {
		line-height: 1.6em;
	}
	.outside-title{
		font-size:1.5em;
	}
	.logo-register, .logo-login{
		max-width: 100px;
		height: auto;
		text-align: center;
		width: auto;
	}

	.container-fluid {
    	padding-left: 10px;
    	padding-right: 10px;
    }

    p{
    	margin: 10px;
    }
	.slide_toggle{
		visibility: hidden;
	}
	.carousel-caption{
		position: static;
		text-align: right;
		font-size: 1em;
		background-color: #F5F5F5;
	}

	.navbar-toggle{
		float: left;
		padding:10px;
	}


	#btn-search {
		font-size: 1.5em;
		padding: 0px 10px;
    	margin: 10px 1px;
	}
	.navbar .logo{
		margin: auto;
		text-align: center;
		padding: 10px;
		height: 50px;
    	width: 50px;
	}

	.navbar-collapse{
		background: #EDEDEE;
		color: #000000;
		width: 100%!important;
		position: absolute;
		z-index: 5;

	}

	.help-block span{
    	position: relative !important;
    }
		li[data-mural] {
			font-size: 10px;
		}
	.post-icon {
		font-size: 32px !important;
	}

}
@media(max-width:610px){
	.outside-title{
		font-size:1.5em;
	}

	.container-fluid {
    	padding-left: 10px;
    	padding-right: 10px;
    }

    p{
    	margin: 10px;
    }
	.carousel-caption{
		position: static;
		text-align: center;
		font-size: 1em;
	}
	.post-icon {
		font-size: 32px !important;
	}
}

@media(min-width: 500px) {
	.dropdown-menu{
		margin-left: 130px;
	}
}
