@media(max-width: 1199px) {
	.navbar .navbar-brand {
		padding: 15px;
	}
}

@media(max-width: 768px) {
	#btn-search {
		margin-top: -5px;
		height: 30px;
	}

	.navbar-nav {
		margin: 0px -15px;
	}

	.navbar-form {
		margin-left: -30px;
		margin-right: -30px;
	}
	
	.navbar .navbar-form {
		margin-top: 0px !important;
	}

	.navbar-form .input-group-btn > button > i {
		margin-top: -5px;
	}

	.navbar .navbar-nav .dropdown .dropdown-menu {
		margin-left: 0px;
		padding: 0px;
	}

	.navbar .navbar-nav .dropdown .dropdown-menu li > a {
		color: #333333 !important;
	}
	.navbar .navbar-nav .dropdown .dropdown-menu li > a:hover {
	    color: #009688 !important;
	}
}

@media(min-width: 768px) {
	.navbar {
		height: 50px;
	}

	#btn-search {
	    margin-top: -10px;
	    height: 50px;
	}

	.navbar-form .input-group {
		width: 100%;
	}

	.navbar-form .form-group {
		width: 100%;
	}

	.navbar-form .input-group .form-control {
		width: 100%;
	}

	.navbar-form .input-group-btn {
		width: 50px !important;
	}

	.navbar-nav li > a.profile {
	    padding-top: 0px !important;
	    padding-bottom:15px;
	    padding-right:0px;
	    padding-left: 0px;
	}
}