ul, li {
    list-style-type: none;
    text-decoration: none;
}

a:focus {
    outline: none;
}

.pagination > li > a, .pagination > li > span {
    padding: 0px 8px;
}

.bootstrap-tagsinput {
    width: 100%;
}



.language-selector img{
    width: 4%;
}

.language-selector > ul img{
    width: 15%;
}
.language-selector-on-header{
    float: left;
    width: 5%;
}

.language-selector-on-header img{
    margin-top: 15%;
    width: 40%;
}
.language-selector-on-header > ul img{
    width: 30%;
    margin-top: 0%;
}

.navbar-header{
    width: 20%;
}

/* Initial page starts */
.users-cloud {
    
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-align:center;
}
.users-cloud li {
    list-style: none;
    display: inline;
}

.users-cloud  .small a {
    font-size: 1.25em;
}


.users-cloud  .big a {
    font-size: 2.25em;
}

.users-cloud .medium a {
    font-size: 1.75em;
}

.users-cloud  .tiny a {
    font-size: 0.75em;
}
.users-cloud a {
    text-decoration: none;
}

.div-users-cloud{
    height: 100%;
    margin-left: -10px;
    width: 100%;
}

.my-subjects-title {
    font-family: Roboto;
    font-size: 18px;    
}

/* initial page ends */
/* sidebar menu */

#sidebar-menu{
    -webkit-padding-start: 0px;
    padding-left: 0px;
}

#sidebar-menu .item {
    font-size: 3vw;
    width: 80%;
    margin: 10px 0px 10px 10px;
    text-align: center;
}

#subjects-link{
  margin-top: 0px !important;
}

#sidebar-menu-div{
  padding-right: 10px;
}
/* side bar menu ends*/

/* category app starts */
.resource-panel > .panel-heading{
    padding: 0px 0px;
    background-color: #BDBDBD;
}

.resource-panel .btn-group{
    margin: 0px 0px;
}

.resource-panel h4{
    margin-top: 8px !important;
}

.category-panel > .panel-heading, .subject-panel > .panel-heading, .special-panel > .panel-heading, .topic-panel > .panel-heading, .group-panel > .panel-heading {
    padding: 2px 0px;
}

.subject-panel-invisible > .panel-heading, .topic-panel-invisible > .panel-heading {
    padding: 2px 0px;
}

.subject-group {
    margin-left: 20px;    
}

.category-header > h4{
    float:left;
    margin-top: 5px;
    margin-bottom: 2px;
}

.category-header > h4.panel-title span {
    margin-left: 10px;
    font-weight: normal;
}

.category-header > h4 > a:focus {
    text-decoration: none;
}

.category-card-items {
    padding-right: 0px;
}
.category-card-items i{
    margin-right: 10px;
}

.category-header .dropdown-menu i {
    font-size: 20px !important;
    float: none;
}

.category-header i {
    font-size: 20px;
    float: right;
}

.cat-selector {
    margin: 0;
    top: -2px;
}

#create-category {
    margin-left: 20%;
    margin-bottom: 1%;
    border: none;
    width: 60%;
    height: 40px;
    font-size: 15px;
}

.pendencies-content {
    padding: 10px;
}

.category-panel-content {
    padding:10px;
}

.core-subjects-options{
    padding: 0px;
}

#core-subjects-options-div{
    width: 100%;
    margin-bottom: 10px;
    height: 50px;
}

.core-subjects-options  li {
    float:left;
    padding: 10px;
    padding-bottom: 8px;
    margin: 1px;
    border-bottom: 5px;
    border-bottom-style: solid;
}

#delete-category-footer{
    border-top:none !important;
}

.erase-button{
    float:left;
}

.create-subject-btn {
    width: 100%;
    border: 0px;
    margin-bottom: 10px;
}

.category-search-users{
    width: 100%;
    margin-bottom: 15px;
}

.ms-container {
    width: 100% !important;
}

#coordinators_accordion .panel-heading, #professors_accordion .panel-heading {
    border: none;
}

#coordinators_accordion .panel-collapse, #professors_accordion .panel-collapse {
    padding: 10px;
}
/* category app ends */

.clearfix{
    clear: both;
}

.mg-b-5m{
    margin-bottom: 5em;
}

/* NavBar Top */
.navbar-brand {
    height: 50px !important;
}

.navbar .navbar-form {
    margin-top: 10px;
}

.navbar .logo {
    text-align: center; 
    margin-top: -6px;
    height: 32px; 
    width: 32px;
}
.navbar .project_name {
    margin-top: -5px;
    font-weight: normal;
    padding-left: 10px;
    font-size: 20px;
}

.navbar-nav li > a {
    font-size: 20px;
    padding-top: 16px !important;
    padding-left: 20px;
    max-height: 50px;
}

.submenu {
    -webkit-padding-start: 0px;
}

.top-search::-webkit-input-placeholder {
    font-style: italic;
}
.top-search::-moz-placeholder {
    font-style: italic;
}
.top-search:-ms-input-placeholder {
    font-style: italic;
}
.top-search:-moz-placeholder {
    font-style: italic;
}
/* End NavBar Top */

/* Dropdown menu Topbar */
.dropdown-menu li > a {
    font-family: Roboto;
    font-size: 16px;
}

#system_accordion {
    margin-bottom: 0px;
}

#system_accordion > .panel > .panel-heading > a > .panel-title {
    font-weight: normal;
}

#system_accordion > .panel > .panel-heading > a:hover {
    text-decoration: none;
}
#system_accordion > .panel > .panel-heading > a:focus {
    text-decoration: none;
}
#system_accordion .panel-body {
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

.submenu a {
    font-family: Roboto;
    font-weight: normal;
    font-size: 16px;
    display: block;
    max-height: 50px;
}
.submenu a:hover {
    text-decoration: none;
}
/* End Dropdown menu Topbar */

/* Modal */
.modal-header {
    min-height: 60px;
    padding-bottom: 15px !important;
}
.modal-footer {
    text-align: right; 
    padding-top: 5px !important; 
}

/* HEADER */
#notification-dropdown{
    max-height: 500%;
    overflow: auto;
    width: 300px;
}
#NavBarSearch{
    position: absolute;
    left: 30%;
}
#btn-search{
    margin-bottom: 0px;
}
.user-notification-img{
    width:40%;
}

#horizontal-line{
    height:2px;
}

.navbar .dropdown-menu li>a, .navbar.navbar-default .dropdown-menu li>a {
    font-size: 16px !important;
    padding: 7px 16px !important;
}

/* HEADER */
.logoLogin{
    padding-bottom: 1%;
    width: 15%;
}
.navigation{
    margin: 10% 10% 5% 5%;
}

/* Breadcrumbs */
.breadcrumb{
    font-size: 16px;
    margin-bottom: 5px;
    font-style: italic;
}
/* End Breadcrumbs */

.courseHome{
    text-align: center;
}
.courseHome ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-left: 2%;
}
.courseHome ul li{
    display:inline;
    text-align: center;
    padding: 16px;
}
.goal{
    margin: 0%;
    margin-top: 10%;
    padding-bottom: 200px;
}
.favorites{
    margin: 0%;
    margin-top: 20%;
    padding-bottom: 200px;
}
.panel-info{
}
.panel-default{
}
.panel-primary .panel-body{
    padding: 0% 0% 0% 0%;
}
.end{
    text-align: right;
}
#img {
    display: block;
    margin: auto;
    width: 50%;
}

.breadcrumb .divider{
    display: none;
}

/*Logo register user*/
#logo{
    max-width: 40%;
    margin-top: 1em;
    margin-bottom: 1em;
}
/*====================== ========*/
.accordion_list {
    padding-left: 4px;
}

.container-fluid {
    padding-left: 40px;
    padding-right: 40px;
}

.icon_edit_remove{
    float: right;
}

/* core/index.html classes*/
.logo-login{
    margin-top: 15px;
    margin-bottom: 15px;
    width: 20%;
}

.logo-register {
    width: 10%;
}

.forgotPassword{
    padding-bottom: 10px;
}
.form-group{
    margin-top: 5px;
}

.form-group.form-group-sm label.control-label {
    font-size: 10px;
    margin: 0px;
}

/* core/register_user.html classes*/

.block-register-inline{
    float: left;
    display: inline-block;
}

/* core/reset_password.html classes*/
.send-reset-email{
    float: right;
}

/* Icon Topic */
.divMoreActions {
    text-align: right; 
    height: 30px; 
    float: right;
    width: 3%;
}

.divMoreActions > .btn-group {
    margin: 0px !important;
}

.moreAccordion {
    height: 30px;
}

.moreAccordion button {
    margin-bottom: 0px; 
    margin-top: 8px;
}

.titleTopic {
    padding-top: 10px; 
    padding-bottom: 10px;
}

.titleTopic a:hover{
    text-decoration: none;
}

.dropdown-menu .pull-right {
    right: 0;
}

.cards-content{ 
    padding-left: 0px; 
    padding-right: 0px; 
    font-family: Roboto;
    font-size: 18px;
}
.cards-detail {
    margin-left: 4%;
}

.course, .subject, .topic { 
    padding-top: 0px; 
    padding-bottom: 0px; 
}
.course-detail {
    padding-top: 10px; 
    padding-bottom: 10px;
}

.course-card{
    margin-bottom: 0.4% !important;
}

.course-card-group{
    margin-bottom: 1%;
}

.category-course-link {
    font-size: 16px;
    font-family: Roboto;
    font-weight: normal;
}

.category-course-link:hover{
    text-decoration: none;
}

/* Menu link remove radius */
.nav-pills > li > a {
    border-radius: 0px;
}

.float-button{
    float: right;
    position: fixed;
    bottom: 5%;
    right: 5%;
    font-size: 20px;
}

/* === Amadeus settings*/
#panel2 .form-group{
    margin: 0;
}

#panel2 .col-md-2, #panel2 .col-md-10{
    padding-left: 0;
}

/* Profile */
.profile_function {
    padding-bottom: 7px;
    font-size: 16px;
}
/* End Profile */

/* Bottom Menu */
.clearfix {
    height: 60px;
}

.bottom-menu {
    position: fixed;
    bottom: 0px;    
    width: 100%;
    padding: 0px 30px;
    z-index: 999;
    height: 50px;
}

.mobile-menu {
    -webkit-padding-start: 0px;
}

.mobile-menu, .mobile-menu li {
    display: inline-block;
}

.mobile-menu .item {
    padding-top: 3px;
    text-align: center;
    height: 50px;
    width: 55px;
    font-size: 35px;
}
/* End Bottom Menu */

/* subjects app starts*/
.access-subject {
    border: none;
}

.subscribe-subject {
    border:none;
}
/* subjects app ends */

/* Themes */
.page_selector h4 {
    margin-bottom: 20px;
}
.page_selector:hover, .page_selector:focus {
    text-decoration: none;
}

.filedrag {
    display: none;
    font-weight: bold;
    text-align: center;
    padding: 1em 0;
    margin: 1em 0;
    border-radius: 7px;
    cursor: pointer;
}

.filedrag i {
    font-size: 35px;
}

.theme_img {
    width: 100%;
}
/* End Themes */

.footer {
    position: relative;
    bottom: 0px;
    padding: 30px 30px;
    width: 100%;
    margin-top: 15px;
    font-family: Roboto;
    font-size: 16px;
}
.footer p {
    margin: 0px;
}

.form-group input[type=file] {
    margin-top: 20px;
    height: initial;
}

.no-subjects i {
    font-size: 50px;
}
.no-subjects h4 {
    font-family: Roboto;
    font-weight: normal;
}

/* jPages */
.holder a.jp-disabled, a.jp-disabled:hover {
    cursor: not-allowed;
}

.holder a.jp-current, a.jp-current:hover {
    cursor: default;
}

.holder a.jp-previous {
    margin-right: 0px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.holder a.jp-next {
    margin-left: 0px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.holder a, .holder span {
    font-size: 18px;
    margin: 0px;
    padding: 3px 9px;
    line-height: 1.42857143;
}

.holder a.jp-current, a.jp-current:hover {
    font-weight: 300;
}

.holder a:hover, .holder a:focus {
    text-decoration: none;
}
/* end jPages */

.notifies {
    padding: 5px 20px;
    text-align: right;
    margin-bottom: 10px;
}

.notifies .action_label {
    padding-top: 7px;
}

.notifies select {
    font-weight: 700;
}

.notifies a.delete-row {
    padding: 5px 20px;
    font-size: 12px;
    border: none;
    border-radius: 2px;
    position: relative;
    margin: 10px 1px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0;
    will-change: box-shadow,transform;
    -webkit-transition: -webkit-box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
    -o-transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
    transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
    outline: 0;
    cursor: pointer;
    text-decoration: none;
    line-height: 1.5;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a.add-row {
    outline: 0;
    padding: 5px 20px;
    font-size: 12px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    position: relative;
    margin: 10px 20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0;
    will-change: box-shadow,transform;
    -webkit-transition: -webkit-box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
    -o-transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
    transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
    outline: 0;
    cursor: pointer;
    text-decoration: none;
    line-height: 1.5;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.resource_list {
    margin-left: 20px;
    border-top: none !important;
}

.resource_list > .list-group-item {
    position: relative;
    display: block;
    padding: 10px 0px 10px 15px;
    margin-bottom: -1px;
    overflow: inherit;
    cursor: pointer;
}

.resource_list > .list-group-item:last-child {
    margin-bottom: 0;
}

.resource_list .list-group-item .list-group-item-heading {
    font-weight: 500;
    font-size: 16px;
}

.resource_list .btn-group {
    display: inline;
    margin: 0px;
}

.resource_list .btn-group button {
    margin-top: -5px;
    padding-right: 15px;
    padding-left: 15px;
}

.resource_list .btn-group button:focus {
    outline: none;
}

.resource_list .btn-group button:active {
    margin-top: -5px;
}

.resource_list .btn-group button i {
    margin-right: 0px;
}

.resource_list .fa-arrows {
    margin-right: 0px;
}

.resource_list > .disabled a {
    cursor: not-allowed;
}

.resource_list a:hover, .resource_list a:focus {
    text-decoration: none;
}

.add_resource i {
    margin-right: 10px;
}

.add_resource ul {
    width: 100%;
}

.action_icon {
    position: relative;
}

li.item .notify_badge {
    top: 0px;
    right: 0px;
}

.notify_badge {
    position: absolute;
    right: 4px;
    top: -5px;
    width: 1.9rem;
    line-height: 1.9rem;
    font-size: 0.9rem;
    border-radius: 50%;
    padding: 0px;
}

.pendency {
    border: 1px solid;
    padding-left: 10px;
    padding-top: 7px;
    margin-bottom: 15px;
}

.pendency .breadcrumb {
    padding-left: 0px;
    margin-bottom: 0px;
}

.pendency h4 {
    margin: 0px;
    font-size: 22px;
    font-weight: 700;
}

.pendency p {
    margin-bottom: 3px;
}

.pendency .alert {
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 700;
}

.pendency .alert span {
    position: relative;
    top: -7px;
    padding-left: 10px;
}

.pendency .alert i {
    font-size: 35px;
}

.alert-low {
    opacity: 0.5;
}

.no_button {
    cursor: initial;
}

.no_button:focus, .no_button:active:focus, .no_button.active:focus, .no_button.focus, .no_button:active.focus, .no_button.active.focus {
    outline: none;
}

.history-header {
    line-height: 1.8;
}

.history-control-label {
    padding-right: 0px;
    font-size: 16px !important;
    margin: 7px 0 0 0 !important;
}

.mural .post_make {
    padding: 10px;
    margin-bottom: 10px;
}
.mural .post_make .panel-body {
    padding: 0;
}
.mural .post_make .user-img {
    padding: 0;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    flex-direction: column;
    justify-content: center;
}
.mural .post_make .post-field {
    padding-right: 0px;
}
.mural .post_make .post-field div {
    border-width: 1px;
    border-style: solid;
    padding: 0px 5px;
}
.mural .post_make .post-field h4 {
    cursor: text;
    font-style: italic;
}

.post_action i {
    font-size: 45px;
}

.post-button {
    padding-right: inherit !important;
    padding-left: inherit !important;
}