{% load i18n widget_tweaks %}

<h2 class="title text-center">{% trans "Recuperar senha" %}</h2>
<div id="reset-area">
  <form hx-post="{% url 'auth:password_reset' %}" hx-target="#reset-area" hx-swap="outerHTML">
    {% csrf_token %}
    
    <p class="text-center mb-3">{% trans "Digite seu e-mail para receber instruções de recuperação de senha." %}</p>
    
    <div class="form-floating mb-3">
      {% trans "E-mail" as email_label %}
      {% url 'auth:validate_email' as validate_email_url %}
      {% render_field form.email class+="form-control" placeholder=email_label hx-post=validate_email_url hx-target="#email-error" hx-trigger="blur, change delay:500ms" autocomplete="email" %}
      <label for="{{ form.email.id_for_label }}">{{ email_label }}</label>
      <span id="email-error" class="text-danger">{{ form.email.errors }}</span>
    </div>
    
    <div class="d-grid gap-2 d-flex justify-content-center">
      <div class="d-grid gap-2 col-md-6 mx-auto">
        <button type="submit" class="btn btn-success">{% trans "Enviar link de recuperação" %}</button>
      </div>
    </div>
  </form>
</div>
