body,html{
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
	font-size: 0.95em;
	text-align: center;
}

.axis path,
.axis line{
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.gridline path,
.gridline line{
	fill: none;
	stroke: #ccc;
	shape-rendering: crispEdges;
}


.toolTip {
  position: absolute;
  display: none;
  min-width: 20px;
  height: 105px;
  background: none repeat scroll 0 0 #000;
  border: 2px solid #ccc;
	border-radius:10px;
  padding: 10px;
  text-align: center;
	color: #fff;
	opacity: 0.8;
}
