{% load static i18n pagination permissions_tags %}
{% load django_bootstrap_breadcrumbs %}

<div class="list-group resource_list">
	{% for resource in topic.resource_topic.all %}
  		<div class="list-group-item">
  			<h4 class="pull-left list-group-item-heading">
  				{{ resource }}
			</h4>
			<div class="pull-right category-card-items">
                <a href=""><i class="fa fa-arrows" aria-hidden="true"></i></a>
                <a href="" id="moreResources" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
                    <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                </a>
                <ul class="dropdown-menu pull-right" aria-labelledby="moreResources">
                    <li><a href="{% url 'topics:update' subject.slug topic.slug %}"><i class="fa fa-pencil fa-fw" aria-hidden="true"></i>{% trans 'Edit' %}</a></li>
                    <li><a href="javascript:delete_topic('{% url 'topics:delete' topic.slug %}')"><i class="fa fa-trash fa-fw" aria-hidden="true"></i>&nbsp;{% trans 'Remove' %}</a></li>
                </ul>
        	</div>
	        <br clear="all" />
			{% autoescape off %}
				{{ resource.brief_description }}
			{% endautoescape %}
  		</div>
  	{% endfor %}
</div>