{% extends "webpages/view.html" %}

{% load static i18n pagination permissions_tags subject_counter %}
{% load django_bootstrap_breadcrumbs %}

{% block javascript%}
    {{ block.super }}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart',"table"]});
      google.charts.setOnLoadCallback(drawChart);
      google.charts.setOnLoadCallback(drawTable);

      function drawChart() {
        var data = google.visualization.arrayToDataTable({{db_data|safe}});

        var options = {
          title: '{{title_chart}}',
          vAxis: {
              title: '{{title_vAxis}}',
              ticks: [0, .20, .40, .60, .80, 1],
              viewWindow: {
                  min: 0,
                  max: 1
              }
          },
          isStacked: "percent",
        };

        function selectHandler() {
           var selectedItem = chart.getSelection()[0];
           if (selectedItem) {
               var col = data.getColumnLabel(selectedItem.column);
               window.location.href = '{% url "webpages:get_chart" webpage.slug %}?col='+col + ''
           }
         }

        var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
        google.visualization.events.addListener(chart, 'select', selectHandler);
        chart.draw(data, options);
      }

        function drawTable() {
          var data = new google.visualization.DataTable();
          {%for a in column%}
                data.addColumn('{{a.1}}', '{{a.0}}');
          {% endfor%}
          data.addRows(getData());
          function getData(){
              var array = [];
              {%for a in history%}
                  {% if title_table == n_did_table %}
                    array.push(['{{a.0}}','{{a.1}}']);
                  {% else %}
                    array.push(['{{a.0}}','{{a.1}}','{{a.2}}',{% if a.3 is not None %}new Date('{{a.3.isoformat}}'){% else%}null{% endif %}]);
                    // console.log(new Date('{{a.3.isoformat}}'));
                  {% endif %}
              {% endfor%}
              return array;
          }
          var formate_date = new google.visualization.DateFormat({pattern: 'dd/MM/yyyy HH:mm'});
          {% if not title_table == n_did_table %}
            formate_date.format(data, 3);
            console.log(data);
          {% endif %}

          var table = new google.visualization.Table(document.getElementById('table_div'));

          table.draw(data, {showRowNumber: true, width: '100%', height: '100%'});
        }
    </script>
{% endblock%}

{% block breadcrumbs %}
    {{ block.super }}
    {% trans 'Reports' as bread %}
	{% breadcrumb bread webpage%}
{% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <p>{{ message }}</p>
            </div>
        {% endfor %}
    {% endif %}
    <div class="row">
        <div class="col-md-10">
            <div id="chart_div" style="height: 500px"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-10">
            <div class="text-center">

            <ul class="list-inline">
                <li>
                    {% if out_history %}
                        <a href="{% url 'webpages:get_chart' webpage.slug %}"> <i class="fa fa-arrow-left ta-fw">  </i> {% trans "History" %}</a>
                    {% endif %}
                </li>
                <li><h3>{{title_table}}</h3></li>
            </ul>
            <div class="row">
                <div class="col-md-7">
                    <ul id="report-info">
                		{# <li> {{data.values|length}} {% trans "register(s)" %} </li>#}
                		<li>
                			<a href=""><i class="fa fa-download" aria-hidden="true"></i> {% trans "Interactions Data (.csv)" %}</a>
                		</li>
                        <li><a href=""><i class="fa fa-download" aria-hidden="true"></i> {% trans "Interactions Data (.xls)" %}</a></li>
                	</ul>
                </div>
                <div class="col-md-3">
                </div>
            </div>
            </div>
            <div id="table_div"></div>
        </div>
    </div>
    <div class="row">
        <br><br>
    </div>
{% endblock %}
