{% extends 'base.html' %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center min-vh-100">
  <div class="container">
    <div class="row mb-3">
      <div class="col-4 offset-4">
        <img src="{% static 'img/logo_grande_amadeus.png' %}" alt="Logo" class="img-fluid">
      </div>
    </div>
    <div class="row login-form-card shadow bg-body-tertiary rounded">
      <div id="login-form" class="col-md-6 offset-md-3">
        {% include 'auth/partials/_form_login.html' %}
      </div>
    </div>
  </div>
</div>
{% endblock %}