<!-- 
Copyright 2016, 2017 UFPE - Universidade Federal de Pernambuco
 
Este arquivo é parte do programa Amadeus Sistema de Gestão de Aprendizagem, ou simplesmente Amadeus LMS
 
O Amadeus LMS é um software livre; você pode redistribui-lo e/ou modifica-lo dentro dos termos da Licença Pública Geral GNU como publicada pela Fundação do Software Livre (FSF); na versão 2 da Licença.
 
Este programa é distribuído na esperança que possa ser útil, mas SEM NENHUMA GARANTIA; sem uma garantia implícita de ADEQUAÇÃO a qualquer MERCADO ou APLICAÇÃO EM PARTICULAR. Veja a Licença Pública Geral GNU para maiores detalhes.
 
Você deve ter recebido uma cópia da Licença Pública Geral GNU, sob o título "LICENSE", junto com este programa, se não, escreva para a Fundação do Software Livre (FSF) Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA.
-->

{% load static i18n permission_tags %}
<div class="group  course-card " id="category_{{category.slug}}">
    <div class="panel panel-info">
        <div class="panel-heading course">
          <div class="row">
            <div class="col-xs-6 col-md-6 titleTopic">
              <a role="button" href="#">
                  <h4>{{course.name}}</h4>
              </a>
            </div>
            {% if user|has_role:'professor' or user|has_role:'system_admin' %}
            <div class="col-xs-6 col-md-6 divMoreActions" >
                <div class="btn-group">
                  <button class="btn btn-default btn-sm dropdown-toggle" type="button" id="moreActions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-ellipsis-v fa-2x" aria-hidden="true"></i>
                  </button>
                  <ul class="dropdown-menu pull-right" aria-labelledby="moreActions">
                    <li><a href="#"><i class="fa fa-files-o fa-fw" aria-hidden="true"></i>{% trans 'Replicate' %}</a></li>
                    <li><a href="#"><i class="fa fa-pencil fa-fw" aria-hidden="true"></i>{% trans 'Edit' %}</a></li>
                    <li><a href="#"><i class="fa fa-trash fa-fw" aria-hidden="true"></i>&nbsp;{% trans 'Remove' %}</a></li>
                  </ul>
                </div>
            </div>
            {% elif user|has_role:'student' %}
              {% if not request.user in course.students.all %}
                <a onclick="subscribe($(this), '', {{ course.id}}, '{% trans 'Are you sure you want to subscribe to this course?' %}')">
                  <button class="btn btn-sm btn-primary btn-raised pull-right">{% trans 'Subscribe' %}</button>
                </a>
              {% endif %}
            {% endif %}
          </div>
        </div>
    </div>
</div>