{% load static i18n permission_tags %}

<!-- Modal (remember to change the ids!!!) -->
<div class="modal fade" id="category" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">

        <h4 class="modal-title" id="myModalLabel">{% trans "Delete Category" %}</h4>
      </div>
      <!-- Modal Body -->
      <div class="modal-body">
        <!-- Put ONLY your content here!!!  -->
        <form id="delete_form" action="{% url 'categories:delete' category.slug %}" method="post">
          {% csrf_token %}
          <p>{% trans 'Are you sure you want to delete the category' %} "{{category.name}}"?</p>
        </form>
      </div>
      <!-- Modal Footer -->
      <div class="modal-footer">
        <!-- Don't remove that!!!  -->
        <button type="button" class="btn btn-default btn-raised" data-dismiss="modal">{% trans "Close" %}</button>
        <button type="submit" id="button" form="delete_form" class="btn btn-primary btn-raised">{% trans "Delete" %}</button>
        {% if index %}
        <script>
          $("#delete_form").submit(function(event) {
            RemoveCourse.remove("{% url 'categories:delete' category.slug %}",$(this).serialize(),"#course_{{category.slug}}");
            event.preventDefault();
          });
        </script>
        {% endif %}
      </div>
    </div>
  </div>
</div>