<!-- 
Copyright 2016, 2017 UFPE - Universidade Federal de Pernambuco
 
Este arquivo é parte do programa Amadeus Sistema de Gestão de Aprendizagem, ou simplesmente Amadeus LMS
 
O Amadeus LMS é um software livre; você pode redistribui-lo e/ou modifica-lo dentro dos termos da Licença Pública Geral GNU como publicada pela Fundação do Software Livre (FSF); na versão 2 da Licença.
 
Este programa é distribuído na esperança que possa ser útil, mas SEM NENHUMA GARANTIA; sem uma garantia implícita de ADEQUAÇÃO a qualquer MERCADO ou APLICAÇÃO EM PARTICULAR. Veja a Licença Pública Geral GNU para maiores detalhes.
 
Você deve ter recebido uma cópia da Licença Pública Geral GNU, sob o título "LICENSE", junto com este programa, se não, escreva para a Fundação do Software Livre (FSF) Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA.
-->

{% extends 'base.html' %}

{% load static i18n django_bootstrap_breadcrumbs permission_tags %}

{% block breadcrumbs %}
    {% clear_breadcrumbs %}
    {% breadcrumb 'Home' 'subjects:home' %}
{% endblock %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static "css/multi-select.css" %}">
{% endblock style %}

{% block javascript %}
    {{super.block}}
    <script src="{% static "js/jquery.multi-select.js" %} " type="text/javascript"></script>
    <script type="text/javascript" src="{% static "js/quicksearch.js" %}"></script>
{% endblock javascript %}

{% block render_breadcrumbs %}
    {% render_breadcrumbs %}
{% endblock %}

{% block content %}
    {% if user|has_role:'system_admin' %}
        <h3>{% trans 'categories' %}</h3>
        <div id="timeline">
            {% include page_template %}
        </div>
    {% else %}
        <div id="timeline">
            {% include page_template %}
        </div>
    {% endif %}

    <div id="loading" class="alert alert-primary" role="alert" style="display: none">
        <center>
            <span class="fa fa-spin fa-circle-o-notch"></span>
        </center>
    </div>
{% endblock %}
