{% extends 'categories/home.html' %}

{% load static i18n permission_tags %}
{% load django_bootstrap_breadcrumbs %}

{% block javascript%}
  {{ block.super }}
{% endblock%}

{% block breadcrumbs %}

{{ block.super }}
{% breadcrumb 'categories' 'categories:index' %}
 
{% endblock %}

{% block content %}
{% if messages %}
{% for message in messages %}
  <script type="text/javascript">
    alertify.success('{{message}}');
  </script>
{% endfor %}
{% endif %}

{% if user.is_staff %}
  <a href="{% url 'categories:create' %}"><button id="create-category"> {% trans "Create Category" %}</button></a>
{% endif %}

<!-- Code for listing categories -->
<div class="col-md-12 cards-content">
  {% for category in categories  %}
  <div class="panel-group course-card-group">
    <div class="panel panel-info">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-12 category-header">
            <h4 class="panel-title">
              <a  class="category-course-link" data-toggle="collapse" href="#{{category.slug}}">{{category.name}}</a>
            </h4>

            {% if user.is_staff %}
               <div class="col-xs-6 col-md-6 divMoreActions" >
                <div class="btn-group">
                  <button class="btn btn-default btn-sm dropdown-toggle" type="button" id="moreActions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-ellipsis-v fa-2x" aria-hidden="true"></i>
                   </button>
                  <ul class="dropdown-menu pull-right" aria-labelledby="moreActions">
                    <li><a href="#"><i class="fa fa-files-o fa-fw" aria-hidden="true"></i>{% trans 'Replicate' %}</a></li>
                    <li><a href="#"><i class="fa fa-pencil fa-fw" aria-hidden="true"></i>{% trans 'Edit' %}</a></li>
                    <li><a href="javascript:delete_course.get('{% url 'categories:delete' category.slug %}?view=index','#category','#modal_course')"><i class="fa fa-trash fa-fw" aria-hidden="true"></i>&nbsp;{% trans 'Remove' %}</a></li>
                  </ul>
                </div>
            </div>
              
            {% else %}
               <a href=""><i class="fa fa-list" aria-hidden="true"></i></a>
              <a href=""><i class="fa fa-envelope-o" aria-hidden="true"></i></a>

              <a href=""><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></a>

              <a href=""><i class="fa fa-bar-chart" aria-hidden="true"></i></a>
            {% endif %}
             
            
         
          </div>
        </div>
      </div>
      {% comment %}
        
     
      <div id="{{category.slug}}" class="panel-collapse collapse">
        {% for subject in subjects %}
          {% include "categories/category_card.html" %}
        {% endfor %}
      </div>
       {% endcomment %}
    </div>
  </div>
  {% endfor %}
</div>
<div id="modal_course">

</div>
<script type="text/javascript" src="{% static 'js/course.js' %}"></script>
{% endblock %}
