<!-- 
Copyright 2016, 2017 UFPE - Universidade Federal de Pernambuco
 
Este arquivo é parte do programa Amadeus Sistema de Gestão de Aprendizagem, ou simplesmente Amadeus LMS
 
O Amadeus LMS é um software livre; você pode redistribui-lo e/ou modifica-lo dentro dos termos da Licença Pública Geral GNU como publicada pela Fundação do Software Livre (FSF); na versão 2 da Licença.
 
Este programa é distribuído na esperança que possa ser útil, mas SEM NENHUMA GARANTIA; sem uma garantia implícita de ADEQUAÇÃO a qualquer MERCADO ou APLICAÇÃO EM PARTICULAR. Veja a Licença Pública Geral GNU para maiores detalhes.
 
Você deve ter recebido uma cópia da Licença Pública Geral GNU, sob o título "LICENSE", junto com este programa, se não, escreva para a Fundação do Software Livre (FSF) Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA.
-->

{% load static i18n %}

{% for notification in objects %}
    

    <div class="well timeLine">
  
    <div class="row">
        <div class="col-xs-2 col-md-1">
            <img class="imgTimeLine" src="{{ notification.actor.image_url }}">
        </div>
        <div class="col-xs-10 col-md-11">
            <h4 class="resource_inline"><b>{{ notification.actor.username }}</b></h4>
            <p class="resource_inline">{{notification.message}} {% trans 'at' %} : <a href="#">{{ notification.action_resource.resource.name }}</a></p>
            <p class="timePost"><i> {{ notification.datetime|timesince }} {% trans "ago" %}  </i></p>
        </div>
    </div>
</div>
{% endfor %}

