{% extends 'home.html' %}

{% load static i18n permission_tags %}
{% load widget_tweaks %}

{% block breadcrumbs %}
	<ol class="breadcrumb">
	  	<li><a href="{% url 'app:index' %}">{% trans 'Home' %}</a></li>
	  	<li class="active">{% trans 'Create Category' %}</li>
	</ol>
{% endblock %}

{% block content %}
	<div class="card card-content">
        <div class="card-body">
				<form method="post" action="">{% csrf_token %}
					{% for field in form %}
						<div class="form-group {% if form.has_error %}has-error{% endif %}">
							<label for="{{ field.auto_id }}">{{ field.label }}</label>
							{% render_field field class='form-control input-sm' %}
						</div>
						{% if field.errors%}
							<div class="alert alert-danger alert-dismissible" role="alert">
								<ul>
									{% for error in field.errors %}
										<li>{{ error }}</li>
									{% endfor %}
								</ul>
							</div>
						</div>
						{% endif %}
					{% endfor %}
					<div class="row text-center">
						<button type="submit" class="btn btn-primary btn-raised">{% trans "Save" %}</button>
					</div>
				</form>
			</div>
		</div>
{% endblock %}
