<!-- 
Copyright 2016, 2017 UFPE - Universidade Federal de Pernambuco
 
Este arquivo é parte do programa Amadeus Sistema de Gestão de Aprendizagem, ou simplesmente Amadeus LMS
 
O Amadeus LMS é um software livre; você pode redistribui-lo e/ou modifica-lo dentro dos termos da Licença Pública Geral GNU como publicada pela Fundação do Software Livre (FSF); na versão 2 da Licença.
 
Este programa é distribuído na esperança que possa ser útil, mas SEM NENHUMA GARANTIA; sem uma garantia implícita de ADEQUAÇÃO a qualquer MERCADO ou APLICAÇÃO EM PARTICULAR. Veja a Licença Pública Geral GNU para maiores detalhes.
 
Você deve ter recebido uma cópia da Licença Pública Geral GNU, sob o título "LICENSE", junto com este programa, se não, escreva para a Fundação do Software Livre (FSF) Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA.
-->

{% extends 'base.html' %}

{% load static i18n %}
{% load widget_tweaks %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
  	{{ block.super }}
  	{% trans 'Settings: Mail Sender' as bread %}
    {% breadcrumb bread 'mailsender:update' %}
{% endblock %}

{% block content %}
	<div class="card">
		<div class="card-content">
			<div class="card-body">
				<form method="post" action="" enctype="multipart/form-data">
					{% csrf_token %}
					<legend>{% trans 'General server settings' %}</legend>
					<em>
						{% trans 'If your email host is Gmail make sure to turn on the option "Allow less secure apps" in' %}: 
						<b><a href="https://www.google.com/settings/security/lesssecureapps">https://www.google.com/settings/security/lesssecureapps</a></b>
					</em>
					<br clear="all" />
					<br clear="all" />
					{% for field in form %}
						{% if field.auto_id == 'id_username' %}
							<br clear="all" />
							<legend>{% trans 'Autentication' %}</legend>
						{% elif field.auto_id == 'id_crypto' %}
							<br clear="all" />
							<legend>{% trans 'Criptografy' %}</legend>
						{% endif %}
						<div class="form-group{% if form.has_error %} has-error {% endif %} is-fileinput">
							{% if field.field.required %}
								<label for="{{ field.auto_id }}">{{ field.label }} <span>*</span></label>
							{% else %}
								<label for="{{ field.auto_id }}">{{ field.label }}</label>
							{% endif %}
							{% render_field field class='form-control' %}
							
							<span id="helpBlock" class="help-block">{{ field.help_text }}</span>
							
							{% if field.errors %}
								<div class="alert alert-danger alert-dismissible" role="alert">
				  					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				  						<span aria-hidden="true">&times;</span>
										</button>
									<ul>
										{% for error in field.errors %}
											<li>{{ error }}</li>
										{% endfor %}
									</ul>
								</div>
							{% endif %}
						</div>
					{% endfor %}
					<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
						<div class="text-center">
							<input type="submit" value="{% trans 'Save' %}" class="btn btn-raised btn-success" />
						</div>
					</div>
				</form>
			</div>
		</div>
  	</div>
  	<br clear="all" />
    <br clear="all" />
{% endblock %}
