{% load static widget_tweaks i18n %}

<!-- MODAL DELETE LINK -->
<link rel="stylesheet" type="text/css" href="{% static 'css/link.css' %}">

<div class="erro-update">
    <div class="modal fade" id="linkDeleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteLinkLabel" style="z-index: 10">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="deleteLinkLabel">{% trans 'Delete Link' %}</h4>
                </div>
                <div class="modal-body">
                <!-- Card -->
                    <form class="form-horizontal" method="post" id="form-delete-link" enctype="multipart/form-data">
                    {% csrf_token %}
                        <fieldset>
                            <div class="col-md-12">
                                {% trans "Are you sure to delete the link " %} <strong>"{{ link.name }}"</strong> </a> of {{ link.topic.name }}?
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                     <button type="button" class="btn btn-default btn-raised" data-dismiss="modal">{% trans "Close" %}</button>
                                    <button class="btn btn-raised btn-primary" type="submit">{% trans 'Delete' %}</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                <!-- .end Card -->
              </div>
            </div>
        </div>
    </div>
</div>

{% block script_link %}

    {# // <script src="{% static 'js/link.js' %}"></script> #}
    <script type="text/javascript">
      $("#form-delete-link").submit(function(event) {
            var data = new FormData($('#form-delete-link').get(0));
            $('#linkDeleteModal').modal('hide');
            $('body').removeClass('modal-open');
            $("div.modal-backdrop.fade.in").remove();
            $.ajax({
                url: "{% url 'course:links:delete_link' link.slug %}",
                type: $("#form-delete-link").attr('method'),
                data: data,
                cache: false,
                processData: false,
                contentType: false,
                success: function(data) {
                    $('#requisicoes_ajax').empty();
                    $('#link_{{ link.slug }}').remove();
                    $('#link_edit_icon_{{ link.slug }}').remove();
                    $('#link_edit_{{ link.slug }}').remove();
                    alertify.success(" {% trans 'Link successfully deleted!' %} ");
                },
                error: function(data){
                    $('#requisicoes_ajax').empty();
                    $('#requisicoes_ajax').append(data.responseText);
                    $('#linkDeleteModal').modal('show');
                    alertify.error(" {% trans 'Error when trying to delete.' %} ");
                }
            });
            event.preventDefault();
          });
  </script>
{% endblock script_link %}
<!-- EndModal -->
