<!-- MODAL LINK EDIT-->
<div class="modal fade" id="linksModalEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title" id="myModalLabel">Links</h4>
      </div>
      <div class="modal-body">
        <!-- Card -->
        <div class="form-group">
          <label class="control-label" for="inputDefault">Name</label>
          <input value="Python" type="text" class="form-control" id="inputDefault">
        </div>
        <div class="form-group">
          <label class="control-label" for="inputDefault">Url</label>
          <input value="https://www.python.org/" type="text" class="form-control" id="inputDefault">
        </div>
        <div class="form-group is-empty">
          <label class="control-label" for="inputDefault">Descrição</label>
          <textarea class="form-control" rows="3"></textarea>
        </div>
        <div class="form-group">
          <a href="javascript:void(0)" class="btn btn-raised btn-default">Cancel</a>
          <a href="javascript:void(0)" class="btn btn-raised btn-primary">Submit</a>
      </div>
        <!-- .end Card -->
      </div>
    </div>
  </div>
</div>
<!-- EndModal -->
