{% load static i18n list_topic_foruns permission_tags %}
<!--MODAL VIEW LINK-->
<div class="modal fade" id="viewLinkModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title" id="myModalLabel">{% trans 'Link' %}</h4>
      </div>
      <div class="modal-body">
        <!-- Card -->
        <article class="card animated fadeInLeft">
          <img class="card-img-top img-responsive" src="{{ link.image.url}}" width="200" height="200"  align="left">
           <div class="card-block">
              <b class="card-title">{{link.name}}</b><p></p>
              <p class="card-text"> </p><p>{{link.link_description}}</p>
              <a href="{{ link.link_url }}" class="btn btn-raised btn-primary" target="_blank">{% trans 'Read more' %}</a>
           </div>
        </article>
        <!-- .end Card -->
      </div>
    </div>
  </div>
</div>
<!-- EndModal -->
<script type="text/javascript">
// $('.modal-backdrop').remove();
</script>
