{% load i18n permission_tags list_post_answer %}

{% if posts|length > 0 %}
    {% for post in posts %}
        <div  class="row">
            <div id="post_{{ post.id }}" class="col-sm-12 col-xs-12">
                <h3 class="user-name">
                    {{ post.user }}
                    <div class="pull-right">
                        <a href="javascript:answer('{{ post.id }}', '{% url 'forum:reply_post' %}');">
                            <i class="material-icons">reply</i>
                        </a>
                        {% if request.user|has_role:'system_admin' or request.user|has_role:'professor' and request.user == post.user %}
                            <div class="btn-group icon-more-horiz">
                                <a class="btn btn-default btn-xs dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_horiz</i>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <li><a href="javascript:void(0)"><i class="material-icons">create</i> {% trans 'Edit' %}</a></li>
                                    <li><a href="javascript:void(0)"><i class="material-icons">delete_sweep</i> {% trans 'Remove' %}</a></li>
                                </ul>
                            </div>
                        {% endif %}
                    </div>
                </h3>
                <div class="card-data">
                    <p class="comment-date"><i class="fa fa-clock-o"></i> {{ post.post_date }}</p>
                </div>
                <p class="comment-text">{{ post.message|linebreaks }}</p>
                <div class="answer_post"></div>
            </div>
        </div>
        {% list_post_answer request post %}
    {% endfor %}
{% endif %}
            <!--<li>
                <a class="post_collapse" role="button" href="javascript: showPostsAnswers('{% url 'forum:post_answers' %}', '{{ post.id }}')" aria-expanded="false">
                    <div class="timeline-panel">
                        <div class="row">
                            <div class="col-xs-2 col-sm-2 col-md-2">
                                <img class="img-responsive img-rounded" src="{{ post.user.image_url }}" />
                            </div>
                            <div class="col-xs-10 col-sm-10 col-md-10">
                                <div class="timeline-heading">
                                    <h3> {{ post.user }}</h3>
                                </div>
                                <div class="timeline-body">
                                    <p><em>{{ post.message|linebreaks }}</em></p>
                                </div>
                                <hr>
                                <small class="text-muted">
                                    <span class="pull-right">
                                        <i class="glyphicon glyphicon-time"></i> {{ post.post_date|timesince }} 
                                        {% trans ' ago' %}
                                    </span>
                                </small>
                            </div>
                        </div>
                    </div>
                </a>
                <div class="collapse" id="collapse{{ post.id }}" style="margin-top:10px;">
                    <div class="well">
                    </div>
                </div>
            </li>-->