{% load i18n permission_tags list_post_answer %}

{% if posts|length > 0 %}
    {% for post in posts %}
        <div  class="row">
            <div id="post_{{ post.id }}" class="col-sm-12 col-xs-12">
                <h3 class="user-name">
                    {{ post.user }}
                    <div class="pull-right">
                        <a href="javascript:answer('{{ post.id }}', '{% url 'course:forum:reply_post' %}');">
                            <i class="material-icons">reply</i>
                        </a>
                        {% if request.user|has_role:'system_admin' or request.user == post.user %}
                            {% csrf_token %}
                            <div class="btn-group icon-more-horiz">
                                <a class="btn btn-default btn-xs dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_horiz</i>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <li><a href="javascript:edit_post('{% url 'course:forum:update_post' post.id %}', '{{ post.id }}')"><i class="material-icons">create</i> {% trans 'Edit' %}</a></li>
                                    <li><a href="javascript:javascript:delete_post('{% url 'course:forum:delete_post' post.id %}', '{{ post.id }}')"><i class="material-icons">delete_sweep</i> {% trans 'Remove' %}</a></li>
                                </ul>
                            </div>
                        {% endif %}
                    </div>
                </h3>
                <div class="post_content">
                    <div class="card-data">
                        <p class="comment-date">
                            <i class="fa fa-clock-o"></i> {{ post.post_date }}
                            {% if post.is_modified %}
                                <em> - {% trans 'Edited' %}</em>
                            {% endif %}
                        </p>
                    </div>
                    <p class="comment-text">{{ post.message|linebreaks }}</p>
                </div>
                <div class="answer_post"></div>
                <div class="answer_list">
                    {% list_post_answer request post %}
                </div>
            </div>
        </div>
    {% endfor %}
{% endif %}