<!DOCTYPE html>

<!-- 
Copyright 2016, 2017 UFPE - Universidade Federal de Pernambuco
 
Este arquivo é parte do programa Amadeus Sistema de Gestão de Aprendizagem, ou simplesmente Amadeus LMS
 
O Amadeus LMS é um software livre; você pode redistribui-lo e/ou modifica-lo dentro dos termos da Licença Pública Geral GNU como publicada pela Fundação do Software Livre (FSF); na versão 2 da Licença.
 
Este programa é distribuído na esperança que possa ser útil, mas SEM NENHUMA GARANTIA; sem uma garantia implícita de ADEQUAÇÃO a qualquer MERCADO ou APLICAÇÃO EM PARTICULAR. Veja a Licença Pública Geral GNU para maiores detalhes.
 
Você deve ter recebido uma cópia da Licença Pública Geral GNU, sob o título "LICENSE", junto com este programa, se não, escreva para a Fundação do Software Livre (FSF) Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA.
-->

{% load static i18n permissions_tags subject_counter alternatives_filter %}

<html>
<head>
	<title>{{ title }} | {{ theme.title }}</title>
	
	<!-- Mathjax -->
    <script>
        MathJax = {
            tex: {
                inlineMath: [['$', '$'], ['\\(', '\\)']]
            }
        };
    </script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

	<script type="text/javascript" src="{% static 'js/jquery-3.1.0.min.js' %}"></script>

	<meta http-equiv="Cache-Control" content="no-cache, no-store" />
	<link href="{{ theme.favicon_url }}" rel="shortcut icon" />

    <link rel="stylesheet" type="text/css" href="{% static 'font-awesome-4.6.3/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap-3.3.7/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/alertifyjs/alertify.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/alertifyjs/themes/bootstrap.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'css/base/amadeus.css' %}">

    <script type="text/javascript" src="{% static 'bootstrap-3.3.7/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/alertify.min.js' %}"></script>

	<style type="text/css">
		body {
			padding: 0;
			margin: 0;
		}
	</style>
</head>
<body>
	{% resource_permissions request.user questionary as has_resource_permissions %}
	{% subject_permissions request.user questionary.topic.subject as has_subject_permissions %}

    {% if has_subject_permissions %}
        <form id="student_quest" action="" method="POST">
            {% csrf_token %}
            <select name="selected_student" onchange="$('#student_quest').submit();">
                {% for stu in sub_students %}
                    <option value="{{ stu.email }}" {% if stu.email == student %}selected{% endif %}>{{ stu }}</option>
                {% endfor %}
            </select>
        </form>
        <br clear="all" />
    {% endif %}

    {{ questionary.presentation|safe }}

    <br clear="all" />

    <span><b>{% trans "Init date" %}:</b> {{ questionary.data_ini|date:'SHORT_DATETIME_FORMAT' }}</span>
    <span style="margin-left: 10px;"><b>{% trans "End date" %}:</b> {{ questionary.data_end|date:'SHORT_DATETIME_FORMAT' }}</span>

    <hr class="goal_divider" />

    <div class="questionary">
        {% if userquest  %}
            <div class="header_info">
                <div class="row">
                    <div class="col-md-6">
                        {% trans 'Initialized in' %}: {{ userquest.data_ini|date:'SHORT_DATETIME_FORMAT' }}
                    </div>
                    <div class="col-md-6">
                        {% trans 'Last update' %}: <span class="last_update">{{ userquest.last_update|date:'SHORT_DATETIME_FORMAT' }}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {% trans 'Questions answered' %}: <span class="q_answered">{{ useranswered }}</span> {% trans 'of' %} {{ userquestions|length }}
                    </div>
                    {% if questionary.data_end|view_results:has_subject_permissions %}
                        <div class="col-md-6">
                            {% trans 'Corrected questions' %}: {{ usercorrect }} {% trans 'of' %} {{ userquestions|length }}
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="questions">
                {% for question in userquestions %}
                    <div class="question">
                        <h4><b>{% trans 'Question' %} {{ question.order }}</b></h4>

                        {{ question.question.enunciado|safe }}

                        {% if question.question.question_img %}
                            <img src="{{ question.question.question_img.url }}" class="img-responsive center-block" />
                        {% endif %}
                        
                        <div class="alternatives" data-question="{{ question.id }}">
                            {% with question.question.alt_question.all|shuffle as alternatives %}
                                {% for alt in alternatives %}
                                    <div>
                                        <div style="width: 20px; display: inline-block">
                                            {% if questionary.data_end|view_results:has_subject_permissions %}
                                                <i class="fa {{ alt|veredict:question.answer }}"></i>
                                            {% endif %}
                                        </div>
                                        <div class="radio" style="display: inline-block">
                                            <label>
                                                <input type="radio" name="q{{ question.order }}" value="{{ alt.id }}" {{ alt.id|is_answer:question.answer }} {{ questionary.data_end|disabled:has_subject_permissions }}>
                                                {{ alt.content|safe }}

                                                {% if alt.alt_img %}
                                                    <img src="{{ alt.alt_img.url }}" class="img-responsive center-block" />
                                                {% endif %}
                                            </label>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endwith %}
                        </div>

                        <hr />
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p class="text-center"><i class="fa fa-question-circle"></i> {% trans "The student did not start the questionary yet." %}</p>
        {% endif %}
    </div>

	<script type="text/javascript">
		$(function () {
			$('input[type="radio"]').on('change', function () {
				var $radio = $(this),
					question = $radio.parent().parent().parent().parent().data('question');
				
				$.ajax({
            		method: 'POST',
            		url: '{% url "questionary:answer" %}',
            		data: {'csrfmiddlewaretoken': '{{ csrf_token }}', 'question': question, 'answer': $radio.val()},
            		success: function (data) {
						var last_update = data.last_update,
							answered = data.answered;

						$(".last_update").text(last_update);
						$(".q_answered").text(answered);
            		},
					error: function (data) {
						alertify.alert('{% trans "Something went wrong. Please try again later" %}');
					}
        		});
			});
		});
	</script>
</body>
</html>
