{% extends 'app/base.html' %}

{% load static i18n permission_tags %}

{% block breadcrumbs %}
	<ol class="breadcrumb">
	  	<li><a href="{% url 'app:index' %}">{% trans 'Home' %}</a></li>
	  	<li><a href="{% url 'app:course:view' subscribers.0.course.slug %}">{{ subscribers.0.course }}</a></li>
	  	<li class="active">{% trans 'Participants' %}</li>
	</ol>
{% endblock %}

{% block sidebar %}
	<div class="list-group">
	  	<a href="{% url 'app:course:manage' %}" class="list-group-item">
	    	{% trans 'Courses' %}
	  	</a>
	  	<a href="{% url 'app:course:view' subscribers.0.course.slug %}" class="list-group-item">
	    	{% trans 'Course Info' %}
	  	</a>
	  	<a href="{% url 'app:course:manage_mods' subscribers.0.course.slug %}" class="list-group-item">
	    	{% trans 'Manage Modules' %}
	  	</a>
  	  	<a href="{% url 'app:course:create' %}" class="list-group-item">
	    	{% trans 'Create Course' %}
	  	</a>
	  	<a href="{% url 'app:course:update' subscribers.0.course.slug %}" class="list-group-item">
	    	{% trans 'Edit Course' %}
	  	</a>
	  	<a href="{% url 'app:subscription:participants' subscribers.0.course.slug %}" class="list-group-item active">
	    	{% trans 'Participants' %}
	  	</a>
		<a href="" class="list-group-item">
	    	{% trans 'Course avaliations' %}
	  	</a>
		<a href="" class="list-group-item">
	    	{% trans 'Duplicate Course' %}
	  	</a>
	  	<a href="{% url 'app:course:delete' subscribers.0.course.slug %}" class="list-group-item">
	    	{% trans 'Delete Course' %}
	  	</a>
	</div>
{% endblock %}

{% block content %}
	{% if messages %}
		{% for message in messages %}
			<div class="alert alert-success alert-dismissible" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<p>{{ message }}</p>
			</div>
		{% endfor %}
	{% endif %}

	<ul class="list-group">
		{% if subscribers|length > 0 %}
			{% for subscriber in subscribers %}
				<li class="list-group-item">
					<div class="media">
						<div class="col-sm-3">
							<img class="media-object img-responsive" src="{{ subscriber.user.image.url }}" alt="Image">
						</div>
						<div class="col-sm-6">
							<div class="media-body">
								<h4 class="media-heading">{{ subscriber.user }}</h4>
								<p><small>{{ subscriber.user.email }}</small></p>
							</div>
						</div>
						<div class="col-sm-3" style="padding-top: 10px">
							{% if user.type_profile %}
	        					<span class="label label-info">{{ subscriber.user.get_type_profile_display }}</span>
	        				{% else %}
	        					<span class="label label-info">{% trans 'Administrator' %}</span>
	        				{% endif %}
	        				<br />
	        				<a href="{% url 'app:users:view' subscriber.user.username %}" class="btn btn-sm btn-info" style="margin-top: 10px">
								<span class="glyphicon glyphicon-eye-open"></span>
							</a>
							{% if user|has_role:'system_admin' %}
			        			<a href="{% url 'app:users:update' subscriber.user.username %}" class="btn btn-sm btn-primary" style="margin-top: 10px">
									<span class="glyphicon glyphicon-edit"></span>
								</a>
								<a href="" class="btn btn-sm btn-danger" style="margin-top: 10px">
									<span class="glyphicon glyphicon-trash"></span>
								</a>
							{% endif %}
		        		</div>
					</div>
	    		</li>
			{% endfor %}
		{% else %}
			<li class="list-group-item">
				<p>{% trans 'No users found' %}</p>
			</li>
		{% endif %}
	</ul>
{% endblock %}