{% extends 'base.html' %}

{% load static i18n %}

{% block menu_top %}
	<ul class="nav navbar-nav">
		<li class="active">
			<a href="#">Home</a>
		</li>
		<li><a href="#contact">{% trans 'The Project' %}</a></li>
		<li><a href="#contact">{% trans 'CCTE Group' %}</a></li>
		<li class="divider-vertical"></li>
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans 'Hi' %}, {{ user }} <span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="{% url 'app:users:profile' %}">{% trans 'See Profile' %}</a></li>
				<li><a href="#">{% trans 'Settings' %}</a></li>
				<li><a href="{% url 'logout' %}">{% trans 'Logout' %}</a></li>
			</ul>
		</li>
	</ul>
{% endblock %}