{% extends 'app/base.html' %}

{% load static i18n permission_tags %}

{% block sidebar %}
	<h4>{% trans 'You have:' %} </h4>
	<div class="list-group">
	  	<a href="{% url 'app:tarefas' %}" class="list-group-item">
	  		<span class="badge">4</span>
	    	{% trans 'Pending Tasks' %}
	  	</a>
	  	<a href="{% url 'app:online' %}" class="list-group-item">
	  		<span class="badge">0</span>
	    	{% trans 'Users Online' %}
	  	</a>
	</div>

	<hr />

	<h4>{% trans 'You can:' %} </h4>
	<div class="list-group">
		{% if user|has_role:'professor' %}
			<a href="{% url 'app:course:create' %}" class="list-group-item">
				{% trans 'Create Course' %}
			</a>
		{% endif %}
		{% if user|has_role:'professor' %}
			<a href="{% url 'app:users:manage' %}" class="list-group-item">
				{% trans 'Manage Users' %}
			</a>
		{% endif %}
		<a href="{% url 'app:course:manage' %}" class="list-group-item">
			{% trans 'Manage Courses' %}
		</a>
		{% if user|has_role:'professor' %}
			<a href="{% url 'app:course:manage_cat' %}" class="list-group-item">
				{% trans 'Gerenciar Categorias' %}
			</a>
		{% endif %}
	</div>

	<hr />

	{% if user|has_role:'student' %}
		<h4>{% trans 'Your course(s):' %}</h4>
		{% if subscribed_courses|length > 0 %}
			<div class="list-group">
				{% for subscribed in subscribed_courses %}
					<a href="{% url 'app:course:view' subscribed.course.slug %}" class="list-group-item">
						{{ subscribed.course }}
					</a>
				{% endfor %}
			</div>
			<a href="{% url 'app:subscription:subscribed' %}" class="pull-right">{% trans 'See all' %}</a>
		{% else %}
			<p>{% trans 'No courses subscribed yet' %}</p>
		{% endif %}
	{% endif %}
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-sm-12">
			<form class="form-horizontal" method="post">
				<div class="col-sm-10">
					<div class="form-group">
						<label for="search_keyword" class="control-label col-sm-3">{% trans 'Search course:' %} </label>
						<div class="col-sm-9">
							<input type="text" class="form-control input-sm" id="search_keyword" />
						</div>
					</div>
				</div>
				<button type="submit" class="btn btn-sm btn-success">{% trans 'Search' %}</button>
			</form>

			<hr />

			<h5>{% trans 'Most popular keywords:' %}</h5>
			<div class="well">
				<center>
					<ul class="cloud">
					    <li>
					    	<a href="">
					    		teste amadeus prospb
				    		</a>
			    		</li>
			    		<li>
					    	<a href="">
					    		programação fácil
				    		</a>
			    		</li>
			    		<li>
					    	<a href="">
					    		intermediário
				    		</a>
			    		</li>
			    		<li>
					    	<a href="">
					    		amadeus
				    		</a>
			    		</li>
			    		<li>
					    	<a href="">
					    		palavra02
				    		</a>
			    		</li>
			    		<li>
					    	<a href="">
					    		programação para iniciantes
				    		</a>
			    		</li>
			    		<li>
					    	<a href="">
					    		django
				    		</a>
			    		</li>
			    		<li>
					    	<a href="">
					    		aluno teste
				    		</a>
			    		</li>
			    		<li>
					    	<a href="">
					    		curso0101
				    		</a>
			    		</li>
			    		<li>
					    	<a href="">
					    		kjsdnksa
				    		</a>
			    		</li>
			    		<li>
					    	<a href="">
					    		palavra01
				    		</a>
			    		</li>
			    		<li>
					    	<a href="">
					    		programming
				    		</a>
			    		</li>
			    		<li>
					    	<a href="">
					    		python
				    		</a>
			    		</li>
			    		<li>
					    	<a href="">
					    		curso
				    		</a>
			    		</li>
			    		<li>
					    	<a href="">
					    		mvc
				    		</a>
			    		</li>
			    		<li>
					    	<a href="">
					    		programação web
				    		</a>
			    		</li>
			    		<li>
					    	<a href="">
					    		ionic
				    		</a>
			    		</li>
			    		<li>
					    	<a href="">
					    		framework
				    		</a>
			    		</li>
			    		<li>
					    	<a href="">
					    		web
				    		</a>
			    		</li>
			    		<li>
					    	<a href="">
					    		android
				    		</a>
			    		</li>
			    		<li>
					    	<a href="">
					    		programação
				    		</a>
			    		</li>
					</ul>
				</center>
			</div>
		</div>
	</div>
{% endblock %}