<!DOCTYPE html>

<!-- 
Copyright 2016, 2017 UFPE - Universidade Federal de Pernambuco
 
Este arquivo é parte do programa Amadeus Sistema de Gestão de Aprendizagem, ou simplesmente Amadeus LMS
 
O Amadeus LMS é um software livre; você pode redistribui-lo e/ou modifica-lo dentro dos termos da Licença Pública Geral GNU como publicada pela Fundação do Software Livre (FSF); na versão 2 da Licença.
 
Este programa é distribuído na esperança que possa ser útil, mas SEM NENHUMA GARANTIA; sem uma garantia implícita de ADEQUAÇÃO a qualquer MERCADO ou APLICAÇÃO EM PARTICULAR. Veja a Licença Pública Geral GNU para maiores detalhes.
 
Você deve ter recebido uma cópia da Licença Pública Geral GNU, sob o título "LICENSE", junto com este programa, se não, escreva para a Fundação do Software Livre (FSF) Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA.
-->

{% load static i18n permissions_tags subject_counter alternatives_filter %}

<html>

<head>
    <title>{{ title }} | {{ theme.title }}</title>

    <!-- Mathjax -->
    <script>
        MathJax = {
            tex: {
                inlineMath: [['$', '$'], ['\\(', '\\)']]
            }
        };
    </script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

    <script type="text/javascript" src="{% static 'js/jquery-3.1.0.min.js' %}"></script>

    <meta http-equiv="Cache-Control" content="no-cache, no-store" />
    <link href="{{ theme.favicon_url }}" rel="shortcut icon" />

    <link rel="stylesheet" type="text/css" href="{% static 'font-awesome-4.6.3/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap-3.3.7/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/alertifyjs/alertify.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/alertifyjs/themes/bootstrap.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'css/base/amadeus.css' %}">

    <script type="text/javascript" src="{% static 'bootstrap-3.3.7/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/alertify.min.js' %}"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <style type="text/css" media="all">
        {% for style in data.assets.css %}
            @import url("{% static style %}");
        {% endfor %}
    
        {% for style in data.filesAssets.css %}
            @import url("{{ style }}");
        {% endfor %}
    </style>

    <style type="text/css">
        body {
            padding: 0;
            margin: 0;
        }
    </style>

    {% for script in data.assets.js %}
        <script type="text/javascript" src="{% static script %}"></script>
    {% endfor %}
    {% for script in data.filesAssets.js %}
        <script type="text/javascript" src="{{ script }}"></script>
    {% endfor %}
    <script type="text/javascript">
        H5PIntegration = {% autoescape off %} { { data.integration } } {% endautoescape %}
    </script>
</head>

<body>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <p>{{ message }}</p>
            </div>
        {% endfor %}
    {% endif %}

    {% resource_permissions request.user h5p as has_resource_permissions %}
    {% subject_permissions request.user h5p.topic.subject as has_subject_permissions %}

    <input type="hidden" id="log_url" value="{% url 'h5p:start' h5p.slug %}" />
    
    {% if has_subject_permissions %}
        <div id="core-subjects-options-div" {% if studentView %}style="display:none" {% endif %}>
            <ul class="core-subjects-options mural-tabs">
                <a onclick="ShowTab($(this), '.activity_panel')" style="cursor: pointer">
                    <li class="active">{% trans "Activity" %}</li>
                </a>
                <a onclick="ShowTab($(this), '.all_students')" data-url="{% url 'h5p:results' h5p.slug %}"
                    style="cursor: pointer">
                    <li>{% trans "Class Results" %}</li>
                </a>
            </ul>
        </div>
    {% endif %}
    
    <div class="result_tab activity_panel">
        {% autoescape off %}
            {{ h5p_html }}
        {% endautoescape %}
    </div>
    
    <div class="result_tab all_students" style="display:none"></div>

    <script type="text/javascript">
        $(function () {
            let startedContent = false;

            $('#h5p').css({ width: $("#{{subject.slug}}").innerWidth() - 10 + 'px', height: ($(window).innerHeight() - $("#{{subject.slug}}").offset().top) + 'px' });

            // If you want to keep full screen on window resize
            $(window).resize(function () {
                $('#h5p').css({ width: $("#{{subject.slug}}").innerWidth() - 10 + 'px', height: ($(window).innerHeight() - $("#{{subject.slug}}").offset().top) + 'px' });
            });

            H5P.externalDispatcher.on('xAPI', function (event) {
                if (event.getVerb(false) === "interacted" && !startedContent) {
                    const logUrl = $("#log_url").val();

                    $.ajax({
                        method: "GET",
                        url: logUrl,
                        success: function (response) {
                            if (response.registered) {
                                startedContent = true;
                            }
                        }
                    });
                }
            });
        });

        function ShowTab($btn, target) {
            $btn.parent().find('li').removeClass('active');
            $('.result_tab').hide();

            let url = $btn.data('url');

            if (typeof (url) !== 'undefined') {
                if ($(target).html() === '') {
                    $.ajax({
                        method: 'GET',
                        url: url,
                        success: function (response) {
                            $(target).html(response.result)
                        },
                        error: function (data) {
                            alertify.alert('{% trans "Something went wrong. Please try again later" %}');
                        }
                    })
                }
            }

            $btn.find('li').addClass('active');
            $(target).show();
        }
    </script>
</body>
</html>