{% extends 'home_professor.html' %}

{% load static i18n permission_tags %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}

  {{ block.super }}
  {% breadcrumb 'Courses' 'course:manage' %}

{% endblock %}

{% block sidebar %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4>Menu</h4>
        </div>
        <div class="panel-body">
            <ul class="nav nav-pills nav-stacked">
                <li><a href="{% url 'app:index' %}">{% trans 'Home' %}</a></li>
                <li><a href="{% url 'users:profile' %}">{% trans 'Profile' %}</a></li>
                {% if user|has_role:'student' or not user.is_staff %}
                    <li><a href="{% url 'course:manage' %}">{% trans 'My courses' %}</a></li>
                    <li><a href="{% url 'core:guest' %}">{% trans 'All Courses' %}</a></li>
                {% endif %}
                {% if user|has_role:'system_admin' %}
                    <li> <a href="{% url 'users:manage' %}">{% trans 'Manage Users' %}</a></li>
                {% endif %}
                {% if user|has_role:'system_admin' or user|has_role:'professor' %}
                    <li>
                        <a href="#courses_list" class="accordion" data-toggle="collapse">{% trans 'Manage Courses' %}</a>
                        <div id="courses_list" class="collapse">
                            <ul class="nav nav-pill nav-stacked accordion_list">
                            {% for course in courses_list %}
                                <li><a href="{% url 'course:view' course.slug %}">{{ course }}</a></li>
                            {% endfor %}
                            </ul>
                        </div>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>

    	{% if user|has_role:'professor' or user|has_role:'system_admin' %}

		<div class="panel panel-primary">
		    <div class="panel-heading">
		        <h3 class="panel-title">Category</h3>
		    </div>
		    <div class="panel-body">
		        <ul class="nav nav-pills nav-stacked">
		            <li><a href="{% url 'course:create_cat' %}">Create Category</a></li>
		            <li><a href="{% url 'course:manage_cat' %}">List Category</a></li>
		        </ul>
		    </div>
		</div>
	{% endif %}
{% endblock %}

{% block content %}
	{% if messages %}
		{% for message in messages %}
			<div class="alert alert-success alert-dismissible" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<p>{{ message }}</p>
			</div>
		{% endfor %}
	{% endif %}

<div class="col-md-12 cards-content">
	<form id="searchform" action="{% url 'course:manage' %}" method="get" accept-charset="utf-8">
		<div class="input-group">
		  <div class="form-group is-empty">
		  <input type="search" class="form-control" placeholder="Search Courses" name="q" id="searchbox"></div>
		    <span class="input-group-btn input-group-sm">
		      <button type="button" class="btn btn-fab btn-fab-mini">
		        <i class="material-icons">search</i>
		      </button>
		    </span>
		</div>
	</form>
</div>


</fieldset>
	<div class="col-md-12 cards-content">
		{% if courses|length > 0 %}
			{% if request.GET.category == 'all' or none or request.GET.category == '' %}
				{% for course in list_courses %}
		          	{% include "course/course_card.html" %}
				{% endfor %}
			{% else %}
				{% for course in courses_category %}
    				{% if course.category.name == request.GET.category %}
    					<!-- Put your content here! -->
    					{% include "course/course_card.html" %}
    				{% endif %}
				{% endfor %}
			{% endif %}
		{% else %}
			{% trans 'No courses found' %}
		{% endif %}
	</div>

	<script type="text/javascript" src="{% static 'js/course.js' %}"></script>
{% endblock %}
