{% extends 'home.html' %}

{% load static i18n permission_tags %}
{% load django_bootstrap_breadcrumbs %}

{% block javascript%}
  {{ block.super }}
{% endblock%}

{% block breadcrumbs %}

{{ block.super }}
{% breadcrumb 'Courses' 'course:manage' %}
  {% if search %}
    {% breadcrumb search 'course:manage' %}
  {% endif %}
{% endblock %}

{% block content %}
{% if messages %}
{% for message in messages %}
  <script type="text/javascript">
    alertify.success('{{message}}');
  </script>
{% endfor %}
{% endif %}

<div class="col-md-12 cards-content">
  <form id="searchform" method="get" accept-charset="utf-8">
    <div class="input-group">
      <div class="form-group is-empty">
        <input type="text" class="form-control" placeholder="{% trans 'Search for Courses' %}" name="q">
      </div>
      <span class="input-group-btn input-group-sm">
        <button type="submit" class="btn btn-fab btn-fab-mini">
          <i class="fa fa-search" aria-hidden="true"></i>
        </button>
      </span>
    </div>
  </form>
</div>
<div class="col-md-12 cards-content">
  {% for category in categorys_courses  %}
  <div class="panel-group course-card-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-12">
            <h4 class="panel-title">
              <a  class="category-course-link" data-toggle="collapse" href="#{{category.slug}}">{{category.name}}</a>
            </h4>
          </div>
        </div>
      </div>
      <div id="{{category.slug}}" class="panel-collapse collapse">
        {% for course in category.course_category %}
          {% include "course/course_card.html" %}
        {% endfor %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>
<div id="modal_course">

</div>
<script type="text/javascript" src="{% static 'js/course.js' %}"></script>
{% endblock %}
