{% extends 'course/view.html' %}

{% load static i18n %}
{% load widget_tweaks %}

{% block breadcrumbs %}
<ol class="breadcrumb">
	<li><a href="{% url 'app:index' %}">{% trans 'Home' %}</a></li>
	<li class="active">{% trans 'Replicate Course' %}</li>
</ol>
{% endblock %}

{% block content %}
<div class="card card-content">
	<div class="card-body">
		<form method="post" action="" enctype="multipart/form-data">{% csrf_token %}
			<div class="form-group  is-fileinput">
				<label for="id_name">{% trans 'Name' %}</label>


				<input class="form-control" id="id_name" maxlength="100" name="name" type="text" required="" value="{{course.name}}">

				<span class="help-block">{% trans 'Course name' %}</span>

			</div>

			<div class="form-group  is-fileinput">
				<label for="id_objectivies">{% trans 'Objectives' %}</label>

				<textarea class="form-control" cols="80" id="id_objectivies" name="objectivies" rows="5">{{course.objectivies}}</textarea>

				<span class="help-block">{% trans 'Course objective' %}</span>

			</div>

			<div class="form-group  is-fileinput">
				<label for="id_content">{% trans 'Content' %}</label>


				<textarea class="form-control" cols="80" id="id_content" name="content" rows="5">{{course.content}}</textarea>

				<span class="help-block">{% trans 'Course modules' %}</span>

			</div>

			<div class="form-group  is-fileinput">
				<label for="id_max_students">{% trans 'Number of studets maximum' %}</label>


				<input class="form-control" id="id_max_students" min="0" name="max_students" type="number" value="{{course.max_students}}">

				<span class="help-block">{% trans 'Max number of students that a class can have' %}</span>

			</div>

			<div class="form-group  is-fileinput">
				<label for="id_init_register_date">{% trans 'Course registration start date' %}</label>


				<input type="text" class="form-control date-picker" name="init_register_date" value="{{field.value|date:'SHORT_DATE_FORMAT'}}" min="{{now|date:'SHORT_DATE_FORMAT'}}">

				<span class="help-block">{% trans 'Date that starts the registration period of the course (dd/mm/yyyy)' %}</span>

			</div>

			<div class="form-group  is-fileinput">
				<label for="id_end_register_date">{% trans 'Course registration end date' %}</label>


				<input type="text" class="form-control date-picker" name="end_register_date" value="{{field.value|date:'SHORT_DATE_FORMAT'}}" min="{{now|date:'SHORT_DATE_FORMAT'}}">

				<span class="help-block">{% trans 'Date that ends the registration period of the course (dd/mm/yyyy)' %}</span>

			</div>

			<div class="form-group  is-fileinput">
				<label for="id_init_date">{% trans 'Course start date' %}</label>


				<input type="text" class="form-control date-picker" name="init_date" value="{{field.value|date:'SHORT_DATE_FORMAT'}}" min="{{now|date:'SHORT_DATE_FORMAT'}}">

				<span class="help-block">{% trans 'Date that the course starts (dd/mm/yyyy)' %}</span>

			</div>

			<div class="form-group  is-fileinput">
				<label for="id_end_date">{% trans 'Course end date' %}</label>


				<input type="text" class="form-control date-picker" name="end_date" value="{{field.value|date:'SHORT_DATE_FORMAT'}}" min="{{now|date:'SHORT_DATE_FORMAT'}}">

				<span class="help-block">{% trans 'Date that the course ends (dd/mm/yyyy)' %}</span>

			</div>

			<div class="form-group  is-fileinput">
				<label for="id_image">{% trans 'Imagem' %}</label>


				<input class="form-control" id="id_image" name="image" type="file">
				<div class="input-group">
					<input type="text" readonly="" class="form-control" placeholder="Choose your photo...">
					<span class="input-group-btn input-group-sm">
						<button type="button" class="btn btn-fab btn-fab-mini">
							<i class="material-icons">{% trans 'attach_file' %}</i>
						</button>
					</span>
				</div>

				<span class="help-block">{% trans 'Representative image of the course' %}</span>

			</div>

			<div class="form-group  is-fileinput">
				<label for="id_category">{% trans 'CourseCategory' %}</label>


				<select class="form-control" id="id_category" name="category" required="">
					{% for category in categorys_courses %}
					<option value="{{category.id}}">{{category}}</option>
					{% endfor %}
				</select>

				<span class="help-block">{% trans 'CourseCategory which the course belongs' %}</span>

			</div>

			<div class="row text-center">
				<input type="submit" value="Create" class="btn btn-primary btn-raised">
			</div>
		</form>
	</div>
</div>
</br></br></br>
{% endblock %}
