{% extends 'course/view.html' %}

{% load static i18n %}
{% load widget_tweaks course_value_field django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}

  {{ block.super }}
  {% breadcrumb 'Replicate Course' 'course:replicate_course' %}

{% endblock %}

{% block content %}
<div class="card card-content">
    <div class="card-body">
		<form method="post" action="" enctype="multipart/form-data">
			{% csrf_token %}
			{% for field in form %}
				<div class="form-group {% if form.has_error %} has-error {% endif %} is-fileinput">
					{% if field.auto_id != 'id_public' %}
						<label for="{{ field.auto_id }}">{{ field.label }}</label>
					{% endif %}
					{% if field.auto_id == 'id_init_register_date' or field.auto_id == 'id_end_register_date' or field.auto_id == 'id_init_date' or field.auto_id == 'id_end_date'%}
							<input type="text" class="form-control date-picker" name="{{field.name}}" value="{{field.value|date:'SHORT_DATE_FORMAT'}}" min="{{now|date:'SHORT_DATE_FORMAT'}}">
					{% elif field.auto_id == 'id_public' %}
						{% value_field course field.name as value_field %}
						<div class="checkbox">
							<label>
									<input type="checkbox" name="{{field.name}}" {% if value_field %}checked="checked"{% endif %}><span class="checkbox-material"></span> {{field.name}}
							</label>
						</div>
					{% else %}
						{% if field.errors %}
							{% render_field field class='form-control' %}
						{% else %}
							{% value_field course field.name as value_field %}
							{% if field.auto_id == 'id_category' or field.auto_id == 'id_coordenator' %}
								{% get_value_choice value_field field.field.choices as field_choice%}
								<select class="form-control" id="{{field.auto_id}}" name="{{field.name}}" required="">
									{% for v, name in  field.field.choices%}
										<option value="{{v}}" {% if field_choice == v %}selected{% endif %}>{{name}}</option>
									{% endfor %}
								</select>
							{% elif field.auto_id == 'id_objectivies' or field.auto_id == 'id_content'%}
								<textarea class="form-control" cols="80" id="{{field.auto_id}}" name="{{field.name}}" rows="5">{{value_field}}</textarea>
							{% else %}
								{% render_field field class='form-control' value=value_field%}
							{% endif %}
						{% endif %}
					{% endif %}
					<span class="help-block">{{ field.help_text }}</span>
					{% if field.errors %}
					<div class="row">
					</br>
							<div class="alert alert-danger alert-dismissible" role="alert">
			  					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			  						<span aria-hidden="true">&times;</span>
		  						</button>
								<ul>
									{% for error in field.errors %}
										<li>{{ error }}</li>
									{% endfor %}
								</ul>
							</div>
					</div>
					{% endif %}
				</div>
			{% endfor %}
			<div class="row text-center">
					<input type="submit" value="{% trans 'Create' %}" class="btn btn-primary btn-raised" />
			</div>
      	</form>
	</div>
</div>
</br>
</br>
</br>
<script type="text/javascript">
    var locale = navigator.language || navigator.userLanguage;

    $('.date-picker').datepicker({
        language: locale,
    });

		$(document).ready(function() {
        $('#id_objectivies').summernote({'height':300});
        $('#id_content').summernote({'height':300});
    });
</script>
{% endblock %}
