{% extends 'base.html' %}

{% load static i18n permission_tags %}
{% load django_bootstrap_breadcrumbs %}

{% block style %}
  <link rel="stylesheet" href="{% static 'css/course/course.css' %}">
{% endblock style %}

{% block breadcrumbs %}

  {{ block.super }}
  {% breadcrumb 'Course detail' 'course:view' %}

{% endblock %}

{% block sidebar %}
<div class="panel panel-primary">
  <div class="panel-heading">
    <img src="{{ user.image.url }}" id="img" class="img-circle img-responsive">
  </br>
    <div class="row">
      <div class="col-xs-3 col-md-3">
        <i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i>
    </div>
        <div class="col-xs-3 col-md-3">
          <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
      </div>
        <div class="col-xs-3 col-md-3">
          <i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i>
      </div>
        <div class="col-xs-3 col-md-3">
          <i class="fa fa-google-plus-official fa-2x" aria-hidden="true"></i>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <ul class="nav nav-pills nav-stacked">
      <li><a href="{% url 'app:index' %}">{% trans "Home" %}</a></li>
      <li><a href="{% url 'users:profile' %}">{% trans "Profile" %}</a></li>
      {# <li><a href="">{% trans "Courses" %}</a></li>#}
    </ul>
  </div>
</div>
{% if courses.count > 0 %}
<div class="panel panel-primary">
  <div class="panel-heading">
    <h5>{% trans "Courses" %}</h5>
  </div>
  <div class="panel-body">
    <ul class="nav nav-pills nav-stacked">
      {% for course in courses %}
          <li><a href="{% url 'course:view' course.slug %}">{{course}}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endif %}
{% endblock %}

{% block content %}
<h3>{% trans "Subjects" %}</h3>
{% for subject in subjects %}
  <div class="panel panel-info">
    <div class="panel-heading">
      <div class="row">
<div class="col-md-10">

    <h3 class="panel-title"><a href="{% url 'course:view_subject' subject.slug %}"></a>{{subject}}</h3>

  </div>
  <div class="col-md-2 text-right">
    {% if user|has_role:'professor, system_admin' %}
      <a href="{% url 'course:update_subject' subject.slug %}" style="padding: 3px; margin: 3px;" class="btn btn-sm btn-default">
        <span class="glyphicon glyphicon-edit"></span>
      </a>
      <a href="{% url 'course:delete_subject' subject.slug %}" style="padding: 3px; margin: 3px;" class="btn btn-sm btn-danger">
        <span class="glyphicon glyphicon-trash"></span>
      </a>
    {% endif %}
  </div>
</div>
    </div>
    <div class="panel-body">
      <p><b>{% trans "Professor" %}: </b>{% for professor in subject.professors.all %}{% if not forloop.first %},{% endif %}
        {{professor}}{% if forloop.last %}.{% endif %}{% endfor %}</p>
        <p>
          <b>{% trans "Description" %}: </b>
          <i>
            {{subject.description}}
          </i>
        </p>
        <div class="row">
          <div class="col-xs-6 col-md-6">
            {# <p><b>{% trans "Begining" %}: </b>{{subject.init_date}}</p>#}
          </div>
          <div class="col-xs-6 col-md-6">
            {# <p><b>End: </b>23/08/2019</p>#}
          </div>
        </div>
    </div>
  </div>
{% endfor %}
{% endblock %}


{% block rightbar %}
<div class="panel panel-warning">
      <div class="panel-heading">
        <h3 class="panel-title">{% trans "Pending Stuffs" %}</h3>
      </div>
    <div class="panel-body">
      <p>{% trans 'No pending tasks at the moment.' %}</p>
      </div>
  </div>
{% endblock rightbar %}
