{% extends 'home_professor.html' %}

{% load static i18n permission_tags %}

{% block breadcrumbs %}
	<div class="row">
      	<div class="col-md-12">
            <ul class="breadcrumb">
          		<li><a href="{% url 'app:index' %}">{% trans 'Home' %}</a></li>
      			<li class="active">{{ course }}</li>
            </ul>
      	</div>
    </div>
{% endblock %}


{% block sidebar %}

{{block.super}}
<div class="row">
	<div class="col-md-12">
        <div class="panel panel-primary navigation">
          <div class="panel-heading">
            <h5>{% trans 'Subjects' %}</h5>
          </div>
          <div class="panel-body">
            <ul class="nav nav-pills nav-stacked">
	            {% for subject in subjects %}
	            	<li><a href="">{{subject.name}}</a></li>
	            {% endfor %}
            </ul>
          </div>
        </div>
      </div>
</div>
<!--<div class="list-group">
	  	<a href="{% url 'course:manage' %}" class="list-group-item">
	    	{% trans 'Courses' %}
	  	</a>
	  	<a href="{% url 'course:view' course.slug %}" class="list-group-item active">
	    	{% trans 'Course Info' %}
	  	</a>
	  	<a href="" class="list-group-item">
	    	{% trans 'Manage Modules' %}
	  	</a>
	  	{% if user|has_role:'professor, system_admin' %}
		  	<a href="{% url 'course:create' %}" class="list-group-item">
		    	{% trans 'Create Course' %}
		  	</a>
		  	<a href="{% url 'course:update' course.slug %}" class="list-group-item">
		    	{% trans 'Edit Course' %}
		  	</a>
		  	<a href="#" class="list-group-item">
		    	{% trans 'Participants' %}
		  	</a>
			<a href="" class="list-group-item">
		    	{% trans 'Course avaliations' %}
		  	</a>
			<a href="" class="list-group-item">
		    	{% trans 'Duplicate Course' %}
		  	</a>
		  	<a href="{% url 'course:delete' course.slug %}" class="list-group-item">
		    	{% trans 'Delete Course' %}
		  	</a>
		{% endif %}
	</div> -->
{% endblock %}

{% block content %}

<div class="row">
		<div class="col-sm-3">
			<img src="{{ course.image.url }}" class="img-responsive" />
		</div>
		<div class="col-sm-9">
			<h4>{{ course }}</h4>
			<span class="label label-info">{{ course.category }}</span>
			<span class="label label-warning">{{ course.max_students }} alunos no máximo</span>
			<p>
				<strong>{% trans 'Subscribes:' %} </strong> <em>de</em> <u>{{ course.init_register_date }}</u> <em>até</em> <u>{{ course.end_register_date }}</u>
			</p>
			<p>
				<strong>{% trans 'Period:' %} </strong> <em>de</em> <u>{{ course.init_date }}</u> <em>até</em> <u>{{ course.end_date }}</u>
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<p>
				<strong>{% trans 'Objectives:' %} </strong> {{ course.objectivies|linebreaks }}
			</p>
			<p>
				<strong>{% trans 'Work Plan:' %} </strong> {{ course.content|linebreaks }}
			</p>
		</div>
	</div>
	<div class="row">
      <div class="col-md-12">
        	<h3>Subjects</h3>
        	{% for subject in subjects %}
  		        <div class="panel panel-info">
		            <div class="panel-heading">
		              	<h3 class="panel-title">Subject 1</h3>
		              </div>
		              <div class="panel-body">
		                Dummy Info
		             </div>
              	</div>
        	{% endfor %}
        </div>
      </div>

{% endblock %}

{% block rightbar %}
{% endblock rightbar %}
