{% extends 'home.html' %}

{% load static i18n permission_tags custom_filters %}
{% load django_bootstrap_breadcrumbs %}

{% block style %}
  <link rel="stylesheet" href="{% static 'css/course/course.css' %}">
{% endblock style %}

{% block javascript %}
  <script type="text/javascript" src="{% static 'js/course.js' %}"></script>
{% endblock %}

{% block breadcrumbs %}

  {{ block.super }}
  {% breadcrumb 'Course detail' 'course:view' %}

{% endblock %}

{% block sidebar %}
  <div class="panel panel-primary navigation">
        <div class="panel-heading">
            <h5>{% trans 'Menu' %}</h5>
        </div>
        <div class="panel-body">
            <ul class="nav nav-pills nav-stacked">
                <li><a href="{% url 'core:home' %}">{% trans "Home" %}</a></li>
                <li><a href="{% url 'users:profile' %}">{% trans 'Profile' %}</a></li>
                <li><a href="{% url 'course:manage' %}">{% trans 'My Courses' %}</a></li>
                <li><a href="{% url 'core:guest' %}">{% trans 'All Courses' %}</a></li>
            </ul>
        </div>
    </div>

{% if user|has_role:'professor' and user in course.professors or user|has_role:'system_admin' %}

    <div class="panel panel-primary navigation">
    <div class="panel-heading">
        <h3 class="panel-title">{% trans "Actions" %}</h3>
    </div>
    <div class="panel-body">
        <ul class="nav nav-pills nav-stacked">
            <li><a href="teacher/course_participants_teacher.html" target="_self"> {% trans "Participants" %}</a></li>
            <li><a href="javascript:void(0)">{% trans "Replicate Subject" %}</a></li>
            <li><a href="javascript:void(0)">{% trans "Create Subject" %}</a></li>
            <li><a href="javascript:void(0)" data-toggle="modal" data-target="#myModal">{% trans "Create Topic" %}</a></li>
        </ul>
    </div>
</div>
{% endif %}

{% endblock %}

{% block content %}

  <div class="col-md-12">
    <div class="panel panel-info">
      <div class="panel-heading headingOne">
        <div class="row">
          <div class="col-xs-8 col-md-10 titleTopic">
            <h4>{{course}}</h4>
          </div>
          {% if user|has_role:'professor' and user in course.professors or user|has_role:'system_admin' %}
            <div class="col-xs-4 col-md-2" id="divMoreActions">
              <div class="btn-group">
                <button class="btn btn-default btn-sm dropdown-toggle" type="button" id="moreActions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-ellipsis-v fa-2x" aria-hidden="true"></i>
                <div class="ripple-container"></div></button>
                <ul class="dropdown-menu" aria-labelledby="moreActions">
                  <li><a href="javascript:void(0)" data-toggle="modal" data-target="#createSubject"><i class="fa fa-plus-square-o" aria-hidden="true"></i>&nbsp; {% trans "Create Subject" %}</a></li>
                  <li><a href="javascript:void(0)" data-toggle="modal" data-target="#myModal4"><i class="fa fa-files-o fa-fw" aria-hidden="true"></i>&nbsp; {% trans "Replicate" %}</a></li>
                  <li><a href="{% url 'course:update' course.slug %}"><i class="fa fa-pencil fa-fw" aria-hidden="true"></i>&nbsp; {% trans "Edit" %}</a></li>
                  <li><a href="javascript:void(0)" data-toggle="modal" data-target="#myModal2"><i class="fa fa-trash fa-fw" aria-hidden="true"></i>&nbsp; {% trans "Remove" %}</a></li>
                </ul>
              </div>
            </div>
          {% endif %}
      </div>
    </div>
    <div class="panel-body">
      <p><b>Course Name: </b>{{course.name}}</p>
      <p><b>Coordinator: </b>{{course.professors}}</p>
      <p>
        <b>Description:</b>
        <i>
          {{course.description}}
        </i>
      </p>

    </div>
  </div>
 
<!-- MODAL CREATE SUBJECT -->
<div class="modal" tabindex="-1" role="dialog  " id="createSubject">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{% trans "Create a New Subject" %}</h4>
      </div>
      <div class="modal-body">
        <div>
        </div>
        <div class="modal-footer">
          <button type="button" data-dismiss="modal" class="btn btn-default">{% trans "Cancel" %}</button>
          <a href="#" target="_self"><button type="button" class="btn btn-primary"> {% trans "Confirm" %}</button></a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="panel-group ui-accordion ui-widget ui-helper-reset ui-sortable" id="accordion" role="tablist" aria-multiselectable="false">
  <div>

  <div class="panel panel-info">
</div>


<!-- MODAL REMOVE -->
<div class="modal" id="removeSubject">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
        <p>{% trans "Are you sure you want to remove this subject?" %}</p>
      </div>
      <div class="modal-footer">

        <a href="http://127.0.0.1:8080/html/screens/users/teacher/home_course_teacher.html" target="_self"><button type="button" class="btn btn-primary">{% trans "Confirm" %}</button></a>

      </div>
    </div>
  </div>
</div>
</div>
<div>
    {% if request.GET.category == 'all' or none or request.GET.category == '' %}
      {% for subject in subjects %}
        <div class="panel panel-info panel_{{ subject.id }}">
          <div class="panel-heading headingTwo ui-sortable-handle" role="tab">
            <div class="row">
                <div class="col-xs-9 col-md-10 titleTopic">
                  <a role="button" data-toggle="collapse" data-parent="#accordion" href=".collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                  <h4 style="color:white">{{subject.name}}</h4>
                  </a>
                </div>
                {% if user|has_role:'professor' and user in subject.professors or user|has_role:'system_admin' %}
                  <div class="col-xs-3 col-md-2" id="divMoreActions">
                    <div class="btn-group">
                      <button class="btn btn-default btn-sm dropdown-toggle" type="button" id="moreActions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-ellipsis-v fa-2x" aria-hidden="true"></i>
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="moreActions">
                        <li><a href="javascript:void(0)" data-toggle="modal" data-target="#myModal3"><i class="fa fa-pencil fa-fw" aria-hidden="true"></i>&nbsp; Replicate</a></li>
                        <li><a href="javascript:void(0)" data-toggle="modal" data-target="#removeSubject2"><i class="fa fa-trash fa-fw" aria-hidden="true"></i>&nbsp; Remove</a></li>
                      </ul>
                    </div>
                  </div>
                {% endif %}

                {% if user|show_subject_subscribe:subject %}
                  <div class="col-xs-3 col-md-2">
                    <a onclick="subscribe($(this), '{% url 'course:subscribe_subject' subject.slug %}', {{ subject.id }}, '{% trans 'Are you sure you want to subscribe to this subject?' %}')" class="btn btn-sm btn-primary btn-raised">{% trans 'Subscribe' %}</a>
                  </div>
                {% endif %}
            </div>
          </div>
          <div class="panel-body">
              <p><b>{% trans "Professor" %}: </b>{% for professor in subject.professors.all %}{% if not forloop.first %},{% endif %}
                {{professor}}{% if forloop.last %}.{% endif %}{% endfor %}</p>
                <p>
                  <b>{% trans "Description" %}: </b>
                  <i>
                    {{subject.description}}
                  </i>
                </p>
                <div class="row">
                  <div class="col-xs-6 col-md-6">
                    <p><b>{% trans "Begining" %}: </b>{{subject.init_date}}</p>
                  </div>
                  <div class="col-xs-6 col-md-6">
                    <p><b>{% trans "End" %}: </b>{{subject.end_date}}</p>
                  </div>
                </div>
                <a href="{% url 'course:view_subject' subject.slug %}" class="btn btn-raised btn-default center-block view_btn" {% if user|show_subject_subscribe:subject %}style="display:none"{% endif %}>{% trans 'View Subject' %}<div class="ripple-container"></div></a>
            </div>
        </div>
      {% endfor %}
  {% else %}
        {% for subject in subjects_category %}
            {% if subject.category.name == request.GET.category %}
              <div class="panel panel-info panel_{{ subject.id }}">
          <div class="panel-heading headingTwo ui-sortable-handle" role="tab">
            <div class="row">
                <div class="col-xs-9 col-md-10 titleTopic">
                  <a role="button" data-toggle="collapse" data-parent="#accordion" href=".collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                  <h4 style="color:white">{{subject.name}}</h4>
                  </a>
                </div>
                {% if user|has_role:'professor' and user in subject.professors or user|has_role:'system_admin' %}
                  <div class="col-xs-3 col-md-2" id="divMoreActions">
                    <div class="btn-group">
                      <button class="btn btn-default btn-sm dropdown-toggle" type="button" id="moreActions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-ellipsis-v fa-2x" aria-hidden="true"></i>
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="moreActions">
                        <li><a href="javascript:void(0)" data-toggle="modal" data-target="#myModal3"><i class="fa fa-pencil fa-fw" aria-hidden="true"></i>&nbsp; Replicate</a></li>
                        <li><a href="javascript:void(0)" data-toggle="modal" data-target="#removeSubject2"><i class="fa fa-trash fa-fw" aria-hidden="true"></i>&nbsp; Remove</a></li>
                      </ul>
                    </div>
                  </div>
                {% endif %}
                {% if user|show_subject_subscribe:subject %}
                  <div class="col-xs-3 col-md-2">
                    <a onclick="subscribe($(this), '{% url 'course:subscribe_subject' subject.slug %}', {{ subject.id }}, '{% trans 'Are you sure you want to subscribe to this subject?' %}')" class="btn btn-sm btn-primary btn-raised">{% trans 'Subscribe' %}</a>
                  </div>
                {% endif %}
            </div>
          </div>
          <div class="panel-body">
              <p><b>{% trans "Professor" %}: </b>{% for professor in subject.professors.all %}{% if not forloop.first %},{% endif %}
                {{professor}}{% if forloop.last %}.{% endif %}{% endfor %}</p>
                <p>
                  <b>{% trans "Description" %}: </b>
                  <i>
                    {{subject.description}}
                  </i>
                </p>
                <div class="row">
                  <div class="col-xs-6 col-md-6">
                    <p><b>{% trans "Begining" %}: </b>{{subject.init_date}}</p>
                  </div>
                  <div class="col-xs-6 col-md-6">
                    <p><b>{% trans "End" %}: </b>{{subject.end_date}}</p>
                  </div>
                </div>
                <a href="{% url 'course:view_subject' subject.slug %}" class="btn btn-raised btn-default center-block view_btn" {% if user|show_subject_subscribe:subject %}style="display:none"{% endif %}>{% trans 'View Subject' %}<div class="ripple-container"></div></a>
            </div>
        </div>
            {% endif %}
        {% endfor %}
  {% endif %}

{% if  user|has_role:'professor' and user in course.professors.all or user|has_role:'system_admin' %}

    <div class="form-group">
    <a href="{% url 'course:create_subject' course.slug %}" data-toggle="modal" data-target="" class="btn btn-primary btn-lg btn-block btn-raised">{% trans 'Create Subject' %}<div class="ripple-container"></div></a>
  </div>
{% endif %}

<!-- MODAL REMOVE -->
  <div class="modal" id="removeSubject2">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body">
          <p> {% trans "Are you sure you want to remove this subject?" %}</p>
        </div>
        <div class="modal-footer">

          <a href="http://127.0.0.1:8080/html/screens/users/teacher/home_course_teacher.html" target="_self"><button type="button" class="btn btn-primary">{% trans "Confirm" %}</button></a>

        </div>
      </div>
    </div>
  </div>


</div>
</div>
</div>

{% endblock %}
