<!DOCTYPE html>
{% load static i18n %}
<html>
  <head>
    <meta charset="utf-8">
    <title>{% trans "Web Conference" %}</title>
    <script type="text/javascript" src="{% static 'js/jquery-3.1.0.min.js' %}"></script>
    <!-- <script src="https://meet.jit.si/external_api.js"></script> -->
    <script src="{% static 'js/jitsi.js' %}"></script>
    <style>
      body, html, #jitsi, iframe{
          margin-left: -1px;
          margin-right: 0px;
          margin-top: -2px;
          margin-bottom: -1px;
          padding: 0px;
          width: 100%;
          min-height: 100%;
          height: 100%;
      }
      </style>
  </head>
  <body>
    <div id="jitsi">

    </div>

    <script>
    // code to start jitsi api
      var domain = "{{domain}}"; // domain that jitsi will itself connect
      var room = "{{name_room}}"; // name of the room to be created
      var width = $("body").width(); // width of the window to be created
      var height = $("body").height(); // height of the window to be created
      var html = document.getElementById("jitsi");
      var api = new JitsiMeetExternalAPI(domain, room, width, height,html);
      // window.onload = initpage;
      window.onload = initpage;
      function initpage(){
        api.executeCommand('displayName', '{{user}}');
        api.executeCommand('email', '{{user.email}}');
        api.executeCommand('avatarUrl', '{{user_image}}');
        api.addEventListener('videoConferenceLeft', function(res){
          console.log(res);
          console.log("saiu");
          $.ajax({
            method: "GET",
      			url: "{% url 'webconferences:saiu'%}",
      			dataType: 'json',
      			data: $.extend(res,{'email':'{{user_email}}'}),
      			success: function(response) {
              window.location.replace(response['url']);
      				console.log(response);
      			},
      			error: function(response) {
      				console.log(response);
      			}
      		});
        });
      }
      // callfunction();
      var callCount = 1;
      var repeater = setInterval(function () {
        console.log(callCount);
        if (callCount < 10) {

          var doc = document.getElementById('jitsiConferenceFrame0').document;
          // var iframe = document.getElementById('jitsiConferenceFrame0');
          // var innerDoc = (iframe.contentDocument) ? iframe.contentDocument : iframe.contentWindow.document;

          // var ls = doc.getElementById('toolbar_button_link');
          console.log(doc);
          // $("#jitsiConferenceFrame0").contents().find("#toolbar_button_link").remove();
          // $("a#toolbar_button_link.button.icon-link").remove();
          // console.log($("#toolbar_contact_list").remove());
          // $("#toolbar_button_link").remove(); //utilizandos para retirar o botão de compartilhar do jitsi
          callCount += 1;
          console.log("aqui");
        } else {
          clearInterval(repeater);
        }
      }, 1000);

      // api.executeCommands({displayName: ['Jailson']});
    </script>

  </body>
</html>
