{% load i18n notification_filters pagination %}

<div class="row">
	<div class="col-md-12">
		<div class="col-md-offset-3 col-md-5">
			<h4 class="text-center history-header">{{ rows }} {% trans 'rows' %}</h4>
		</div>
		<div class="col-md-4">
			<form action="" method="GET" class="form-horizontal">
				<div class="form-group">
	                <label class="col-md-4 history-control-label control-label">{% trans 'Search' %}:</label>
	                <div class="col-md-8">
	                	<input type="text" class="form-control" name="search" placeholder="{% trans 'Search...' %}" />
	                </div>
	            </div>
	        </form>
	    </div>
		<table class="table table-striped table-bordered">
			<thead>
				<th>
					<a href="{{ request|order_href:'creation_date' }}">
						{% trans 'Date' %} <i class="fa fa-fw {{ request|order_icon_class:'creation_date' }} pull-right"></i>
					</a>
				</th>
				<th>
					<a href="{{ request|order_href:'resource' }}">
						{% trans 'Resource' %} <i class="fa fa-fw {{ request|order_icon_class:'resource' }} pull-right"></i>
					</a>
				</th>
				<th>
					<a href="{{ request|order_href:'task' }}">
						{% trans 'Task' %} <i class="fa fa-fw {{ request|order_icon_class:'task' }} pull-right"></i>
					</a>
				</th>
				<th>
					<a href="{{ request|order_href:'final_date' }}">
						{% trans 'Final Date' %} <i class="fa fa-fw {{ request|order_icon_class:'final_date' }} pull-right"></i>
					</a>
				</th>
				<th>
					<a href="{{ request|order_href:'notification' }}">
						{% trans 'Notification' %} <i class="fa fa-fw {{ request|order_icon_class:'notification' }} pull-right"></i>
					</a>
				</th>
				<th>
					<a href="{{ request|order_href:'obs' }}">
						{% trans 'Observation' %} <i class="fa fa-fw {{ request|order_icon_class:'obs' }} pull-right"></i>
					</a>
				</th>
			</thead>
			<tbody>
				{% if rows > 0 %}
					{% for notification in notifications %}
						<tr>
							<td>{{ notification.creation_date|date:"SHORT_DATE_FORMAT" }}</td>
							<td>{{ notification.task.resource }}</td>
							<td>{{ notification.task.get_action_display }}</td>
							<td>{{ notification.task.end_date|date:"SHORT_DATE_FORMAT"|default:_('Not Informed') }}</td>
							<td>{{ notification.level|warning_msg }}</td>
							<td>
							</td>
						</tr>
					{% endfor %}
				{% else %}
					<tr>
						<td colspan="6" class="text-center">{% trans 'No results found' %}</td>
					</tr>
				{% endif %}
			</tbody>
		</table>

		{% pagination request paginator page_obj %}
	</div>
</div>