<!-- 
Copyright 2016, 2017 UFPE - Universidade Federal de Pernambuco
 
Este arquivo é parte do programa Amadeus Sistema de Gestão de Aprendizagem, ou simplesmente Amadeus LMS
 
O Amadeus LMS é um software livre; você pode redistribui-lo e/ou modifica-lo dentro dos termos da Licença Pública Geral GNU como publicada pela Fundação do Software Livre (FSF); na versão 2 da Licença.
 
Este programa é distribuído na esperança que possa ser útil, mas SEM NENHUMA GARANTIA; sem uma garantia implícita de ADEQUAÇÃO a qualquer MERCADO ou APLICAÇÃO EM PARTICULAR. Veja a Licença Pública Geral GNU para maiores detalhes.
 
Você deve ter recebido uma cópia da Licença Pública Geral GNU, sob o título "LICENSE", junto com este programa, se não, escreva para a Fundação do Software Livre (FSF) Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA.
-->

{% load i18n notification_filters pagination permissions_tags %}

{% subject_permissions request.user subject as has_subject_permissions %}

<div class="row">
	<div class="col-md-12">
		<div class="col-md-offset-3 col-md-5">
			<h4 class="text-center history-header">{{ rows }} {% trans 'rows' %}</h4>
		</div>
		<div class="col-md-4">
			<form action="" method="GET" class="form-horizontal">
				<input type="hidden" value="{{ student }}" name="selected_student" />
				<div class="form-group">
	                <label class="col-md-4 history-control-label control-label">{% trans 'Search' %}:</label>
	                <div class="col-md-8">
	                	<input type="text" class="form-control" name="search" value="{{ searched }}" placeholder="{% trans 'Insert date or resource' %}" />
	                </div>
	            </div>
	        </form>
	    </div>
		<table class="table table-striped table-bordered">
			<thead>
				<th>
					<a href="{{ request|add_student:student|order_href:'creation_date' }}">
						{% trans 'Date' %} <i class="fa fa-fw {{ request|order_icon_class:'creation_date' }} pull-right"></i>
					</a>
				</th>
				<th>
					<a href="{{ request|add_student:student|order_href:'resource' }}">
						{% trans 'Resource' %} <i class="fa fa-fw {{ request|order_icon_class:'resource' }} pull-right"></i>
					</a>
				</th>
				<th>
					<a href="{{ request|add_student:student|order_href:'task' }}">
						{% trans 'Task' %} <i class="fa fa-fw {{ request|order_icon_class:'task' }} pull-right"></i>
					</a>
				</th>
				<th>
					<a href="{{ request|add_student:student|order_href:'final_date' }}">
						{% trans 'Final Date' %} <i class="fa fa-fw {{ request|order_icon_class:'final_date' }} pull-right"></i>
					</a>
				</th>
				<th>
					<a href="{{ request|add_student:student|order_href:'notification' }}">
						{% trans 'Notification' %} <i class="fa fa-fw {{ request|order_icon_class:'notification' }} pull-right"></i>
					</a>
				</th>
				<th>
					<a href="{{ request|add_student:student|order_href:'aware' }}">
						{% trans 'Aware' %} <i class="fa fa-fw {{ request|order_icon_class:'aware' }} pull-right"></i>
					</a>
				</th>	
				<th>
					<a href="{{ request|add_student:student|order_href:'obs' }}">
						{% trans 'Observation' %} <i class="fa fa-fw {{ request|order_icon_class:'obs' }} pull-right"></i>
					</a>
				</th>
			</thead>
			<tbody>
				{% if rows > 0 %}
					{% for notification in notifications %}
						<tr>
							<td>{{ notification.creation_date|date:"SHORT_DATE_FORMAT" }}</td>
							<td>{{ notification.task.resource }}</td>
							<td>{{ notification.task.get_action_display }}</td>
							<td>{{ notification.task.end_date|date:"SHORT_DATE_FORMAT"|default:_('Not Informed') }}</td>
							<td>{{ notification.level|warning_msg:has_subject_permissions }}</td>
							<td>{{ notification.viewed|viewed_msg }}</td>
							<td>{{ notification|observation }}</td>
						</tr>
					{% endfor %}
				{% else %}
					<tr>
						<td colspan="7" class="text-center">{% trans 'No results found' %}</td>
					</tr>
				{% endif %}
			</tbody>
		</table>

		{% pagination request paginator page_obj %}
	</div>
</div>