<!-- 
Copyright 2016, 2017 UFPE - Universidade Federal de Pernambuco
 
Este arquivo é parte do programa Amadeus Sistema de Gestão de Aprendizagem, ou simplesmente Amadeus LMS
 
O Amadeus LMS é um software livre; você pode redistribui-lo e/ou modifica-lo dentro dos termos da Licença Pública Geral GNU como publicada pela Fundação do Software Livre (FSF); na versão 2 da Licença.
 
Este programa é distribuído na esperança que possa ser útil, mas SEM NENHUMA GARANTIA; sem uma garantia implícita de ADEQUAÇÃO a qualquer MERCADO ou APLICAÇÃO EM PARTICULAR. Veja a Licença Pública Geral GNU para maiores detalhes.
 
Você deve ter recebido uma cópia da Licença Pública Geral GNU, sob o título "LICENSE", junto com este programa, se não, escreva para a Fundação do Software Livre (FSF) Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA.
-->

{% extends 'base.html' %}

{% load static i18n pagination permissions_tags subject_counter %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}

    {% if category %}
    	{% breadcrumb category 'subjects:cat_view' category.slug %}
    {% endif %}

    {% breadcrumb 'Pendencies' 'notifications:manage' %}

{% endblock %}

{% block content %}
	<input type="hidden" id="pend_url" value="{% url 'notifications:manage' %}" />
	<h5>{% trans 'This pendencies list is updated every 24 hours. Last update was in:' %} {{ last_update|default:_('Not determined') }}</h5>
	{% if notifications.count > 0 %}
		<p>{% trans 'You got pendencies in the following subjects' %}: </p>
		<div class="panel-group" id="subject-accordion" role="tablist" aria-multiselectable="true">
			{% for notification in notifications %}
				<div class="panel panel-info subject-panel">
            		<div class="panel-heading">
            			<div class="row">
			                <div class="col-md-12 category-header">
			                    <h4 class="panel-title" data-title="{{ notification.task__resource__topic__subject__name }}">
			                        <a class="category-course-link pull-left" data-parent="#subject-accordion" data-toggle="collapse" href="#subject_{{ notification.task__resource__topic__subject }}">
			                            <button class="btn btn-default btn-xs text-center cat-selector"><i class="fa fa-angle-right fa-2x" aria-hidden="true"></i></button> {{ notification.task__resource__topic__subject__name }} ({{ notification.total }})
			                        </a>
			                    </h4>
			                </div>
			            </div>
            		</div>
            		<div id="subject_{{ notification.task__resource__topic__subject }}" class="panel-collapse collapse pendencies-content" data-id="{{ notification.task__resource__topic__subject }}">
            			<div id="core-subjects-options-div">
					        <ul class="core-subjects-options">
				                <a href="javascript:getPendencies({{ notification.task__resource__topic__subject }})"><li class="pendencies_link active">{% trans "Actual Pendencies" %} ({{ notification.total }})</li></a>
				                <a href="javascript:getHistory({{ notification.task__resource__topic__subject }})"><li class="history_link">{% trans "Notifications History" %}</li></a>
					        </ul>
					    </div>

					    <div class="pendencies" data-url="{% url 'notifications:ajax_view' notification.task__resource__topic__subject %}">
					    	<input type="hidden" class="view_log_url" value="{% url 'notifications:view_log' notification.task__resource__topic__subject %}" />
            				<input type="hidden" class="view_log_id" value="" />
					    	
					    	<div id="pendencies_list_{{ notification.task__resource__topic__subject }}" class="pendencies-cards"></div>
					    	<div class="holder"></div>
					    </div>

					    <div class="history" data-url="{% url 'notifications:ajax_history' notification.task__resource__topic__subject %}">
					    	<input type="hidden" class="hist_log_url" value="{% url 'notifications:hist_log' notification.task__resource__topic__subject %}" />
            				<input type="hidden" class="hist_log_id" value="" />

					    	<div class="history_data"></div>
					    	<div class="text-center">
					    		<div class="holder"></div>
					    	</div>
					    </div>
            		</div>
            	</div>
			{% endfor %}

			{% pagination request paginator page_obj %}
		</div>
	{% else %}
		<div class="text-center no-subjects">
			<i class="fa fa-exclamation-triangle"></i>
			<h4>{% trans 'You do not posses any pendency.' %}</h4>			
		</div>
	{% endif %}

	<script type="text/javascript" src="{% static 'js/pendencies.js' %}"></script>
{% endblock %}