<!-- 
Copyright 2016, 2017 UFPE - Universidade Federal de Pernambuco
 
Este arquivo é parte do programa Amadeus Sistema de Gestão de Aprendizagem, ou simplesmente Amadeus LMS
 
O Amadeus LMS é um software livre; você pode redistribui-lo e/ou modifica-lo dentro dos termos da Licença Pública Geral GNU como publicada pela Fundação do Software Livre (FSF); na versão 2 da Licença.
 
Este programa é distribuído na esperança que possa ser útil, mas SEM NENHUMA GARANTIA; sem uma garantia implícita de ADEQUAÇÃO a qualquer MERCADO ou APLICAÇÃO EM PARTICULAR. Veja a Licença Pública Geral GNU para maiores detalhes.
 
Você deve ter recebido uma cópia da Licença Pública Geral GNU, sob o título "LICENSE", junto com este programa, se não, escreva para a Fundação do Software Livre (FSF) Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA.
-->

{% extends 'subjects/view.html' %}

{% load static i18n pagination permissions_tags subject_counter %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}

    {% breadcrumb 'Pendencies' 'notifications:view' subject.slug %}
{% endblock %}

{% block content %}
	{% subject_permissions request.user subject as has_subject_permissions %}

	{% if subject.visible %}
		<div class="panel panel-info subject-panel">
        	<div class="panel-heading">
	{% else %}
		<div class="panel panel-info subject-panel-invisible">
        	<div class="panel-heading panel-invisible">
    {% endif %}
    		<div class="row">
                <div class="col-md-12 category-header">
                    <h4 class="panel-title" style="margin-top: 10px; margin-bottom: 8px">
                        <span>{{ subject }} / {% trans 'Pendencies' %}</span>
                    </h4>
                </div>
            </div>
    	</div>
    	<div id="{{subject.slug}}" class="panel-collapse in collapse pendencies-content subject-related-panel">
    		{% if has_subject_permissions %}
				<form id="student_goals" action="" method="POST">
					{% csrf_token %}
					<select name="selected_student" onchange="$('#student_goals').submit();">
						{% for stu in sub_students %}
							<option value="{{ stu.email }}" {% if stu.email == student %}selected{% endif %}>{{ stu }}</option>
						{% endfor %}
					</select>
				</form>
				<br clear="all" />
			{% endif %}

			<h5>{% trans 'This pendencies list is updated every 24 hours. Last update was in:' %} {{ last_update|default:_('Not determined') }}</h5>
            <div id="core-subjects-options-div">
		        <ul class="core-subjects-options">
		        	{% if has_subject_permissions %}
		        		<form id="student_pend" action="{% url 'notifications:view' subject.slug %}" method="POST">
		        			{% csrf_token %}
		        			<input type="hidden" value="{{ student }}" name="selected_student" />
		        			<a onclick="$('#student_pend').submit();" style="cursor:pointer"><li {% if not history %} class="active" {% endif %}>{% trans "Actual Pendencies" %} ({{ total }})</li></a>
		        		</form>
		        		<form id="student_history" action="{% url 'notifications:history' subject.slug %}" method="POST">
		        			{% csrf_token %}
		        			<input type="hidden" value="{{ student }}" name="selected_student" />
		        			<a onclick="$('#student_history').submit();" style="cursor:pointer"><li {% if history %} class="active" {% endif %}>{% trans "Notifications History" %}</li></a>
		        		</form>
		        	{% else %}
		                <a href="{% url 'notifications:view' subject.slug %}"><li {% if not history %} class="active" {% endif %}>{% trans "Actual Pendencies" %} ({{ total }})</li></a>
		                <a href="{% url 'notifications:history' subject.slug %}"><li {% if history %} class="active" {% endif %}>{% trans "Notifications History" %}</li></a>
		            {% endif %}
		        </ul>
		    </div>

		    {% if not history %}

			    {% if notifications.count > 0 %}
			    	{% include 'notifications/_view.html' %}

			    	{% pagination request paginator page_obj %}
			    {% else %}
			    	<div class="text-center no-subjects">
		                <i class="fa fa-exclamation-triangle"></i>
		                {% if has_subject_permissions %}
							<h4>{% trans 'The student do not posses any pendency.' %}</h4>
						{% else %}
		                	<h4>{% trans 'You do not posses any pendency in this subject' %}</h4>
		                {% endif %}
		            </div>
			    {% endif %}
			{% else %}
				{% include 'notifications/_history.html' %}
			{% endif %}
        </div>
    </div>
	
	<script type="text/javascript" src="{% static 'js/pendencies.js' %}"></script>
	<script type="text/javascript">
		$(function () {
			metaFunctions();
		});
	</script>
{% endblock %}

{% block addtional_scripts %}
	<script type="text/javascript">
		sessionSecurity.confirmFormDiscard = undefined;
	</script>
{% endblock %}