{% extends 'subjects/view.html' %}

{% load static i18n pagination permissions_tags subject_counter %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}

    {% breadcrumb 'Pendencies' 'notifications:view' subject.slug %}
{% endblock %}

{% block content %}
	{% if subject.visible %}
		<div class="panel panel-info subject-panel">
        	<div class="panel-heading">
	{% else %}
		<div class="panel panel-info subject-panel-invisible">
        	<div class="panel-heading panel-invisible">
    {% endif %}
    		<div class="row">
                <div class="col-md-12 category-header">
                    <h4 class="panel-title" style="margin-top: 10px; margin-bottom: 8px">
                        <span>{% trans 'Pendencies' %}</span>
                    </h4>
                </div>
            </div>
    	</div>
    	<div id="{{subject.slug}}" class="panel-collapse in collapse pendencies-content">
            <div id="core-subjects-options-div">
		        <ul class="core-subjects-options">
	                <a href="{% url 'notifications:view' subject.slug %}"><li {% if not history %} class="active" {% endif %}>{% trans "Actual Pendencies" %} ({{ total }})</li></a>
	                <a href="{% url 'notifications:history' subject.slug %}" ><li {% if history %} class="active" {% endif %}>{% trans "Notifications History" %}</li></a>
		        </ul>
		    </div>

		    {% if not history %}
			    {% if notifications.count > 0 %}
			    	{% for notification in notifications %}
			    		{% include 'notifications/_view.html' %}
			    	{% endfor %}

			    	{% pagination request paginator page_obj %}
			    {% else %}
			    	<div class="text-center no-subjects">
		                <i class="fa fa-exclamation-triangle"></i>
		                <h4>{% trans 'You do not posses any pendency in this subject' %}</h4>
		            </div>
			    {% endif %}
			{% else %}
				{% include 'notifications/_history.html' %}
			{% endif %}
        </div>
    </div>
	
	<script type="text/javascript">
		$(function () {
			var locale = navigator.language || navigator.userLanguage;

		    $('[data-toggle="popover"]').popover({
		    	html: true,
		        content: function () {
		            return $(".popover").html();
		        }
			}).on('show.bs.popover', function (e) {
				$('[data-toggle="popover"]').not(e.target).popover('hide');
			}).on('shown.bs.popover', function (e) {
				if($(this).is(e.target)){
					var popover = $(this),
						datetime = popover.parent().find('.datetimepicker'),
						form = popover.parent().find('form:visible'),
						cancel = popover.parent().find('.cancel:visible'),
						save = popover.parent().find('.save:visible');

					if (typeof(datetime.data("DateTimePicker")) != "undefined") {
						datetime.data("DateTimePicker").destroy();
					}
				    
				    datetime.datetimepicker({
				    	format: "YYYY-MM-DD HH:mm",
				    	locale: locale,
				        inline: true,
				        sideBySide: false
				    });

				    cancel.on("click", function () {
				    	popover.popover('hide');
				    });	

				    save.on("click", function () {
				    	var meta = datetime.data('date'),
				    		url = form.attr('action'),
				    		method = form.attr('method'),
				    		token = form.find('input[name="csrfmiddlewaretoken"]').val(),
				    		notification = form.find('input[name="id"]').val();
				    					    	
				    	$.ajax({
				    		url: url,
				    		method: method,
				    		data: {'csrfmiddlewaretoken': token, 'meta': meta, 'id': notification},
				    		dataType: 'json',
				    		success: function (response) {
				    			if (response.error) {
				    				alertify.error(response.message);
				    			} else {
				    				alertify.success(response.message);
				    				popover.popover('hide');
				    			}
				    		}
				    	});
				    });
				}
			}).on('hide.bs.popover', function (e) {
				if($(this).is(e.target)){
					var popover = $(this),
						datetime = popover.parent().find('.datetimepicker');

					if (typeof(datetime.data("DateTimePicker")) != "undefined") {
						datetime.data("DateTimePicker").destroy();
					}

					datetime.html('');
				}
			}).on('hidden.bs.popover', function (e) {
			    $(e.target).data("bs.popover").inState.click = false;
			}); 
		});
	</script>
{% endblock %}