{% extends "admin_index.html" %}

{% block content %}
	{% load static %}
		<div id="pTitle" class="pTitle">
			<h2>Colegas de Sala</h2>
		</div>
		<div id="pBreadCrumbs" class="pBreadCrumbs">
			<ul id="breadcrumb">
				<li><a href="{% url 'index' %}">Página Inicial</a></li>
				<li>Colegas de Sala</li>
			</ul>
		</div>
		<div id="pLeftMenu" class="pLeftMenu">
			<div id="side_menu_1">
				<ul id="menu_sessoes">
					<li>
						<a href="{% url 'profile' %}"><img src="{% static 'imgs/menu/user-info-16x16.png' %}" border="0" title="Meu Perfil" />&nbsp;Meu Perfil</a>
					</li>
					<li>
						<a href="{% url 'editar_profile' %}">
							<img src="{% static 'imgs/menu/user-edit-16x16.png' %}" border="0" title="Editar Perfil" />&nbsp;Editar Perfil
						</a>
					</li>
					<li>
						<a href="{% url 'alterar_senha' %}"><img src="{% static 'imgs/menu/user-password-16x16.png' %}" border="0" title="Trocar Senha" />&nbsp;Trocar Senha</a>
					</li>
					
					<li><img src="{% static 'imgs/menu/user-group-16x16.png' %}" border="0" title="Colegas de Sala" />&nbsp;<b>Colegas de Sala</b></li>
	         		<li>
	         			<a href="/amadeuslms/openIDActions.do?method=showViewManagerOpenIDs"><img src="{% static 'imgs/menu/openid.png' %}" border="0" title="Google Account"/>&nbsp;Google Account</a>
		        	</li>
			    </ul>
			</div>
		</div>
		<div id="pContent" class="pContent">
			
				<div class="containerTitle">
					<label class="labelAttribute"><a href="{% url 'dados_curso' %}">Curso01</a></label>
				</div>
				
				
				Nada encontrado para exibir.
				<br />
			
				<div class="containerTitle">
					<label class="labelAttribute"><a href="{% url 'dados_curso' %}">Python</a></label>
				</div>
				
				
				Nada encontrado para exibir.
				<br />
			
				<div class="containerTitle">
					<label class="labelAttribute"><a href="{% url 'dados_curso' %}">Curso Amadeus - Toscano</a></label>
				</div>
				
				
				
<table class="displaytag" id="participant">
<tbody>
<tr class="odd">
<td>
					
					
						<a href="{% url 'profile' %}"><div class="smallPicture">
							<img class="smallPhoto" src="user.do?method=showPhoto&id=107" />
						</div></a>
					
					
					<label id="userStatus107" class="offlineUser" title="">&nbsp;</label>
					Julio Jose de Oliveira Ribeiro Toscano de Brito
					<br /><br />
					<font class="smallPictureEmail">jjortb@cin.ufpe.br</font>
					<script type="text/javascript">userStatus(107);</script>
				</td></tr></tbody></table>
				<br />
			
		</div>
		<div id="pRightMenu" class="pRightMenu"></div>
{% endblock %}