{% extends 'base.html' %}

{% load i18n %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}

  {% clear_breadcrumbs %}
  {% breadcrumb 'Home' 'app:index' %}

{% endblock %}

{% block render_breadcrumbs %}
  {% render_breadcrumbs %}
{% endblock %}


{% block sidebar %}
    <div class="panel panel-primary navigation">
        <div class="panel-heading">
            <h5>{% trans 'Menu' %}</h5>
        </div>
        <div class="panel-body">
        	<ul class="nav nav-pills nav-stacked">
              	<li><a href="{% url 'users:profile' %}">{% trans 'Profile' %}</a></li>
              	<li><a href="{% url 'course:manage' %}">{% trans 'My Courses' %}</a></li>
              	<li><a href="javascript:void(0)">{% trans 'Google accounts' %}</a></li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block content %}
	<h3>{% trans 'Notifications' %}</h3>
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-success alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <p>{{ message }}</p>
        </div>
      {% endfor %}
    {% endif %}
    <div class="panel panel-default">
      	<div class="panel-body">
        	His course has notified a new activity!
      	</div>
      	<div class="panel-footer">
        	Go
      	</div>
    </div>
    <div class="panel panel-default">
      	<div class="panel-body">
        	His teacher has notified a new material!
      	</div>
      	<div class="panel-footer">
        	Go
      	</div>
    </div>
    <div class="panel panel-default">
      	<div class="panel-body">
            You have a new guardian!
      	</div>
      	<div class="panel-footer">
        	Go
      	</div>
    </div>
{% endblock %}
