<!-- 
Copyright 2008, 2009 UFPE - Universidade Federal de Pernambuco
 
Este arquivo é parte do programa Amadeus Sistema de Gestão de Aprendizagem, ou simplesmente Amadeus LMS
 
O Amadeus LMS é um software livre; você pode redistribui-lo e/ou modifica-lo dentro dos termos da Licença Pública Geral GNU como
publicada pela Fundação do Software Livre (FSF); na versão 2 da Licença.
 
Este programa é distribuído na esperança que possa ser útil, mas SEM NENHUMA GARANTIA; sem uma garantia implícita de ADEQUAÇÃO a qualquer MERCADO ou APLICAÇÃO EM PARTICULAR. Veja a Licença Pública Geral GNU para maiores detalhes.
 
Você deve ter recebido uma cópia da Licença Pública Geral GNU, sob o título "LICENCA.txt", junto com este programa, se não, escreva para a Fundação do Software Livre (FSF) Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA.
-->
{% load static %}

<html>
	<head>
		<title>Amadeus Mobile</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<!--<META HTTP-EQUIV="Refresh" CONTENT="2; URL=/amadeuslms/mobile/login/loginHtml.jsp">-->
		
	</head>
	<body>
		<div align="center">
			<img src="{% static 'imgs/amadeus_mobile.jpg' %}" width="120px" height="150px" alt="logo"> 
			<h2>Você está sendo direcionado para a página do Amadeus Mobile.</h2>
		</div>
	</body>
</html>