
.modAll {
	margin: 0px;
}

.modBody {
	background: transparent url(../imgs/bg-mod.png) repeat-x scroll 0 0;
	border:1px solid #006633;
	margin-bottom:4px;
	margin-top:4px;
}

.modTitle, .modTitleName, .modTitleVisible, .modTitlePosition {
	border-bottom:1px solid #999999;
	font-weight:bold;
	padding:2px;
}

.modAllTitle {
	width: 100%;
	padding: 0;
	border-spacing: 0; 
	margin-bottom: 4px;
}

.modTitleName {
	width: 70%;
}

.modTitleVisible {
	width: 20%;
	text-align: center;
}
	
.modTitlePosition {
	width: 10%;
	text-align: center;
}

.modLine {
	padding-left:4px;
	text-align: left;
}
	
.modTeachers, .modAssistants {
	font-size:11px;
	margin:1px;
	padding:2px;
}

.modAssistants {

}

.modDescription, .modData {
	padding:4px 8px 2px;
	font-size:11px;
	margin:1px;
}
.modData {
	text-align: right;
}

.modHeader {
	border-bottom:1px solid #999999;
	font-weight:bold;
	padding:5px;
	text-align: left;
}