{% load i18n %}

<div class="form-group" id="multipleChoice">

  <label for="questionName" class="col-md-2 control-label">{% trans 'Question' %}</label>


  <div class="col-md-10">
    <textarea class="form-control" rows="1" id="questionName" placeholder="Wording"></textarea>
  </div>


</div>
<div class="form-group">
  <label for="alternative" class="col-md-2 control-label">{% trans 'Alternatives' %}</label>
  <div class="col-md-10" id="radios">
    <div class="radio radio-primary">
      <label>
        <input checked type="radio" name="alternatives" id="alternative1" value="1">
        <textarea class="form-control" rows="1" placeholder="Write your alternative"></textarea>
      </label>
    </div>
    <div class="radio radio-primary">
      <label>
        <input type="radio" name="alternatives" id="alternative2" value="2">
        <textarea class="form-control" rows="1" placeholder="Write your alternative"></textarea>
      </label>
    </div>
  </div>
</div>
<!-- new alternative button -->
<div class="form-group">
  <div class="col-md-12 col-md-offset-2">
  <button type="button" class="btn btn-primary" id="newAlternative">{% trans 'New Alternative' %]</button>
  </div>
</div>
<div class="form-group">
  <div class="col-md-12 col-md-offset-2">
  <button type="submit" class="btn btn-primary">Save</button>
  <button type="cancel" class="btn btn-default">Cancel</button>
  </div>
</div>
